In [1]:
print("Hello World")

Hello World

In [2]:
print("Hi")
print("Everyone!")

Hi
Everyone!

## What is Python?

1. It is a Programming Language used to communicate with machine.

2. It is beginner Friendly. It is Easy To understand , Best for All Data Related fields.

3. It's an open source. Free For All, And Base Code is Publicly 
   Available as a Documentation [Python.org](https://www.python.org/doc/).

4. It is Platform Independent (.byte code is generated) which can be used in any OS.

5. A Case Sensitive Language.

6. An Interpreted Language where each block of code is run and executed.

7. Rich in Libraries (Numpy, Pandas, MatplotLib, Seaborn, SQLAlchemy)

8. It is an Object Oriented Programming Language (Classes/Object).

9. Strong Community Support

Use Default Value of Pi : 3.14
Note : Read the Instruction Carefully
# Java:
int num1 = 10;
String name = 'Krishna Madan';

In [3]:
x = 10
print(x)

10

Note : Variable is a container that contains data in it....

In [4]:
x = 11
print(x)
print(type(x)) # 'int'

11
<class 'int'>

In [5]:
x = 'Shyam Sundar Rao Majji'
print(x)
print(type(x)) # 'str'

Shyam Sundar Rao Majji
<class 'str'>

In [6]:
x = 'K' # 'char'
print(x)
print(type(x)) # 'str'

K
<class 'str'>

In [7]:
x = 99.99 # 'float'
print(x)
print(type(x))

99.99
<class 'float'>

In [11]:
x = True # 'bool'
print(x)
print(type(x))

True
<class 'bool'>

In [12]:
'''
    This is a multiline Comment 
    You can put your notes here
    # is a single line comment
'''
print('Hey Ninjas')

Hey Ninjas

In [14]:
x = 11 + 9j # 'complex'
print(x)
print(type(x))

(11+9j)
<class 'complex'>

In [15]:
# Print <Object> Argument ['end' , 'sep']
# end -> '\n' [Next Line]
print("Coding")
print('Ninjas')

Coding
Ninjas

In [16]:
# end -> " "
print("Coding" , end = " ")
print("Ninjas") # Coding Ninjas

Coding Ninjas

In [18]:
# end -> "\t" [Tab Space]
print("Coding" , end = "\t")
print("Ninjas") # Coding   Ninjas

Coding	Ninjas

In [19]:
print("Coding", "Ninjas")

Coding Ninjas

In [20]:
print("Coding", "-" ,"Ninjas")

Coding - Ninjas

In [21]:
# end = '\n'
print("Hello" , end = '\n')
print("World")

Hello
World

In [25]:
# end 'Challenge'
print('Hi' , end = ' ')
print("EveryOne")
print("Welcome", end = '\t')
print("Back to the Another Episode....")
print("Today we have Teacher OP ðŸ”¥")

Hi EveryOne
Welcome	Back to the Another Episode....
Today we have Teacher OP ðŸ”¥

In [26]:
# Seperator 'sep' [Concat_ws]
print('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec')

Jan Feb Mar Apr May Jun Jul Aug Sept Oct Nov Dec

In [28]:
print('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec' , sep = ' | ')

Jan | Feb | Mar | Apr | May | Jun | Jul | Aug | Sept | Oct | Nov | Dec