In [1]:
print("Hello World")

Hello World

In [2]:
print("Hi")
print("Everyone!")

Hi
Everyone!

## What is Python?

1. It is a Programming Language used to communicate with machine.

2. It is beginner Friendly. It is Easy To understand , Best for All Data Related fields.

3. It's an open source. Free For All, And Base Code is Publicly 
   Available as a Documentation [Python.org](https://www.python.org/doc/).

4. It is Platform Independent (.byte code is generated) which can be used in any OS.

5. A Case Sensitive Language.

6. An Interpreted Language where each block of code is run and executed.

7. Rich in Libraries (Numpy, Pandas, MatplotLib, Seaborn, SQLAlchemy)

8. It is an Object Oriented Programming Language (Classes/Object).

9. Strong Community Support

Use Default Value of Pi : 3.14
Note : Read the Instruction Carefully
# Java:
int num1 = 10;
String name = 'Krishna Madan';

In [3]:
x = 10
print(x)

10

Note : Variable is a container that contains data in it....

In [4]:
x = 11
print(x)
print(type(x)) # 'int'

11
<class 'int'>

In [5]:
x = 'Shyam Sundar Rao Majji'
print(x)
print(type(x)) # 'str'

Shyam Sundar Rao Majji
<class 'str'>

In [6]:
x = 'K' # 'char'
print(x)
print(type(x)) # 'str'

K
<class 'str'>

In [7]:
x = 99.99 # 'float'
print(x)
print(type(x))

99.99
<class 'float'>

In [11]:
x = True # 'bool'
print(x)
print(type(x))

True
<class 'bool'>

In [12]:
'''
    This is a multiline Comment 
    You can put your notes here
    # is a single line comment
'''
print('Hey Ninjas')

Hey Ninjas

In [14]:
x = 11 + 9j # 'complex'
print(x)
print(type(x))

(11+9j)
<class 'complex'>

In [15]:
# Print <Object> Argument ['end' , 'sep']
# end -> '\n' [Next Line]
print("Coding")
print('Ninjas')

Coding
Ninjas

In [16]:
# end -> " "
print("Coding" , end = " ")
print("Ninjas") # Coding Ninjas

Coding Ninjas

In [18]:
# end -> "\t" [Tab Space]
print("Coding" , end = "\t")
print("Ninjas") # Coding   Ninjas

Coding	Ninjas

In [19]:
print("Coding", "Ninjas")

Coding Ninjas

In [20]:
print("Coding", "-" ,"Ninjas")

Coding - Ninjas

In [21]:
# end = '\n'
print("Hello" , end = '\n')
print("World")

Hello
World

In [25]:
# end 'Challenge'
print('Hi' , end = ' ')
print("EveryOne")
print("Welcome", end = '\t')
print("Back to the Another Episode....")
print("Today we have Teacher OP ðŸ”¥")

Hi EveryOne
Welcome	Back to the Another Episode....
Today we have Teacher OP ðŸ”¥

In [26]:
# Seperator 'sep' [Concat_ws]
print('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec')

Jan Feb Mar Apr May Jun Jul Aug Sept Oct Nov Dec

In [28]:
print('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec' , sep = ' | ')

Jan | Feb | Mar | Apr | May | Jun | Jul | Aug | Sept | Oct | Nov | Dec

x = 'Python Programming'
x = input("Enter any number between 1 to 100")

## ***Input()*** :
- It is used to accept user input from the keyboard as a string, which can be further type-casted accordingly.

In [1]:
user_name = input("Enter the UserName: ")
print(user_name)

Enter the UserName:  KrishnaMadan77

KrishnaMadan77

In [2]:
user_name = input("Enter the UserName: ")
print(user_name)

Enter the UserName:  UltimateForce

UltimateForce

In [3]:
val = input("Enter the number between 1 to 100: ")
print(val)
print(type(val))

Enter the number between 1 to 100:  77

77
<class 'str'>

In [4]:
x = '99'
y = int(x) # int('99') - 99
print(y)
print(type(y))
print(type(x))

99
<class 'int'>
<class 'str'>

In [5]:
val = int(input("Enter the number between 1 to 100: "))
print(val)
print(type(val))

Enter the number between 1 to 100:  91

91
<class 'int'>

x = input("Enter the number between 1 to 100: ")
x = x + 10 # 'str' + 10 : error
print(x) # TypeError: can only concatenate str (not "int") to str

In [7]:
# String Patterns 'F-Strings' formatted prints
employee_name = input("Enter the Employee Name : ")
designation = input("Enter the Designation of the Employee: ")
print(f"Welcome {employee_name}, You are hired as a {designation} role.")

Enter the Employee Name :  Rajat Singh Thakur
Enter the Designation of the Employee:  Senior Analyst

Welcome Rajat Singh Thakur, You are hired as a Senior Analyst role.

In [8]:
# Single Line Comment 
'''
    This is a multiline Comments
'''
print("Hi, EveryOne. Welcome to the python Module!") # Single line print Statement

Hi, EveryOne. Welcome to the python Module!

In [9]:
# Multiline String input -> <pre> tag in HTML
print("""
    This is a     Python Series ðŸ.
            Welcome to the Awesome Session ðŸ”¥.....
                    I hope you learn Something Valueable ðŸ’ž
""")

    This is a     Python Series ðŸ.
            Welcome to the Awesome Session ðŸ”¥.....
                    I hope you learn Something Valueable ðŸ’ž

In [10]:
# Variables for dynamic input
candidate_name = input("Enter candidate name: ")
position = input("Enter job position: ")
company = input("Enter the Company Name: ")
joining_date = input("Enter joining date (e.g., 1 Dec 2025): ")
salary = int(input("Enter salary package : "))
location = input("Enter job location: ")

# Multiline print statement using f-strings
print(f"""
    Dear {candidate_name},
    
    We are pleased to offer you the position of {position} at our {company}.
    Your expected joining date will be {joining_date}.
    
    You will be provided a salary package of {salary}.
    The position is based at our {location} office.
    
    Please confirm your acceptance of this offer by replying to this email.
    
    Best regards,
    HR Team
""")

Enter candidate name:  Shyam Sundar
Enter job position:  Data Analyst
Enter the Company Name:  PhonePe
Enter joining date (e.g., 1 Dec 2025):  11th Jan 2026
Enter salary package :  1100000
Enter job location:  Gurugram

    Dear Shyam Sundar,

    We are pleased to offer you the position of Data Analyst at our PhonePe.
    Your expected joining date will be 11th Jan 2026.

    You will be provided a salary package of 1100000.
    The position is based at our Gurugram office.

    Please confirm your acceptance of this offer by replying to this email.

    Best regards,
    HR Team

In [11]:
# Arithematic Operators : [Alt + Shift + down key -> Duplicate row]
num1 = int(input("Enter your First Value : "))
num2 = int(input("Enter your Second Value : "))
add = (num1 + num2)
mul = (num1 * num2)
sub = (num1 - num2)
div = (num1 / num2)
print(add)
print(mul)
print(sub)
print(div)

Enter your First Value :  11
Enter your Second Value :  7

18
77
4
1.5714285714285714

In [12]:
fav_car = input("Enter Your Favourite Car: ")
print("My Dream Car is : ", fav_car)
print(f"My Dream Car is : {fav_car}")

Enter Your Favourite Car:  Mercedes G63 AMG

My Dream Car is :  Mercedes G63 AMG
My Dream Car is : Mercedes G63 AMG

In [14]:
# Area of Circle 
pi = 3.14
r = float(input("Enter the radius value: ")) # radius
circle_area = pi * r * r
print(r)
print(type(r))
print(circle_area)
print(type(circle_area))

Enter the radius value:  2.75

2.75
<class 'float'>
23.74625
<class 'float'>

float >> int [Upcasting]

# Indentation:
Java {}
if(cond){
    print("Something")
}
Python ":"
if cond:
    print("Something")

# Indentation :
if condition : # Return Boolean [True/False]
    print("") # if the condition is false this line would be skipped âŒ

In [15]:
# Indentation
z = 15
if z > 10: # True
    print("Z is Greater than 10.")

print("Outside the If Condition")

Z is Greater than 10.
Outside the If Condition

In [16]:
# Indentation
z = 7
if z > 10: # False
    print("Z is Greater than 10.") # Skipped

print("Outside the If Condition")

Outside the If Condition

# Indentation
z = 7
if z > 10: # False [IndentationError: expected an indented block after 'if' statement on line 3]
print("Z is Greater than 10.") # Error

print("Outside the If Condition")

## **Variables** : ***What & Why?***
##### Variables acts as a container for storing data. They help with:
- Storing Data
- Manipulating Values
- Reusability
- Improving the Readability:
    - total_sum >> t_s
    - compound_interest > c_i
    - customer_age >> ca
    - finding_prod_sum >> finding_the_product_and_sum >> p_s

In [18]:
# Declaring and assigning '=' variables:
val = 99
user_name = "UltimateForce"
print(val)
print(user_name)

99
UltimateForce

In [19]:
# Unpacking a tuple
a,b,c  = 10,20,30 # 3 LHS = 3 RHS.
print(a) # 10
print(b) # 20
print(c) # 30

10
20
30

In [20]:
# *arbitary value [Only one person has to take all the other elements [Container <list>]]
a,b,*c = 10,20,30,40,50,60,70,80,90 # 3LHS = 9 RHS
print(a) # 10
print(type(a)) # 'int'
print(b) # 20
print(type(b)) # 'int'
print(c) # [30,40,50,60,70,80,90]
print(type(c)) # 'list'

10
<class 'int'>
20
<class 'int'>
[30, 40, 50, 60, 70, 80, 90]
<class 'list'>

a,*b,*c = 10,20,30,40,50,60,70,80,90 # 3LHS = 9 RHS
print(a) # 10
print(b) # 'Confused'
print(c) # 'Confused'
# '*b , *c'  -> Error [SyntaxError: multiple starred expressions in assignment]

In [22]:
a,*b,c = 10,20,30,40,50,60,70,80,90 # 3LHS = 9 RHS
print(a) # 10
print(type(a)) # 'int'
print(b) # [20,30,40,50,60,70,80]
print(type(b)) # 'list'
print(c) # 90
print(type(c)) # 'int'

10
<class 'int'>
[20, 30, 40, 50, 60, 70, 80]
<class 'list'>
90
<class 'int'>

In [23]:
*a,b,c = 10,20,30,40,50,60,70,80,90 # 3LHS = 9 RHS
print(a) # [10,20,30,40,50,60,70]
print(type(a)) # 'list'
print(b) # 80
print(type(b)) # 'int'
print(c) # 90
print(type(c)) # 'int'

[10, 20, 30, 40, 50, 60, 70]
<class 'list'>
80
<class 'int'>
90
<class 'int'>

In [24]:
p=q=r=s = "Programming"
print(p)
print(q)
print(r)
print(s)

Programming
Programming
Programming
Programming

## ***Rules for naming a 'Variables'***

- Can include letters , digits , and underscore
- Must start with a letter or underscore
- Case-Sensitive:
    - val != Val
    - num != NuM
    - digit != Digit
- Can't use Python Keywords
    - for, while, if, else, in, list, elif, int, float,
    - tuple, return, class, dict, None, True, False...
- Can't have space or any special characters (except _)
- Variables name can't start with numbers

123_number âŒ
user name âŒ
findingSum âœ…
boolean âœ…
bool âŒ [Keyword]
profileName123$ âŒ
profile123 âœ…
customer_name_1 âœ…
product-sum âŒ

# String -> Escape Characters ('\')
print('Hi I'm good, What about you?') # SyntaxError: unterminated string literal (detected at line 2)

In [26]:
print('Hi I\'m good, What about you?')

Hi I'm good, What about you?

In [27]:
print("Hi I'm good, What about you?")

Hi I'm good, What about you?

print("an "apple" a day, keeps the doctor away")
SyntaxError: invalid syntax. Perhaps you forgot a comma?

In [29]:
print("an 'apple' a day, keeps the doctor away")

an 'apple' a day, keeps the doctor away

In [30]:
print('an "apple" a day, keeps the doctor away')

an "apple" a day, keeps the doctor away

In [31]:
print("an \"apple\" a day, keeps the doctor away")

an "apple" a day, keeps the doctor away

In [33]:
# Quick Challenge:
# Escape Characters ('\') , (\n)['Next Line'] (\t)['tab space']
print('Hey, What\'s your name: \t \'Aditya Sharma\'')
print("Hello\nWorld")
print('x', end= " ")
print('y', end= " ")
print('z', end= "\n")
print("Welcome Back!")

Hey, What's your name: 	 'Aditya Sharma'
Hello
World
x y z
Welcome Back!

print('x', end= " ")
print('y', end= " ")
print('z', end= "\n") 
x y z
Welcome Back!

In [35]:
print('x', 'y', 'z', end = "\t")

x y z

In [37]:
print('x', 'y', 'z', end = '\n')
print('a', 'b', 'c')

x y z
a b c

In [38]:
# type -> Conversion
x = 10.0
print(type(x))

<class 'float'>

In [41]:
num1 = 99.99 # float
print(int(num1)) # 'int' -> round down -> 99
result = int(num1)
print(type(num1)) # 'float'
print(type(result)) # 'int'

99
<class 'float'>
<class 'int'>

In [42]:
x = 77
y = str(x) # '77'
print(y)
print(type(y)) # 'str'

77
<class 'str'>

In [43]:
_bool = True
int_bool = int(_bool) # 1
print(int_bool) # 1
print(type(int_bool)) # 'int'
print(type(_bool)) # 'bool'

1
<class 'int'>
<class 'bool'>

In [44]:
_bool = False
int_bool = int(_bool) # 0
print(int_bool) # 0
print(type(int_bool)) # 'int'
print(type(_bool)) # 'bool'

0
<class 'int'>
<class 'bool'>

## ***What are Operators?***
##### Operators are tools in programming used to perform actions like arithmetic, comparisons, assignments, logical evaluations, etc.

### *Types of Operators in Python:*
1. Arithmetic Operators

2. Comparison Operators

3. Logical Operators

4. Bitwise Operators

5. Assignment Operators

6. Membership Operators

7. Identity Operators

#### *Arithmetic Operators:*
- 'Addition': '+'
- 'Subtraction': '-'
- 'Multiplication': '*'
- 'Division': '/' (floating)
- 'Modulus': '%' (remainder)
- 'Exponentiation': '**' (power)
- 'floor division': '//'

ceil : Rounding Up -> 7.79 -> ceil(7.79) - 8
floor : Rounding Down -> 7.99 -> floor(7.99) - 7

In [45]:
x = 11
y = 7
z = 15
print(x+y) # 18
print(x-y) # 4
print(x*y) # 77
print(x/y) # 1.571
print(x%y) # 4
print(z%y) # 1
print(z%x) # 4
print(x**2) # 121
print(z//2) # 7

18
4
77
1.5714285714285714
4
1
4
121
7

## ***Comparision Operators:***
#### Compare 2 values and Returns Boolean (True/False) 

- '==' Equal To
- '!=' not Equal To
- '>' Greater Than
- '>=' Greater Than or Equal To
- '<' Less Than
- '<=' Less Than or Equal To

In [46]:
x = 11
y = 7
z = 15
print(x==y) # 'False'
print(x!=y) # 'True'
print(z!=y) # 'True'
print(z!=15) # 'False'
print(x>y) # 'True'
print(x>=y) # 'True'
print(x>=11) # 'True'
print(z<=y) # 'False'
print(z<x) # 'False'
print(x!=2) # 'True'
print(z>=2) # 'True'

False
True
True
False
True
True
True
False
False
True
True

## ***Logical Operators:***
- 'and' : Return True If both the conditions are 'True' Else 'False'
- 'or' : Return False If both the conditions are 'False' Else 'True'
- 'not' : Return the Opposite
- 'not' > 'and' > 'or'

In [47]:
x = 11
y = 7
z = 15
print((x==y)and(z!=y)or(y>x)) # (F and T or F) # (F or F) # False
print((x!=y) or (z!=y) or (y>x)) # (T or T or F) # (T or F) # True
print((x>=y) and (z==y) and (z>x)) # (T and F and T) # (F and T) # False
print(not(z!=15)) # not(False) # True
print(not((x<=y) and (z>=y) or (y!=x))) # not(F and T or T) # not(F or T) # not(T) # False
print(not(x<=y) and (z>=y) or (y!=x)) # not(F) and T or T # (T and T or T) # True
print(not(x<=y) or (z>=y) and (y==x)) # (not(F) or T and F) # (T or T and F) # (T or F) # True

False
True
False
True
False
True
True

## ***Bitwise Operators:***
- 'AND' = '&' -> 'Both bit with value 1 returns 1 else 0' 
- 'OR' = '|' -> 'Both bit with value 0 returns 0 else 1'
- 'XOR' = '^' -> 'ALternative bits return 1 else same bits returns 0'
- 'NOT' = '~' -> '2s Complement to check the sign and evaluate'
- 'Left Shift' = '<<' -> 'Shifts bits to the left' 
- 'Right Shift' = '>>' -> 'Shifts bits to the right'

In [1]:
# 'AND - &' , 'OR - |' , 'XOR ^'
x = 10
y = 6
print(x&y) # 2
print(x|y) # 14
print(x^y) # 12

2
14
12

In [2]:
X = 10
print(~X) # -(X+1) # -(10+1) #-11

-11

In [3]:
# Not Logic (~)
X = -10
print(~X) # -(X+1) # -(-10+1) #-(-9) = 9

9

In [4]:
# Left Shift
X = 10
print(X<<2) # X * 2^2 = 10 * 4 = 40

40

In [5]:
X = 10
print(X<<3) # X * 2^3 = 10 * 8 = 80

80

In [6]:
X = 10
print(X<<4) # X * 2^4 = 10 * 16 = 160

160

In [7]:
# Right Shift
X = 10
print(X>>2) # X // 2^2 = 10 // 4 = 2

2

In [8]:
# Right Shift
X = 10
print(X>>3) # X // 2^3 = 10 // 8 = 1

1

In [9]:
# Right Shift
X = 10
print(X>>4) # X // 2^4 = 10 // 16 = 0

0

## ***Assignment Operators:***
- '=' , x = 5
- '+=', x+=5 => x = x+5
- '-=', x-=5 => x = x-5
- '* =', x* =5 => x = x*5
- '/=', x/=5 => x = x/5
- '%=', x%=5 => x = x%5
- '**=', x **=5 => x = x **5
- '//=', x//=5 => x = x//5

In [10]:
# Note x^5 != x**5
x = 10
y = 11
z = 7
x += y # x = x + y # x = 10 + 11 = 21
print(x) # 21
x -= z # x = x - z # x = 21 - 7 = 14
print(x) # 14
x /= 2 # 14/2 = 7.0[Float]
print(x) #7.0

21
14
7.0

In [11]:
x *= x # x = x*x = 7.0 * 7.0 = 49.0
print(x) # 49.0

49.0

In [12]:
x %= y # x = x % y => 49.0 % 11 = 5.0
print(x) # 5.0

5.0

In [13]:
x //= z # x = x // z => 5.0 // 7 = 0.0
print(x) # 0.0

0.0

In [14]:
y **=x # y = y ** x => 11 ** 0.0 => 1.0
print(y) # 1.0

1.0

## ***Membership Operators:***
- It Returns Boolean Results
- 'in' : True if the Values is in the sequence else False
- 'not in' : True if the Values is not in the sequence else False

In [15]:
print('hello' in 'Hello World') # False [Case-Sensitive]
print('hello' in 'hello World') # True

False
True

In [16]:
print('I' in 'India') # True
print('I' in 'America') # False 'I' <> 'i'

True
False

In [17]:
print('Mon' in ['Mon','Tue','Wed','Thurs','Fri','Sat','Sun']) # True
print('mon' in ['Mon','Tue','Wed','Thurs','Fri','Sat','Sun']) # False

True
False

In [18]:
print('mon' not in ['Mon','Tue','Wed','Thurs','Fri','Sat','Sun']) # True
print('Jan' not in ['Mon','Tue','Wed','Thurs','Fri','Sat','Sun']) # True

True
True

In [19]:
# Boolean Conversion : 
x = int(True)
print(x) # 1 TinyInt[SQL]

1

In [20]:
# Boolean Conversion : 
x = int(False)
print(x) # 0 TinyInt[SQL]

0

## ***Identity Operators:***
- 'is' - Returns True if both the variables refers to the same object (having same memory address)
- 'is not' - Returns True if both the variables refers to the Different object (having same memory address)

In [21]:
# '==' [Data Compare] VS is[Data + Address]
a = [1,2,3]
b = a
c = [1,2,3]
print(a==b) # True [Same Data]
print(a is b) # True [Same Address]

print(a==c) # True [Same Data]
print(a is c) # False [Different Address]

True
True
True
False

In [22]:
# id -> returning the memory Location
print(id(a)) # Same
print(id(b)) # Same
print(id(c)) # Different

2091364989248
2091364989248
2091364998464

In [23]:
print(a is not c) # True ['a' & 'c' is not same]

True

10 / 3 = 3.3333
3.333 [floor] [Round Down] -> 3
3.333 [Ceil] [Round Up] -> 4
10 // 3 [Floor Division] -> 3

## ***Order Of Operations: (PEMDAS/BODMAS)***
1. () Paranthesis
2. ** Exponent
3. '*','/','%','//' Same Priority (Move Left To Right)
4. '+' , '-' : 'Addition/Subtractions' Same Priority (Move Left To Right)
5. Bitwise Operators
6. Comparisons
7. Identity Operators / Membership Operators
8. Logical Operators ('not'>'and'>'or')

In [24]:
# Challenge :
cond1 = (10*3)+((10<<3)*(10%3)) # 30 + ((10*2^3) * 1) -> 30 + (80*1) = 80+30 = 110
cond2 = (5**2)*((3//2)-(10%7)) # (25) * ((1)-(3)) # 25 * -2 = -50
_bool = cond1 > cond2 # True # 110 > -50 
print(cond1) # 110
print(cond2) # -50
print(_bool) # True

110
-50
True

In [25]:
print(cond1 is cond2) # False [Different Address]
print(cond1 is not cond2) # True
print(id(cond1))
print(id(cond2))
print(id(_bool))

False
True
140713960224600
2091346884432
140713959095168

In [26]:
print(((5 + 3 * 2) * 2 // 5 % 4 << 1 | 3) & 15>10 and not(8 >> 2 == 2) or (7^3 != 4))

False

## ***Strings:***
- A Sequence of Characters
- '' or "" (Denotes)

In [28]:
# Indexing [Python is having a Zero Based Indexing] 0
# Slicing [Start : Stop : Step]
# Indexing[Pos] : +ve[Left To Right] , -ve [Right To Left]
_str = 'Coding Ninjas'
print(_str[0]) # 'C'
print(_str[-1]) # 's'

C
s

In [29]:
print(_str[-11]) # 'd'
print(_str[7]) # 'N'
print(_str[-2]) # 'a'
print(_str[-7]) # ' '

d
N
a

# IndexError : Out of Range
print(_str[-15]) 
print(_str[15]) 
# IndexError: string index out of range

In [31]:
# Slicing [Start : Stop : Step] # Parameters [Extracting a part of a string]'Substring'
# Start [0] : Default Value
# Stop [length] [Non-Inclusive] #[0,length)
# BETWEEN >=10 AND <=100 [10,100] 
# BETWEEN >=10 AND <100 [10,100) 
# Step [1] : Linear Positive Step [Direction & Magnitude]
_str = 'Coding Ninjas'
print(_str[:6]) # 'Coding'
print(_str[7:]) # 'Ninjas'
print(_str[7:100]) # 'Ninjas'
print(_str[0:12:2]) # 'Cdn ij'
print(_str[0:12:3]) # 'Ci n'
print(_str[:]) # 'Coding Ninjas'

Coding
Ninjas
Ninjas
Cdn ij
Ci n
Coding Ninjas

In [32]:
print(len(_str)) # 13

13

In [33]:
print(_str[12]) # 's'

s

In [34]:
_str = 'Coding Ninjas'
print(_str[0:15:2]) # 'Cdn ijs'
print(_str[0:20]) # 'Conding Ninjas'

Cdn ijs
Coding Ninjas

In [35]:
# Negative Indexing
_str = 'Coding Ninjas'
print(_str[-6:]) # 'Ninjas'
print(_str[::-1]) # [Reverse the str right to left] 'sajniN gnidoC'

Ninjas
sajniN gnidoC

In [39]:
_str = 'Coding Ninjas' # ste1p : 1 [forward]
print(_str[-5:0]) # ' '

In [40]:
_str = 'Coding Ninjas' # step : -1 [reverse]
print(_str[-5:0:-1]) # 'iN gnido'

iN gnido

In [42]:
_str = 'Coding Ninjas' # step : -1 [reverse] [0 - 1] : -1
print(_str[-5::-1]) # 'iN gnidoC'

iN gnidoC

In [44]:
_str = 'Coding Ninjas' 
print(_str[-4:-2:-1]) # ' '

In [45]:
_str = 'Coding Ninjas' # step : 1[forward]
print(_str[-5:-1]) # 'inja'

inja

In [46]:
# String Case Methods
# len -> Counts the Length returns 'int' value
_str = 'Python is Awesome ðŸ”¥'
print(len(_str)) # 19

19

In [47]:
print(_str.upper()) # Upper Case

PYTHON IS AWESOME ðŸ”¥

In [48]:
print(_str.lower()) # Lower Case

python is awesome ðŸ”¥

In [49]:
print(_str)

Python is Awesome ðŸ”¥

In [50]:
_str = _str.lower()
print(_str)

python is awesome ðŸ”¥

In [51]:
# .title() # Every First Character of each Word will be Capitalize
print(_str.title())

Python Is Awesome ðŸ”¥

In [52]:
# .capitalize() # Only First Character of Complete String will be Capitalize
print(_str.capitalize())

Python is awesome ðŸ”¥

In [54]:
_str = "Python is Awesome" # 17
print(_str[:16]) # [0,16) Exclude[Non-Inclusive]

Python is Awesom

In [55]:
_str = "Python is Awesome" # 17
print(_str[:]) # till length including last charaters

Python is Awesome

In [56]:
_str = "Python is Awesome" # right to left
print(_str[::-1]) # Reverse Gear

emosewA si nohtyP

In [57]:
_str = "Python is Awesome" # right to left
print(_str[:-17:-1])

emosewA si nohty

In [1]:
# String Operations : 'Concatenation' '+'
str1 = 'Coding'
str2 = 'Ninjas'
new_string = str1 + ' ' + str2
print(new_string)

Coding Ninjas

In [2]:
name = 'Deepak'
age = 31
print(f"Hi, {name}. You are {age} year old.")

Hi, Deepak. You are 31 year old.

# TypeError: can only concatenate str (not "int") to str
name = 'Deepak'
age = 31
print('Hi' + name + ', You are ' + age + ' year old.')

In [5]:
name = 'Deepak'
age = 31
print('Hi ' + name + ', You are ' + str(age) + ' year old.')

Hi Deepak, You are 31 year old.

In [6]:
print(type(age)) # 'int'

<class 'int'>

In [7]:
# Repeat ('*')
_echo = 'Python\t'
print(_echo * 5)

Python	Python	Python	Python	Python

In [8]:
# String Comparison 
_str1 = 'Python'
_str2 = 'Java'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [9]:
# String Comparison 
_str1 = 'Swim'
_str2 = 'Swimming'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # False
print(_str1 <= _str2) # True

False
True
False
True

In [10]:
# String Comparison 
_str1 = 'coding'
_str2 = 'Coding'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [11]:
# String Comparison 
_str1 = 'coding' # 99
_str2 = 'Zodiac' # 90
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [12]:
# String Comparison 
_str1 = 'cODING' # 99
_str2 = 'Coding' # 67
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [13]:
# String Comparison 
_str1 = 'swim' # 115
_str2 = 'Swimming' # 83
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [14]:
# Common String Methods '. operator'
# 'replace'
_str = 'Python is Awesome'
new_str = _str.replace('Awesome','Fantastic')
print(new_str)

Python is Fantastic

In [15]:
print(_str)

Python is Awesome

In [16]:
_str = 'Python is Awesome'
new_str = _str.replace('o','O')
print(new_str)

PythOn is AwesOme

In [17]:
# Split() -> 'Delimeter' '@'
_text = 'Indore@Madhya Pradesh@India'
print(_text.split('@')) # Split and store elements in a list

['Indore', 'Madhya Pradesh', 'India']

In [18]:
topics = 'SQL*Python*Excel*PowerBI'
topic_list = topics.split('*')
print(topic_list)

['SQL', 'Python', 'Excel', 'PowerBI']

In [19]:
topic_list[1] # ['Python']

'Python'

In [20]:
split_str = "ViratKohli MSD RohitSharma Sachin GG"
split_str.split(" ")

['ViratKohli', 'MSD', 'RohitSharma', 'Sachin', 'GG']

In [21]:
file_path = "http://localhost:8970/notebooks/anaconda_projects/CN-Python-Weekend/PythonSession.ipynb?"
path_list = file_path.split("/")
path_list

['http:',
 '',
 'localhost:8970',
 'notebooks',
 'anaconda_projects',
 'CN-Python-Weekend',
 'PythonSession.ipynb?']

In [22]:
print(path_list)

['http:', '', 'localhost:8970', 'notebooks', 'anaconda_projects', 'CN-Python-Weekend', 'PythonSession.ipynb?']

In [24]:
# String Formats -> .format [f_string]
name = 'Aryan'
age = 25
print('Hi, {}!.... You are {} year old.'.format(name, age))
print('Hi, {}!.... You are {} year old.'.format(age, name))
print(f'Hi, {name}!.... You are {age} year old.')

Hi, Aryan!.... You are 25 year old.
Hi, 25!.... You are Aryan year old.
Hi, Aryan!.... You are 25 year old.

In [25]:
# strip() -> Same Like Trim [Trim Leading & Trailing Spaces]
print("      Python Programming        ".strip())

Python Programming

In [26]:
print("********Python Programming**********".strip('*'))

Python Programming

In [27]:
print("********Python Programming".strip('*'))

Python Programming

In [28]:
print("Python Programming********".strip('*'))

Python Programming

In [29]:
print("$$$$$$$$$Python Programming********".strip('*$'))

Python Programming

In [30]:
print("$$$$$******$$$$Python Programming**$$$$$******".strip('*$'))

Python Programming

In [31]:
print("********Python           Programming***********".strip('* '))

Python           Programming

In [33]:
_strip_text = ("********Python           Programming***********".strip('* ').split())
print(_strip_text)

['Python', 'Programming']

In [34]:
str1 = _strip_text[0]
str2 = _strip_text[1]
new_str = str1 + ' ' + str2
print(new_str)

Python Programming

In [35]:
# .index() -> position
_str = 'This is a Python Course!'
print(_str.index('is')) # First Occurence [2]

2

_str = 'This is a Python Course!' # ValueError: substring not found
print(_str.index('python')) # ValueError

In [38]:
# 2nd Occurence['is']
_str = 'This is a Python Course!'
print(_str.index('is',3,10)) # .index(substr , start , stop)
print(_str.index('is',3)) # .index(substr , start , stop)

5
5

In [39]:
# Dynamic
print(_str.index('is',_str.index('is') + 1)) # .index(substr , start , stop)

5

In [41]:
# String Check() -> Returns Boolean Results
print("CodingNinjas".isalpha()) # True
print("Ninjas99".isalpha()) # False
print("Ninjas99".isalnum()) # True
print("CodingNinja".isupper()) # False
print("PYTHON".isupper()) # True
print("program".islower()) # True
print("892378432".isnumeric()) # True
print("coding@123".isnumeric()) # False
print("CoDinG NinJAs!007".swapcase()) # lower -> upper and vice-versa

True
False
True
False
True
True
True
False
cOdINg nINjaS!007

In [42]:
# startwith() -> Boolean Returns
_str = "Hey! Welcome to the World of Programming!"
print(_str.startswith('hey')) # False
print(_str.startswith('Hey')) # True
print(_str.startswith('Hello')) # False
print(_str.startswith('Hi')) # False
print(_str.startswith('H')) # True
print(_str.startswith('Welcome' , 5)) # True

False
True
False
False
True
True

In [43]:
# endswith() -> Boolean Returns
_str = "Hey! Welcome to the World of Programming!"
print(_str.endswith('hey')) # False
print(_str.endswith('Program')) # False
print(_str.endswith('Programming!')) # True
print(_str.endswith('!')) # True
print(_str.endswith('g!')) # True
print(_str.endswith('ing!',-4)) # True
print(_str.endswith('ing!')) # True
print(_str.endswith('ing!' , -3)) # False

False
False
True
True
True
True
True
False

In [44]:
# .count() -> 'substring' -> Count the substring
_str = 'This is a Python Course!'
print(_str.count('is')) # 2

2

In [45]:
_str = 'This is a Python Course!'
print(_str.count('python')) # 0 [Case Sensitive]

0

In [46]:
_str = 'This is a Python Course!'
print('is' in _str) # Membership Operators

True

In [47]:
_str = 'This is a Python Course!'
print('Java' in _str) # Membership Operators

False

# What is a Data Structure?
#### A data structure is simply a way to organize and store data in memory, so that we can use it efficiently.

## Why do we need to use them?
1. Organizations : Keep the data neat and easy to find.
2. Efficiency - Helps to perform operations (insert, delete, search) quickly.
3. Memory Management - Saves space, avoid waste.
4. Flexibility - Can store all sorts of data (number, text, etc.)
5. Abstraction - Hides the complex details, we just call simple operations
6. Scalability - Good Data Structure lets our program handle more data without slowing down.

# Lists in Python:
#### A List is :
1. An ordered collection (items have a fixed position).
2. mutable (can be changed after creation).
3. Allows Duplicates.
4. Lists are also flexible -> they can store different data types together like integers, string, booleans, etc.

## Why use lists?
- To keep a group of related items togethers in a specific order.
- To easily add, remove, change, or access the elements.
- To perform the task like sorting, or summing values.

In [48]:
_list = []
print(_list) # Empty List
print(type(_list)) # <'list'>

[]
<class 'list'>

In [49]:
_list = [1,2,3,4,5] # Integer List
print(_list)

[1, 2, 3, 4, 5]

In [50]:
_list = [7,9.99,True,"Coding",'k'] # Mixed Data Type
print(_list)

[7, 9.99, True, 'Coding', 'k']

In [53]:
# Duplicate Elements are allowed in a List
country_list = ['India','Russia','America','China','Canada','Japan','Vietnam',
               'Norway','France','Finland','Sweden','Croatia','Australia',
               'India','China','Pakistan','Japan','Iran','Singapore','New-Zealand']
print(country_list)
print(type(country_list))

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Finland', 'Sweden', 'Croatia', 'Australia', 'India', 'China', 'Pakistan', 'Japan', 'Iran', 'Singapore', 'New-Zealand']
<class 'list'>

In [54]:
# list() Constructor
country_list = list(('India','Russia','America','China','Canada','Japan','Vietnam',
               'Norway','France','Finland','Sweden','Croatia','Australia',
               'India','China','Pakistan','Japan','Iran','Singapore','New-Zealand'))
print(country_list)
print(type(country_list))

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Finland', 'Sweden', 'Croatia', 'Australia', 'India', 'China', 'Pakistan', 'Japan', 'Iran', 'Singapore', 'New-Zealand']
<class 'list'>

In [55]:
# List ['String'] -> Extract the characters of a string and add them as an element
_list = list('Coding')
print(_list) # ['C','o','d','i','n','g']

['C', 'o', 'd', 'i', 'n', 'g']

In [56]:
_list = list(('Coding',))
print(_list) # ['Coding']

['Coding']

In [57]:
_list = list(['Coding'])
print(_list) # ['Coding']

['Coding']

In [58]:
val = ('Python')
print(type(val)) # 'str'

<class 'str'>

In [59]:
val = ('Python',)
print(type(val)) # 'tuple'

<class 'tuple'>

In [60]:
val = ['Python']
print(type(val)) # 'list'

<class 'list'>

int('11') -> 11
int(11) -> 11

In [61]:
# Nested List -> A List Inside a List
nested_list = [
    111,
    'Coding',
    [11,22,33,44,55],
    'Python',
    ['a','b','c','d','e'],
    True
]
nested_list

[111,
 'Coding',
 [11, 22, 33, 44, 55],
 'Python',
 ['a', 'b', 'c', 'd', 'e'],
 True]

In [62]:
print(nested_list)

[111, 'Coding', [11, 22, 33, 44, 55], 'Python', ['a', 'b', 'c', 'd', 'e'], True]

In [63]:
# 2D Matrix [3][3][rows][cols]
print(nested_list[2][4]) # 55

55

print(nested_list[-1][0]) # TypeError: 'bool' object is not subscriptable

In [65]:
print(nested_list[-1]) # True

True

In [66]:
print(nested_list[2]) # [11, 22, 33, 44, 55]

[11, 22, 33, 44, 55]

In [67]:
print(nested_list[-2][-5]) # 'a'

a

In [68]:
print(nested_list[-2]) # ['a', 'b', 'c', 'd', 'e']

['a', 'b', 'c', 'd', 'e']

In [69]:
print(nested_list[-4][2]) # 33

33

print(nested_list[-2][5]) # IndexError: list index out of range

In [71]:
# [111, 'Coding', [11, 22, 33, 44, 55], 'Python', ['a', 'b', 'c', 'd', 'e'], True]
print(nested_list[-4][-1]) # 55
print(nested_list[-2][3]) # 'd'
print(nested_list[2][-5]) # 11
# print(nested_list[7]) # Error : Out of Range

55
d
11

In [72]:
country_list = list(('India','Russia','America','China','Canada','Japan','Vietnam',
               'Norway','France','Finland','Sweden','Croatia','Australia',
               'India','China','Pakistan','Japan','Iran','Singapore','New-Zealand'))
print(country_list[-1]) # 'New-Zealand'
print(country_list[-9]) # 'Croatia'
print(country_list[5]) # 'Japan'
print(country_list[-15]) # 'Japan'
print(country_list[13]) # 'India'
print(country_list[-17]) # 'China'

New-Zealand
Croatia
Japan
Japan
India
China

# Slicing -> String [Substring]
# Slicing -> List [Sublist]
# Slicing [Start[0] : Stop[len][Non Inclusive] : Step[1][Gear:Forward/Reverse][Magnitude]]

In [73]:
country_list = list(('India','Russia','America','China','Canada','Japan','Vietnam',
               'Norway','France','Finland','Sweden','Croatia','Australia',
               'India','China','Pakistan','Japan','Iran','Singapore','New-Zealand'))
print(country_list[::]) # [Full List]

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Finland', 'Sweden', 'Croatia', 'Australia', 'India', 'China', 'Pakistan', 'Japan', 'Iran', 'Singapore', 'New-Zealand']

In [76]:
print(country_list[2:5]) # ['America','China','Canada']

['America', 'China', 'Canada']

In [77]:
print(country_list[9:]) # ['Finland' to 'New-Zealand']

['Finland', 'Sweden', 'Croatia', 'Australia', 'India', 'China', 'Pakistan', 'Japan', 'Iran', 'Singapore', 'New-Zealand']

In [78]:
print(country_list[-5:]) # ['Pak' to 'NZ']

['Pakistan', 'Japan', 'Iran', 'Singapore', 'New-Zealand']

In [79]:
print(country_list[-5::-1]) # ['Pak' to 'Ind'][Reverse]

['Pakistan', 'China', 'India', 'Australia', 'Croatia', 'Sweden', 'Finland', 'France', 'Norway', 'Vietnam', 'Japan', 'Canada', 'China', 'America', 'Russia', 'India']

In [80]:
print(country_list[-9:2]) # ""

[]

In [81]:
print(country_list[-9:2:-1]) # ['Croatia' to 'China'][Reverse]

['Croatia', 'Sweden', 'Finland', 'France', 'Norway', 'Vietnam', 'Japan', 'Canada', 'China']

In [82]:
country_list = list(('India','Russia','America','China','Canada','Japan','Vietnam',
               'Norway','France','Finland','Sweden','Croatia','Australia',
               'India','China','Pakistan','Japan','Iran','Singapore','New-Zealand'))
print(country_list[-4:-2]) # ['Japan','Iran']
print(country_list[-11:17:2]) # ['Fin','Cro','Ind','Pak']

['Japan', 'Iran']
['Finland', 'Croatia', 'India', 'Pakistan']

In [83]:
print(country_list[-9:2:-3]) # ['Croatia','France','Japan']

['Croatia', 'France', 'Japan']

In [84]:
print(country_list[-11:-4:5]) # ['Finland','China']

['Finland', 'China']

In [86]:
print(country_list[-8:4:3]) # []

[]

In [87]:
print(country_list[-17:21:4]) # ['China','Norway','Croatia','Pakistan','New-Zealand']

['China', 'Norway', 'Croatia', 'Pakistan', 'New-Zealand']

In [88]:
print(country_list[-17:3:4]) # []

[]

In [89]:
# Basic List Operations:
# len() -> returning the length of a list by calculating the number of elements in a list...
print(len(country_list))

20

In [90]:
# min() , max() , sum()
_num_list = [11,22,33,44,55,66,77,88,99,110]
print(len(_num_list)) # 10
print(min(_num_list)) # 11
print(max(_num_list)) # 110
print(sum(_num_list)) # 605

10
11
110
605

In [92]:
# min() , max() , sum()
_num_list = [11,22,33,44,55,66,77,88,99,110,False,True] # Mixed Type
print(len(_num_list)) # 12
print(min(_num_list)) # 0[False]
print(max(_num_list)) # 110
print(sum(_num_list)) # 605 + True[1] + False[0] = 606

12
False
110
606

In [91]:
print(int(False)) # 0
print(int(True)) # 1

0
1

In [93]:
country_list = list(('India','Russia','America','China','Canada','Japan','Vietnam',
               'Norway','France','Finland','Sweden','Croatia','Australia',
               'India','China','Pakistan','Japan','Iran','Singapore','New-Zealand'))
print(len(country_list)) # 20
print(min(country_list)) # America
print(max(country_list)) # 'Vietnam'

20
America
Vietnam

In [94]:
country_list = list(('India','Russia','America','China','Canada','Japan','Vietnam',
               'Norway','France','Finland','Sweden','Croatia','australia',
               'India','China','Pakistan','Japan','Iran','Singapore','New-Zealand'))
print(len(country_list)) # 20
print(min(country_list)) # America
print(max(country_list)) # 'ASCII''a' > 'V' ['australia']

20
America
australia

In [109]:
_str = 'Hey, Let me know, how you gonna find the second occurence of me'
me_index = _str.index('me') # First Occurence [9]
print(me_index)

9

In [105]:
print(_str.count('me')) # 2

2

In [106]:
print('me' in _str) # True

True

In [110]:
_str.index('me' , me_index + 1) # .index(substr , start, stop)

61