In [1]:
print("Hello World")

Hello World

In [2]:
print("Hi")
print("Everyone!")

Hi
Everyone!

## What is Python?

1. It is a Programming Language used to communicate with machine.

2. It is beginner Friendly. It is Easy To understand , Best for All Data Related fields.

3. It's an open source. Free For All, And Base Code is Publicly 
   Available as a Documentation [Python.org](https://www.python.org/doc/).

4. It is Platform Independent (.byte code is generated) which can be used in any OS.

5. A Case Sensitive Language.

6. An Interpreted Language where each block of code is run and executed.

7. Rich in Libraries (Numpy, Pandas, MatplotLib, Seaborn, SQLAlchemy)

8. It is an Object Oriented Programming Language (Classes/Object).

9. Strong Community Support

Use Default Value of Pi : 3.14
Note : Read the Instruction Carefully
# Java:
int num1 = 10;
String name = 'Krishna Madan';

In [3]:
x = 10
print(x)

10

Note : Variable is a container that contains data in it....

In [4]:
x = 11
print(x)
print(type(x)) # 'int'

11
<class 'int'>

In [5]:
x = 'Shyam Sundar Rao Majji'
print(x)
print(type(x)) # 'str'

Shyam Sundar Rao Majji
<class 'str'>

In [6]:
x = 'K' # 'char'
print(x)
print(type(x)) # 'str'

K
<class 'str'>

In [7]:
x = 99.99 # 'float'
print(x)
print(type(x))

99.99
<class 'float'>

In [11]:
x = True # 'bool'
print(x)
print(type(x))

True
<class 'bool'>

In [12]:
'''
    This is a multiline Comment 
    You can put your notes here
    # is a single line comment
'''
print('Hey Ninjas')

Hey Ninjas

In [14]:
x = 11 + 9j # 'complex'
print(x)
print(type(x))

(11+9j)
<class 'complex'>

In [15]:
# Print <Object> Argument ['end' , 'sep']
# end -> '\n' [Next Line]
print("Coding")
print('Ninjas')

Coding
Ninjas

In [16]:
# end -> " "
print("Coding" , end = " ")
print("Ninjas") # Coding Ninjas

Coding Ninjas

In [18]:
# end -> "\t" [Tab Space]
print("Coding" , end = "\t")
print("Ninjas") # Coding   Ninjas

Coding	Ninjas

In [19]:
print("Coding", "Ninjas")

Coding Ninjas

In [20]:
print("Coding", "-" ,"Ninjas")

Coding - Ninjas

In [21]:
# end = '\n'
print("Hello" , end = '\n')
print("World")

Hello
World

In [25]:
# end 'Challenge'
print('Hi' , end = ' ')
print("EveryOne")
print("Welcome", end = '\t')
print("Back to the Another Episode....")
print("Today we have Teacher OP ðŸ”¥")

Hi EveryOne
Welcome	Back to the Another Episode....
Today we have Teacher OP ðŸ”¥

In [26]:
# Seperator 'sep' [Concat_ws]
print('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec')

Jan Feb Mar Apr May Jun Jul Aug Sept Oct Nov Dec

In [28]:
print('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec' , sep = ' | ')

Jan | Feb | Mar | Apr | May | Jun | Jul | Aug | Sept | Oct | Nov | Dec

x = 'Python Programming'
x = input("Enter any number between 1 to 100")

## ***Input()*** :
- It is used to accept user input from the keyboard as a string, which can be further type-casted accordingly.

In [1]:
user_name = input("Enter the UserName: ")
print(user_name)

Enter the UserName:  KrishnaMadan77

KrishnaMadan77

In [2]:
user_name = input("Enter the UserName: ")
print(user_name)

Enter the UserName:  UltimateForce

UltimateForce

In [3]:
val = input("Enter the number between 1 to 100: ")
print(val)
print(type(val))

Enter the number between 1 to 100:  77

77
<class 'str'>

In [4]:
x = '99'
y = int(x) # int('99') - 99
print(y)
print(type(y))
print(type(x))

99
<class 'int'>
<class 'str'>

In [5]:
val = int(input("Enter the number between 1 to 100: "))
print(val)
print(type(val))

Enter the number between 1 to 100:  91

91
<class 'int'>

x = input("Enter the number between 1 to 100: ")
x = x + 10 # 'str' + 10 : error
print(x) # TypeError: can only concatenate str (not "int") to str

In [7]:
# String Patterns 'F-Strings' formatted prints
employee_name = input("Enter the Employee Name : ")
designation = input("Enter the Designation of the Employee: ")
print(f"Welcome {employee_name}, You are hired as a {designation} role.")

Enter the Employee Name :  Rajat Singh Thakur
Enter the Designation of the Employee:  Senior Analyst

Welcome Rajat Singh Thakur, You are hired as a Senior Analyst role.

In [8]:
# Single Line Comment 
'''
    This is a multiline Comments
'''
print("Hi, EveryOne. Welcome to the python Module!") # Single line print Statement

Hi, EveryOne. Welcome to the python Module!

In [9]:
# Multiline String input -> <pre> tag in HTML
print("""
    This is a     Python Series ðŸ.
            Welcome to the Awesome Session ðŸ”¥.....
                    I hope you learn Something Valueable ðŸ’ž
""")

    This is a     Python Series ðŸ.
            Welcome to the Awesome Session ðŸ”¥.....
                    I hope you learn Something Valueable ðŸ’ž

In [10]:
# Variables for dynamic input
candidate_name = input("Enter candidate name: ")
position = input("Enter job position: ")
company = input("Enter the Company Name: ")
joining_date = input("Enter joining date (e.g., 1 Dec 2025): ")
salary = int(input("Enter salary package : "))
location = input("Enter job location: ")

# Multiline print statement using f-strings
print(f"""
    Dear {candidate_name},
    
    We are pleased to offer you the position of {position} at our {company}.
    Your expected joining date will be {joining_date}.
    
    You will be provided a salary package of {salary}.
    The position is based at our {location} office.
    
    Please confirm your acceptance of this offer by replying to this email.
    
    Best regards,
    HR Team
""")

Enter candidate name:  Shyam Sundar
Enter job position:  Data Analyst
Enter the Company Name:  PhonePe
Enter joining date (e.g., 1 Dec 2025):  11th Jan 2026
Enter salary package :  1100000
Enter job location:  Gurugram

    Dear Shyam Sundar,

    We are pleased to offer you the position of Data Analyst at our PhonePe.
    Your expected joining date will be 11th Jan 2026.

    You will be provided a salary package of 1100000.
    The position is based at our Gurugram office.

    Please confirm your acceptance of this offer by replying to this email.

    Best regards,
    HR Team

In [11]:
# Arithematic Operators : [Alt + Shift + down key -> Duplicate row]
num1 = int(input("Enter your First Value : "))
num2 = int(input("Enter your Second Value : "))
add = (num1 + num2)
mul = (num1 * num2)
sub = (num1 - num2)
div = (num1 / num2)
print(add)
print(mul)
print(sub)
print(div)

Enter your First Value :  11
Enter your Second Value :  7

18
77
4
1.5714285714285714

In [12]:
fav_car = input("Enter Your Favourite Car: ")
print("My Dream Car is : ", fav_car)
print(f"My Dream Car is : {fav_car}")

Enter Your Favourite Car:  Mercedes G63 AMG

My Dream Car is :  Mercedes G63 AMG
My Dream Car is : Mercedes G63 AMG

In [14]:
# Area of Circle 
pi = 3.14
r = float(input("Enter the radius value: ")) # radius
circle_area = pi * r * r
print(r)
print(type(r))
print(circle_area)
print(type(circle_area))

Enter the radius value:  2.75

2.75
<class 'float'>
23.74625
<class 'float'>

float >> int [Upcasting]

# Indentation:
Java {}
if(cond){
    print("Something")
}
Python ":"
if cond:
    print("Something")

# Indentation :
if condition : # Return Boolean [True/False]
    print("") # if the condition is false this line would be skipped âŒ

In [15]:
# Indentation
z = 15
if z > 10: # True
    print("Z is Greater than 10.")

print("Outside the If Condition")

Z is Greater than 10.
Outside the If Condition

In [16]:
# Indentation
z = 7
if z > 10: # False
    print("Z is Greater than 10.") # Skipped

print("Outside the If Condition")

Outside the If Condition

# Indentation
z = 7
if z > 10: # False [IndentationError: expected an indented block after 'if' statement on line 3]
print("Z is Greater than 10.") # Error

print("Outside the If Condition")

## **Variables** : ***What & Why?***
##### Variables acts as a container for storing data. They help with:
- Storing Data
- Manipulating Values
- Reusability
- Improving the Readability:
    - total_sum >> t_s
    - compound_interest > c_i
    - customer_age >> ca
    - finding_prod_sum >> finding_the_product_and_sum >> p_s

In [18]:
# Declaring and assigning '=' variables:
val = 99
user_name = "UltimateForce"
print(val)
print(user_name)

99
UltimateForce

In [19]:
# Unpacking a tuple
a,b,c  = 10,20,30 # 3 LHS = 3 RHS.
print(a) # 10
print(b) # 20
print(c) # 30

10
20
30

In [20]:
# *arbitary value [Only one person has to take all the other elements [Container <list>]]
a,b,*c = 10,20,30,40,50,60,70,80,90 # 3LHS = 9 RHS
print(a) # 10
print(type(a)) # 'int'
print(b) # 20
print(type(b)) # 'int'
print(c) # [30,40,50,60,70,80,90]
print(type(c)) # 'list'

10
<class 'int'>
20
<class 'int'>
[30, 40, 50, 60, 70, 80, 90]
<class 'list'>

a,*b,*c = 10,20,30,40,50,60,70,80,90 # 3LHS = 9 RHS
print(a) # 10
print(b) # 'Confused'
print(c) # 'Confused'
# '*b , *c'  -> Error [SyntaxError: multiple starred expressions in assignment]

In [22]:
a,*b,c = 10,20,30,40,50,60,70,80,90 # 3LHS = 9 RHS
print(a) # 10
print(type(a)) # 'int'
print(b) # [20,30,40,50,60,70,80]
print(type(b)) # 'list'
print(c) # 90
print(type(c)) # 'int'

10
<class 'int'>
[20, 30, 40, 50, 60, 70, 80]
<class 'list'>
90
<class 'int'>

In [23]:
*a,b,c = 10,20,30,40,50,60,70,80,90 # 3LHS = 9 RHS
print(a) # [10,20,30,40,50,60,70]
print(type(a)) # 'list'
print(b) # 80
print(type(b)) # 'int'
print(c) # 90
print(type(c)) # 'int'

[10, 20, 30, 40, 50, 60, 70]
<class 'list'>
80
<class 'int'>
90
<class 'int'>

In [24]:
p=q=r=s = "Programming"
print(p)
print(q)
print(r)
print(s)

Programming
Programming
Programming
Programming

## ***Rules for naming a 'Variables'***

- Can include letters , digits , and underscore
- Must start with a letter or underscore
- Case-Sensitive:
    - val != Val
    - num != NuM
    - digit != Digit
- Can't use Python Keywords
    - for, while, if, else, in, list, elif, int, float,
    - tuple, return, class, dict, None, True, False...
- Can't have space or any special characters (except _)
- Variables name can't start with numbers

123_number âŒ
user name âŒ
findingSum âœ…
boolean âœ…
bool âŒ [Keyword]
profileName123$ âŒ
profile123 âœ…
customer_name_1 âœ…
product-sum âŒ

# String -> Escape Characters ('\')
print('Hi I'm good, What about you?') # SyntaxError: unterminated string literal (detected at line 2)

In [26]:
print('Hi I\'m good, What about you?')

Hi I'm good, What about you?

In [27]:
print("Hi I'm good, What about you?")

Hi I'm good, What about you?

print("an "apple" a day, keeps the doctor away")
SyntaxError: invalid syntax. Perhaps you forgot a comma?

In [29]:
print("an 'apple' a day, keeps the doctor away")

an 'apple' a day, keeps the doctor away

In [30]:
print('an "apple" a day, keeps the doctor away')

an "apple" a day, keeps the doctor away

In [31]:
print("an \"apple\" a day, keeps the doctor away")

an "apple" a day, keeps the doctor away

In [33]:
# Quick Challenge:
# Escape Characters ('\') , (\n)['Next Line'] (\t)['tab space']
print('Hey, What\'s your name: \t \'Aditya Sharma\'')
print("Hello\nWorld")
print('x', end= " ")
print('y', end= " ")
print('z', end= "\n")
print("Welcome Back!")

Hey, What's your name: 	 'Aditya Sharma'
Hello
World
x y z
Welcome Back!

print('x', end= " ")
print('y', end= " ")
print('z', end= "\n") 
x y z
Welcome Back!

In [35]:
print('x', 'y', 'z', end = "\t")

x y z

In [37]:
print('x', 'y', 'z', end = '\n')
print('a', 'b', 'c')

x y z
a b c

In [38]:
# type -> Conversion
x = 10.0
print(type(x))

<class 'float'>

In [41]:
num1 = 99.99 # float
print(int(num1)) # 'int' -> round down -> 99
result = int(num1)
print(type(num1)) # 'float'
print(type(result)) # 'int'

99
<class 'float'>
<class 'int'>

In [42]:
x = 77
y = str(x) # '77'
print(y)
print(type(y)) # 'str'

77
<class 'str'>

In [43]:
_bool = True
int_bool = int(_bool) # 1
print(int_bool) # 1
print(type(int_bool)) # 'int'
print(type(_bool)) # 'bool'

1
<class 'int'>
<class 'bool'>

In [44]:
_bool = False
int_bool = int(_bool) # 0
print(int_bool) # 0
print(type(int_bool)) # 'int'
print(type(_bool)) # 'bool'

0
<class 'int'>
<class 'bool'>

## ***What are Operators?***
##### Operators are tools in programming used to perform actions like arithmetic, comparisons, assignments, logical evaluations, etc.

### *Types of Operators in Python:*
1. Arithmetic Operators

2. Comparison Operators

3. Logical Operators

4. Bitwise Operators

5. Assignment Operators

6. Membership Operators

7. Identity Operators

#### *Arithmetic Operators:*
- 'Addition': '+'
- 'Subtraction': '-'
- 'Multiplication': '*'
- 'Division': '/' (floating)
- 'Modulus': '%' (remainder)
- 'Exponentiation': '**' (power)
- 'floor division': '//'

ceil : Rounding Up -> 7.79 -> ceil(7.79) - 8
floor : Rounding Down -> 7.99 -> floor(7.99) - 7

In [45]:
x = 11
y = 7
z = 15
print(x+y) # 18
print(x-y) # 4
print(x*y) # 77
print(x/y) # 1.571
print(x%y) # 4
print(z%y) # 1
print(z%x) # 4
print(x**2) # 121
print(z//2) # 7

18
4
77
1.5714285714285714
4
1
4
121
7

## ***Comparision Operators:***
#### Compare 2 values and Returns Boolean (True/False) 

- '==' Equal To
- '!=' not Equal To
- '>' Greater Than
- '>=' Greater Than or Equal To
- '<' Less Than
- '<=' Less Than or Equal To

In [46]:
x = 11
y = 7
z = 15
print(x==y) # 'False'
print(x!=y) # 'True'
print(z!=y) # 'True'
print(z!=15) # 'False'
print(x>y) # 'True'
print(x>=y) # 'True'
print(x>=11) # 'True'
print(z<=y) # 'False'
print(z<x) # 'False'
print(x!=2) # 'True'
print(z>=2) # 'True'

False
True
True
False
True
True
True
False
False
True
True

## ***Logical Operators:***
- 'and' : Return True If both the conditions are 'True' Else 'False'
- 'or' : Return False If both the conditions are 'False' Else 'True'
- 'not' : Return the Opposite
- 'not' > 'and' > 'or'

In [47]:
x = 11
y = 7
z = 15
print((x==y)and(z!=y)or(y>x)) # (F and T or F) # (F or F) # False
print((x!=y) or (z!=y) or (y>x)) # (T or T or F) # (T or F) # True
print((x>=y) and (z==y) and (z>x)) # (T and F and T) # (F and T) # False
print(not(z!=15)) # not(False) # True
print(not((x<=y) and (z>=y) or (y!=x))) # not(F and T or T) # not(F or T) # not(T) # False
print(not(x<=y) and (z>=y) or (y!=x)) # not(F) and T or T # (T and T or T) # True
print(not(x<=y) or (z>=y) and (y==x)) # (not(F) or T and F) # (T or T and F) # (T or F) # True

False
True
False
True
False
True
True

## ***Bitwise Operators:***
- 'AND' = '&' -> 'Both bit with value 1 returns 1 else 0' 
- 'OR' = '|' -> 'Both bit with value 0 returns 0 else 1'
- 'XOR' = '^' -> 'ALternative bits return 1 else same bits returns 0'
- 'NOT' = '~' -> '2s Complement to check the sign and evaluate'
- 'Left Shift' = '<<' -> 'Shifts bits to the left' 
- 'Right Shift' = '>>' -> 'Shifts bits to the right'

In [1]:
# 'AND - &' , 'OR - |' , 'XOR ^'
x = 10
y = 6
print(x&y) # 2
print(x|y) # 14
print(x^y) # 12

2
14
12

In [2]:
X = 10
print(~X) # -(X+1) # -(10+1) #-11

-11

In [3]:
# Not Logic (~)
X = -10
print(~X) # -(X+1) # -(-10+1) #-(-9) = 9

9

In [4]:
# Left Shift
X = 10
print(X<<2) # X * 2^2 = 10 * 4 = 40

40

In [5]:
X = 10
print(X<<3) # X * 2^3 = 10 * 8 = 80

80

In [6]:
X = 10
print(X<<4) # X * 2^4 = 10 * 16 = 160

160

In [7]:
# Right Shift
X = 10
print(X>>2) # X // 2^2 = 10 // 4 = 2

2

In [8]:
# Right Shift
X = 10
print(X>>3) # X // 2^3 = 10 // 8 = 1

1

In [9]:
# Right Shift
X = 10
print(X>>4) # X // 2^4 = 10 // 16 = 0

0

## ***Assignment Operators:***
- '=' , x = 5
- '+=', x+=5 => x = x+5
- '-=', x-=5 => x = x-5
- '* =', x* =5 => x = x*5
- '/=', x/=5 => x = x/5
- '%=', x%=5 => x = x%5
- '**=', x **=5 => x = x **5
- '//=', x//=5 => x = x//5

In [10]:
# Note x^5 != x**5
x = 10
y = 11
z = 7
x += y # x = x + y # x = 10 + 11 = 21
print(x) # 21
x -= z # x = x - z # x = 21 - 7 = 14
print(x) # 14
x /= 2 # 14/2 = 7.0[Float]
print(x) #7.0

21
14
7.0

In [11]:
x *= x # x = x*x = 7.0 * 7.0 = 49.0
print(x) # 49.0

49.0

In [12]:
x %= y # x = x % y => 49.0 % 11 = 5.0
print(x) # 5.0

5.0

In [13]:
x //= z # x = x // z => 5.0 // 7 = 0.0
print(x) # 0.0

0.0

In [14]:
y **=x # y = y ** x => 11 ** 0.0 => 1.0
print(y) # 1.0

1.0

## ***Membership Operators:***
- It Returns Boolean Results
- 'in' : True if the Values is in the sequence else False
- 'not in' : True if the Values is not in the sequence else False

In [15]:
print('hello' in 'Hello World') # False [Case-Sensitive]
print('hello' in 'hello World') # True

False
True

In [16]:
print('I' in 'India') # True
print('I' in 'America') # False 'I' <> 'i'

True
False

In [17]:
print('Mon' in ['Mon','Tue','Wed','Thurs','Fri','Sat','Sun']) # True
print('mon' in ['Mon','Tue','Wed','Thurs','Fri','Sat','Sun']) # False

True
False

In [18]:
print('mon' not in ['Mon','Tue','Wed','Thurs','Fri','Sat','Sun']) # True
print('Jan' not in ['Mon','Tue','Wed','Thurs','Fri','Sat','Sun']) # True

True
True

In [19]:
# Boolean Conversion : 
x = int(True)
print(x) # 1 TinyInt[SQL]

1

In [20]:
# Boolean Conversion : 
x = int(False)
print(x) # 0 TinyInt[SQL]

0

## ***Identity Operators:***
- 'is' - Returns True if both the variables refers to the same object (having same memory address)
- 'is not' - Returns True if both the variables refers to the Different object (having same memory address)

In [21]:
# '==' [Data Compare] VS is[Data + Address]
a = [1,2,3]
b = a
c = [1,2,3]
print(a==b) # True [Same Data]
print(a is b) # True [Same Address]

print(a==c) # True [Same Data]
print(a is c) # False [Different Address]

True
True
True
False

In [22]:
# id -> returning the memory Location
print(id(a)) # Same
print(id(b)) # Same
print(id(c)) # Different

2091364989248
2091364989248
2091364998464

In [23]:
print(a is not c) # True ['a' & 'c' is not same]

True

10 / 3 = 3.3333
3.333 [floor] [Round Down] -> 3
3.333 [Ceil] [Round Up] -> 4
10 // 3 [Floor Division] -> 3

## ***Order Of Operations: (PEMDAS/BODMAS)***
1. () Paranthesis
2. ** Exponent
3. '*','/','%','//' Same Priority (Move Left To Right)
4. '+' , '-' : 'Addition/Subtractions' Same Priority (Move Left To Right)
5. Bitwise Operators
6. Comparisons
7. Identity Operators / Membership Operators
8. Logical Operators ('not'>'and'>'or')

In [24]:
# Challenge :
cond1 = (10*3)+((10<<3)*(10%3)) # 30 + ((10*2^3) * 1) -> 30 + (80*1) = 80+30 = 110
cond2 = (5**2)*((3//2)-(10%7)) # (25) * ((1)-(3)) # 25 * -2 = -50
_bool = cond1 > cond2 # True # 110 > -50 
print(cond1) # 110
print(cond2) # -50
print(_bool) # True

110
-50
True

In [25]:
print(cond1 is cond2) # False [Different Address]
print(cond1 is not cond2) # True
print(id(cond1))
print(id(cond2))
print(id(_bool))

False
True
140713960224600
2091346884432
140713959095168

In [26]:
print(((5 + 3 * 2) * 2 // 5 % 4 << 1 | 3) & 15>10 and not(8 >> 2 == 2) or (7^3 != 4))

False

## ***Strings:***
- A Sequence of Characters
- '' or "" (Denotes)

In [28]:
# Indexing [Python is having a Zero Based Indexing] 0
# Slicing [Start : Stop : Step]
# Indexing[Pos] : +ve[Left To Right] , -ve [Right To Left]
_str = 'Coding Ninjas'
print(_str[0]) # 'C'
print(_str[-1]) # 's'

C
s

In [29]:
print(_str[-11]) # 'd'
print(_str[7]) # 'N'
print(_str[-2]) # 'a'
print(_str[-7]) # ' '

d
N
a

# IndexError : Out of Range
print(_str[-15]) 
print(_str[15]) 
# IndexError: string index out of range

In [31]:
# Slicing [Start : Stop : Step] # Parameters [Extracting a part of a string]'Substring'
# Start [0] : Default Value
# Stop [length] [Non-Inclusive] #[0,length)
# BETWEEN >=10 AND <=100 [10,100] 
# BETWEEN >=10 AND <100 [10,100) 
# Step [1] : Linear Positive Step [Direction & Magnitude]
_str = 'Coding Ninjas'
print(_str[:6]) # 'Coding'
print(_str[7:]) # 'Ninjas'
print(_str[7:100]) # 'Ninjas'
print(_str[0:12:2]) # 'Cdn ij'
print(_str[0:12:3]) # 'Ci n'
print(_str[:]) # 'Coding Ninjas'

Coding
Ninjas
Ninjas
Cdn ij
Ci n
Coding Ninjas

In [32]:
print(len(_str)) # 13

13

In [33]:
print(_str[12]) # 's'

s

In [34]:
_str = 'Coding Ninjas'
print(_str[0:15:2]) # 'Cdn ijs'
print(_str[0:20]) # 'Conding Ninjas'

Cdn ijs
Coding Ninjas

In [35]:
# Negative Indexing
_str = 'Coding Ninjas'
print(_str[-6:]) # 'Ninjas'
print(_str[::-1]) # [Reverse the str right to left] 'sajniN gnidoC'

Ninjas
sajniN gnidoC

In [39]:
_str = 'Coding Ninjas' # ste1p : 1 [forward]
print(_str[-5:0]) # ' '

In [40]:
_str = 'Coding Ninjas' # step : -1 [reverse]
print(_str[-5:0:-1]) # 'iN gnido'

iN gnido

In [42]:
_str = 'Coding Ninjas' # step : -1 [reverse] [0 - 1] : -1
print(_str[-5::-1]) # 'iN gnidoC'

iN gnidoC

In [44]:
_str = 'Coding Ninjas' 
print(_str[-4:-2:-1]) # ' '

In [45]:
_str = 'Coding Ninjas' # step : 1[forward]
print(_str[-5:-1]) # 'inja'

inja

In [46]:
# String Case Methods
# len -> Counts the Length returns 'int' value
_str = 'Python is Awesome ðŸ”¥'
print(len(_str)) # 19

19

In [47]:
print(_str.upper()) # Upper Case

PYTHON IS AWESOME ðŸ”¥

In [48]:
print(_str.lower()) # Lower Case

python is awesome ðŸ”¥

In [49]:
print(_str)

Python is Awesome ðŸ”¥

In [50]:
_str = _str.lower()
print(_str)

python is awesome ðŸ”¥

In [51]:
# .title() # Every First Character of each Word will be Capitalize
print(_str.title())

Python Is Awesome ðŸ”¥

In [52]:
# .capitalize() # Only First Character of Complete String will be Capitalize
print(_str.capitalize())

Python is awesome ðŸ”¥

In [54]:
_str = "Python is Awesome" # 17
print(_str[:16]) # [0,16) Exclude[Non-Inclusive]

Python is Awesom

In [55]:
_str = "Python is Awesome" # 17
print(_str[:]) # till length including last charaters

Python is Awesome

In [56]:
_str = "Python is Awesome" # right to left
print(_str[::-1]) # Reverse Gear

emosewA si nohtyP

In [57]:
_str = "Python is Awesome" # right to left
print(_str[:-17:-1])

emosewA si nohty

In [1]:
# String Operations : 'Concatenation' '+'
str1 = 'Coding'
str2 = 'Ninjas'
new_string = str1 + ' ' + str2
print(new_string)

Coding Ninjas

In [2]:
name = 'Deepak'
age = 31
print(f"Hi, {name}. You are {age} year old.")

Hi, Deepak. You are 31 year old.

# TypeError: can only concatenate str (not "int") to str
name = 'Deepak'
age = 31
print('Hi' + name + ', You are ' + age + ' year old.')

In [5]:
name = 'Deepak'
age = 31
print('Hi ' + name + ', You are ' + str(age) + ' year old.')

Hi Deepak, You are 31 year old.

In [6]:
print(type(age)) # 'int'

<class 'int'>

In [7]:
# Repeat ('*')
_echo = 'Python\t'
print(_echo * 5)

Python	Python	Python	Python	Python

In [8]:
# String Comparison 
_str1 = 'Python'
_str2 = 'Java'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [9]:
# String Comparison 
_str1 = 'Swim'
_str2 = 'Swimming'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # False
print(_str1 <= _str2) # True

False
True
False
True

In [10]:
# String Comparison 
_str1 = 'coding'
_str2 = 'Coding'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [11]:
# String Comparison 
_str1 = 'coding' # 99
_str2 = 'Zodiac' # 90
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [12]:
# String Comparison 
_str1 = 'cODING' # 99
_str2 = 'Coding' # 67
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [13]:
# String Comparison 
_str1 = 'swim' # 115
_str2 = 'Swimming' # 83
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [14]:
# Common String Methods '. operator'
# 'replace'
_str = 'Python is Awesome'
new_str = _str.replace('Awesome','Fantastic')
print(new_str)

Python is Fantastic

In [15]:
print(_str)

Python is Awesome

In [16]:
_str = 'Python is Awesome'
new_str = _str.replace('o','O')
print(new_str)

PythOn is AwesOme

In [17]:
# Split() -> 'Delimeter' '@'
_text = 'Indore@Madhya Pradesh@India'
print(_text.split('@')) # Split and store elements in a list

['Indore', 'Madhya Pradesh', 'India']

In [18]:
topics = 'SQL*Python*Excel*PowerBI'
topic_list = topics.split('*')
print(topic_list)

['SQL', 'Python', 'Excel', 'PowerBI']

In [19]:
topic_list[1] # ['Python']

'Python'

In [20]:
split_str = "ViratKohli MSD RohitSharma Sachin GG"
split_str.split(" ")

['ViratKohli', 'MSD', 'RohitSharma', 'Sachin', 'GG']

In [21]:
file_path = "http://localhost:8970/notebooks/anaconda_projects/CN-Python-Weekend/PythonSession.ipynb?"
path_list = file_path.split("/")
path_list

['http:',
 '',
 'localhost:8970',
 'notebooks',
 'anaconda_projects',
 'CN-Python-Weekend',
 'PythonSession.ipynb?']

In [22]:
print(path_list)

['http:', '', 'localhost:8970', 'notebooks', 'anaconda_projects', 'CN-Python-Weekend', 'PythonSession.ipynb?']

In [24]:
# String Formats -> .format [f_string]
name = 'Aryan'
age = 25
print('Hi, {}!.... You are {} year old.'.format(name, age))
print('Hi, {}!.... You are {} year old.'.format(age, name))
print(f'Hi, {name}!.... You are {age} year old.')

Hi, Aryan!.... You are 25 year old.
Hi, 25!.... You are Aryan year old.
Hi, Aryan!.... You are 25 year old.

In [25]:
# strip() -> Same Like Trim [Trim Leading & Trailing Spaces]
print("      Python Programming        ".strip())

Python Programming

In [26]:
print("********Python Programming**********".strip('*'))

Python Programming

In [27]:
print("********Python Programming".strip('*'))

Python Programming

In [28]:
print("Python Programming********".strip('*'))

Python Programming

In [29]:
print("$$$$$$$$$Python Programming********".strip('*$'))

Python Programming

In [30]:
print("$$$$$******$$$$Python Programming**$$$$$******".strip('*$'))

Python Programming

In [31]:
print("********Python           Programming***********".strip('* '))

Python           Programming

In [33]:
_strip_text = ("********Python           Programming***********".strip('* ').split())
print(_strip_text)

['Python', 'Programming']

In [34]:
str1 = _strip_text[0]
str2 = _strip_text[1]
new_str = str1 + ' ' + str2
print(new_str)

Python Programming

In [35]:
# .index() -> position
_str = 'This is a Python Course!'
print(_str.index('is')) # First Occurence [2]

2

_str = 'This is a Python Course!' # ValueError: substring not found
print(_str.index('python')) # ValueError

In [38]:
# 2nd Occurence['is']
_str = 'This is a Python Course!'
print(_str.index('is',3,10)) # .index(substr , start , stop)
print(_str.index('is',3)) # .index(substr , start , stop)

5
5

In [39]:
# Dynamic
print(_str.index('is',_str.index('is') + 1)) # .index(substr , start , stop)

5

In [41]:
# String Check() -> Returns Boolean Results
print("CodingNinjas".isalpha()) # True
print("Ninjas99".isalpha()) # False
print("Ninjas99".isalnum()) # True
print("CodingNinja".isupper()) # False
print("PYTHON".isupper()) # True
print("program".islower()) # True
print("892378432".isnumeric()) # True
print("coding@123".isnumeric()) # False
print("CoDinG NinJAs!007".swapcase()) # lower -> upper and vice-versa

True
False
True
False
True
True
True
False
cOdINg nINjaS!007

In [42]:
# startwith() -> Boolean Returns
_str = "Hey! Welcome to the World of Programming!"
print(_str.startswith('hey')) # False
print(_str.startswith('Hey')) # True
print(_str.startswith('Hello')) # False
print(_str.startswith('Hi')) # False
print(_str.startswith('H')) # True
print(_str.startswith('Welcome' , 5)) # True

False
True
False
False
True
True

In [43]:
# endswith() -> Boolean Returns
_str = "Hey! Welcome to the World of Programming!"
print(_str.endswith('hey')) # False
print(_str.endswith('Program')) # False
print(_str.endswith('Programming!')) # True
print(_str.endswith('!')) # True
print(_str.endswith('g!')) # True
print(_str.endswith('ing!',-4)) # True
print(_str.endswith('ing!')) # True
print(_str.endswith('ing!' , -3)) # False

False
False
True
True
True
True
True
False

In [44]:
# .count() -> 'substring' -> Count the substring
_str = 'This is a Python Course!'
print(_str.count('is')) # 2

2

In [45]:
_str = 'This is a Python Course!'
print(_str.count('python')) # 0 [Case Sensitive]

0

In [46]:
_str = 'This is a Python Course!'
print('is' in _str) # Membership Operators

True

In [47]:
_str = 'This is a Python Course!'
print('Java' in _str) # Membership Operators

False

# What is a Data Structure?
#### A data structure is simply a way to organize and store data in memory, so that we can use it efficiently.

## Why do we need to use them?
1. Organizations : Keep the data neat and easy to find.
2. Efficiency - Helps to perform operations (insert, delete, search) quickly.
3. Memory Management - Saves space, avoid waste.
4. Flexibility - Can store all sorts of data (number, text, etc.)
5. Abstraction - Hides the complex details, we just call simple operations
6. Scalability - Good Data Structure lets our program handle more data without slowing down.

# Lists in Python:
#### A List is :
1. An ordered collection (items have a fixed position).
2. mutable (can be changed after creation).
3. Allows Duplicates.
4. Lists are also flexible -> they can store different data types together like integers, string, booleans, etc.

## Why use lists?
- To keep a group of related items togethers in a specific order.
- To easily add, remove, change, or access the elements.
- To perform the task like sorting, or summing values.

In [48]:
_list = []
print(_list) # Empty List
print(type(_list)) # <'list'>

[]
<class 'list'>

In [49]:
_list = [1,2,3,4,5] # Integer List
print(_list)

[1, 2, 3, 4, 5]

In [50]:
_list = [7,9.99,True,"Coding",'k'] # Mixed Data Type
print(_list)

[7, 9.99, True, 'Coding', 'k']

In [53]:
# Duplicate Elements are allowed in a List
country_list = ['India','Russia','America','China','Canada','Japan','Vietnam',
               'Norway','France','Finland','Sweden','Croatia','Australia',
               'India','China','Pakistan','Japan','Iran','Singapore','New-Zealand']
print(country_list)
print(type(country_list))

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Finland', 'Sweden', 'Croatia', 'Australia', 'India', 'China', 'Pakistan', 'Japan', 'Iran', 'Singapore', 'New-Zealand']
<class 'list'>

In [54]:
# list() Constructor
country_list = list(('India','Russia','America','China','Canada','Japan','Vietnam',
               'Norway','France','Finland','Sweden','Croatia','Australia',
               'India','China','Pakistan','Japan','Iran','Singapore','New-Zealand'))
print(country_list)
print(type(country_list))

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Finland', 'Sweden', 'Croatia', 'Australia', 'India', 'China', 'Pakistan', 'Japan', 'Iran', 'Singapore', 'New-Zealand']
<class 'list'>

In [55]:
# List ['String'] -> Extract the characters of a string and add them as an element
_list = list('Coding')
print(_list) # ['C','o','d','i','n','g']

['C', 'o', 'd', 'i', 'n', 'g']

In [56]:
_list = list(('Coding',))
print(_list) # ['Coding']

['Coding']

In [57]:
_list = list(['Coding'])
print(_list) # ['Coding']

['Coding']

In [58]:
val = ('Python')
print(type(val)) # 'str'

<class 'str'>

In [59]:
val = ('Python',)
print(type(val)) # 'tuple'

<class 'tuple'>

In [60]:
val = ['Python']
print(type(val)) # 'list'

<class 'list'>

int('11') -> 11
int(11) -> 11

In [61]:
# Nested List -> A List Inside a List
nested_list = [
    111,
    'Coding',
    [11,22,33,44,55],
    'Python',
    ['a','b','c','d','e'],
    True
]
nested_list

[111,
 'Coding',
 [11, 22, 33, 44, 55],
 'Python',
 ['a', 'b', 'c', 'd', 'e'],
 True]

In [62]:
print(nested_list)

[111, 'Coding', [11, 22, 33, 44, 55], 'Python', ['a', 'b', 'c', 'd', 'e'], True]

In [63]:
# 2D Matrix [3][3][rows][cols]
print(nested_list[2][4]) # 55

55

print(nested_list[-1][0]) # TypeError: 'bool' object is not subscriptable

In [65]:
print(nested_list[-1]) # True

True

In [66]:
print(nested_list[2]) # [11, 22, 33, 44, 55]

[11, 22, 33, 44, 55]

In [67]:
print(nested_list[-2][-5]) # 'a'

a

In [68]:
print(nested_list[-2]) # ['a', 'b', 'c', 'd', 'e']

['a', 'b', 'c', 'd', 'e']

In [69]:
print(nested_list[-4][2]) # 33

33

print(nested_list[-2][5]) # IndexError: list index out of range

In [71]:
# [111, 'Coding', [11, 22, 33, 44, 55], 'Python', ['a', 'b', 'c', 'd', 'e'], True]
print(nested_list[-4][-1]) # 55
print(nested_list[-2][3]) # 'd'
print(nested_list[2][-5]) # 11
# print(nested_list[7]) # Error : Out of Range

55
d
11

In [72]:
country_list = list(('India','Russia','America','China','Canada','Japan','Vietnam',
               'Norway','France','Finland','Sweden','Croatia','Australia',
               'India','China','Pakistan','Japan','Iran','Singapore','New-Zealand'))
print(country_list[-1]) # 'New-Zealand'
print(country_list[-9]) # 'Croatia'
print(country_list[5]) # 'Japan'
print(country_list[-15]) # 'Japan'
print(country_list[13]) # 'India'
print(country_list[-17]) # 'China'

New-Zealand
Croatia
Japan
Japan
India
China

# Slicing -> String [Substring]
# Slicing -> List [Sublist]
# Slicing [Start[0] : Stop[len][Non Inclusive] : Step[1][Gear:Forward/Reverse][Magnitude]]

In [73]:
country_list = list(('India','Russia','America','China','Canada','Japan','Vietnam',
               'Norway','France','Finland','Sweden','Croatia','Australia',
               'India','China','Pakistan','Japan','Iran','Singapore','New-Zealand'))
print(country_list[::]) # [Full List]

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Finland', 'Sweden', 'Croatia', 'Australia', 'India', 'China', 'Pakistan', 'Japan', 'Iran', 'Singapore', 'New-Zealand']

In [76]:
print(country_list[2:5]) # ['America','China','Canada']

['America', 'China', 'Canada']

In [77]:
print(country_list[9:]) # ['Finland' to 'New-Zealand']

['Finland', 'Sweden', 'Croatia', 'Australia', 'India', 'China', 'Pakistan', 'Japan', 'Iran', 'Singapore', 'New-Zealand']

In [78]:
print(country_list[-5:]) # ['Pak' to 'NZ']

['Pakistan', 'Japan', 'Iran', 'Singapore', 'New-Zealand']

In [79]:
print(country_list[-5::-1]) # ['Pak' to 'Ind'][Reverse]

['Pakistan', 'China', 'India', 'Australia', 'Croatia', 'Sweden', 'Finland', 'France', 'Norway', 'Vietnam', 'Japan', 'Canada', 'China', 'America', 'Russia', 'India']

In [80]:
print(country_list[-9:2]) # ""

[]

In [81]:
print(country_list[-9:2:-1]) # ['Croatia' to 'China'][Reverse]

['Croatia', 'Sweden', 'Finland', 'France', 'Norway', 'Vietnam', 'Japan', 'Canada', 'China']

In [82]:
country_list = list(('India','Russia','America','China','Canada','Japan','Vietnam',
               'Norway','France','Finland','Sweden','Croatia','Australia',
               'India','China','Pakistan','Japan','Iran','Singapore','New-Zealand'))
print(country_list[-4:-2]) # ['Japan','Iran']
print(country_list[-11:17:2]) # ['Fin','Cro','Ind','Pak']

['Japan', 'Iran']
['Finland', 'Croatia', 'India', 'Pakistan']

In [83]:
print(country_list[-9:2:-3]) # ['Croatia','France','Japan']

['Croatia', 'France', 'Japan']

In [84]:
print(country_list[-11:-4:5]) # ['Finland','China']

['Finland', 'China']

In [86]:
print(country_list[-8:4:3]) # []

[]

In [87]:
print(country_list[-17:21:4]) # ['China','Norway','Croatia','Pakistan','New-Zealand']

['China', 'Norway', 'Croatia', 'Pakistan', 'New-Zealand']

In [88]:
print(country_list[-17:3:4]) # []

[]

In [89]:
# Basic List Operations:
# len() -> returning the length of a list by calculating the number of elements in a list...
print(len(country_list))

20

In [90]:
# min() , max() , sum()
_num_list = [11,22,33,44,55,66,77,88,99,110]
print(len(_num_list)) # 10
print(min(_num_list)) # 11
print(max(_num_list)) # 110
print(sum(_num_list)) # 605

10
11
110
605

In [92]:
# min() , max() , sum()
_num_list = [11,22,33,44,55,66,77,88,99,110,False,True] # Mixed Type
print(len(_num_list)) # 12
print(min(_num_list)) # 0[False]
print(max(_num_list)) # 110
print(sum(_num_list)) # 605 + True[1] + False[0] = 606

12
False
110
606

In [91]:
print(int(False)) # 0
print(int(True)) # 1

0
1

In [93]:
country_list = list(('India','Russia','America','China','Canada','Japan','Vietnam',
               'Norway','France','Finland','Sweden','Croatia','Australia',
               'India','China','Pakistan','Japan','Iran','Singapore','New-Zealand'))
print(len(country_list)) # 20
print(min(country_list)) # America
print(max(country_list)) # 'Vietnam'

20
America
Vietnam

In [94]:
country_list = list(('India','Russia','America','China','Canada','Japan','Vietnam',
               'Norway','France','Finland','Sweden','Croatia','australia',
               'India','China','Pakistan','Japan','Iran','Singapore','New-Zealand'))
print(len(country_list)) # 20
print(min(country_list)) # America
print(max(country_list)) # 'ASCII''a' > 'V' ['australia']

20
America
australia

In [109]:
_str = 'Hey, Let me know, how you gonna find the second occurence of me'
me_index = _str.index('me') # First Occurence [9]
print(me_index)

9

In [105]:
print(_str.count('me')) # 2

2

In [106]:
print('me' in _str) # True

True

In [110]:
_str.index('me' , me_index + 1) # .index(substr , start, stop)

61

In [6]:
# Lists are mutable [means we can change the list content]
country_list = ['India','Russia','America','China','Canada','Japan','Vietnam',
               'Norway','France','Finland','Sweden','Croatia','Australia',
               'India','China','Pakistan','Japan','Iran','Singapore','New-Zealand']
country_list[-3] = 'Spain' # 'Iran' -> 'Spain' [Mutable Container]
print(country_list)

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Finland', 'Sweden', 'Croatia', 'Australia', 'India', 'China', 'Pakistan', 'Japan', 'Spain', 'Singapore', 'New-Zealand']

In [7]:
country_list[8:11] = ['France'] # ['France', 'Finland', 'Sweden'] -> ['France'] [Mutable Container]
print(country_list)

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'India', 'China', 'Pakistan', 'Japan', 'Spain', 'Singapore', 'New-Zealand']

In [8]:
country_list[8:11] = 'France' # After Norway ['F', 'r', 'a', 'n', 'c', 'e']
print(country_list)

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'F', 'r', 'a', 'n', 'c', 'e', 'India', 'China', 'Pakistan', 'Japan', 'Spain', 'Singapore', 'New-Zealand']

In [9]:
# Hoping so, You understand the difference of above 2 block of code....
country_list[8:14] = ['France', 'Croatia', 'Australia'] 
print(country_list)

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'India', 'China', 'Pakistan', 'Japan', 'Spain', 'Singapore', 'New-Zealand']

# ('France') <'String'>
# ('France',) <'Tuple'>
# ['France'] <'List'>

In [10]:
country_list[-7:-5] = ('Finland',) # ['India','China'] # ('Finland',)
print(country_list)

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'Japan', 'Spain', 'Singapore', 'New-Zealand']

In [11]:
# Repeating a content of a list <*>
char_list = ['a','b','c','d','e',True,False]
print(char_list * 2) # 
print(len(char_list)) # 7
print(len(char_list*2)) # 14

['a', 'b', 'c', 'd', 'e', True, False, 'a', 'b', 'c', 'd', 'e', True, False]
7
14

## ***Adding items in a lists:***
- `.append()` : Add one item at the end
- `.extend()` : Adds all items from another list
- `.insert()` : Insert an item at specific position/Index.

In [12]:
country_list = ['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'Spain', 'Singapore', 'New-Zealand']
country_list.append('Nepal') # Item will be added at the end.
print(country_list)

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'Spain', 'Singapore', 'New-Zealand', 'Nepal']

In [13]:
new_country_list = ['South Africa','UAE','Iran','Thailand','Mexico','Germany','UK']
country_list.extend(new_country_list)
print(country_list)

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'Spain', 'Singapore', 'New-Zealand', 'Nepal', 'South Africa', 'UAE', 'Iran', 'Thailand', 'Mexico', 'Germany', 'UK']

In [14]:
# Insert(Pos, Val)
country_list.insert(3,'Qatar')
print(country_list)

['India', 'Russia', 'America', 'Qatar', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'Spain', 'Singapore', 'New-Zealand', 'Nepal', 'South Africa', 'UAE', 'Iran', 'Thailand', 'Mexico', 'Germany', 'UK']

In [15]:
# Insert(Pos, Val)
country_list.insert(3,['Brazil','Zimbia','Argentina','South Korea']) # Existing List Become Nested
print(country_list)

['India', 'Russia', 'America', ['Brazil', 'Zimbia', 'Argentina', 'South Korea'], 'Qatar', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'Spain', 'Singapore', 'New-Zealand', 'Nepal', 'South Africa', 'UAE', 'Iran', 'Thailand', 'Mexico', 'Germany', 'UK']

# Insert(Pos, Val) # TypeError: insert expected 2 arguments, got 5
country_list.insert(3,'Brazil','Zimbia','Argentina','South Korea') #Error
print(country_list)

In [17]:
# Adding a list using '+' Operator [Concatenation]
weekday_list = ['Mon','Tue','Wed','Thur','Fri']
weekend_list = ['Sat','Sun']
week_list = weekday_list + weekend_list
print(week_list) 
print(type(week_list)) # <'list'>

['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun']
<class 'list'>

In [19]:
# Indexing in Nested List [2D Matrix] [row][col] [3*5]
nested_list = [
    [1,2,3,4,5],
    [0,2,4,6,8],
    [1,3,5,7,9],
]
print(nested_list[0][1]) # 2
print(nested_list[-1][-4]) # 3 
print(nested_list[2][-1]) # 9
print(nested_list[-3][-3]) # 3
print(nested_list[2][-5]) # 1
print(nested_list[-2][4]) # 8
print(nested_list[-3][3]) # 4

2
3
9
3
1
8
4

In [20]:
# Slicing [Start:Stop:Step]
nested_list = [
    [1,2,3,4,5],
    [0,2,4,6,8],
    [1,3,5,7,9],
]
print(nested_list[0:2]) # [[1,2,3,4,5],[0,2,4,6,8]]

[[1, 2, 3, 4, 5], [0, 2, 4, 6, 8]]

In [21]:
print(nested_list[::-1]) # reverse all the rows

[[1, 3, 5, 7, 9], [0, 2, 4, 6, 8], [1, 2, 3, 4, 5]]

In [22]:
print(nested_list[::-1][0:2]) # [1, 3, 5, 7, 9], [0, 2, 4, 6, 8]

[[1, 3, 5, 7, 9], [0, 2, 4, 6, 8]]

In [23]:
print(nested_list[-1][1:4]) # [1,3,5,7,9] # [3,5,7]

[3, 5, 7]

In [24]:
print(nested_list[-1][::-1]) # [9,7,5,3,1]

[9, 7, 5, 3, 1]

In [25]:
# Comparison List
_list1 = [1,2,3,4,5]
_list2 = [1,2,3]
result = (_list1 == _list2) # Boolean Return[Data Compare]
print(result) # False

False

In [26]:
# Comparison List
_list1 = [1,2,3,4,5]
_list2 = [1,2,3,4,5]
result = (_list1 == _list2) # Boolean Return[Data Compare]
print(result) # True

True

In [27]:
# Comparison List
_list1 = [1,2,3,4,5,6,7]
_list2 = [1,2,3,4,5]
result = (_list1 != _list2) # Boolean Return[Data Compare]
print(result) # True

True

In [28]:
# Comparison List
_list1 = [1,2,3,4,5,6,7]
_list2 = [1,2,3,4,5]
result = (_list1 >= _list2) # Boolean Return[Data Compare]
print(result) # True

True

In [29]:
# Comparison List
_list1 = [1,2,3,4,5,6,7]
_list2 = [1,2,3,4,5]
result = (_list1 <= _list2) # Boolean Return[Data Compare]
print(result) # False

False

In [30]:
# Comparison List
_list1 = ['1','2','3','4','5']
_list2 = [1,2,3,4,5]
result = (_list1 != _list2) # Boolean Return[Data Compare]
print(result) # True

True

# Comparison List
_list1 = ['1','2','3','4','5']
_list2 = [1,2,3,4,5]
result = (_list1 >= _list2) # Boolean Return[Data Compare]
print(result) # TypeError: '>=' not supported between instances of 'str' and 'int'

In [32]:
# Comparison List [ASCII Compare] ['a'>'A'>'0']
_list1 = ['a','b','c']
_list2 = ['1','2','3','4','5']
result = (_list1 >= _list2) # Boolean Return[Data Compare]
print(result) # True

True

## ***Removing items from a list:***
1. `.remove()` - Remove the First Occurrence of an element.
2. `.pop()` - Removes by index, return value can be stored back to variable.
3. `del()` - Delete elements by index or slicing.
4. `.clear()` - Empties the List.

In [33]:
country_list = ['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'Spain', 'Singapore', 'New-Zealand']
country_list.remove('Spain') # Element Value
print(country_list)

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'Singapore', 'New-Zealand']

In [34]:
country_list.remove('Finland') # Element Value
print(country_list)

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Pakistan', 'Singapore', 'New-Zealand']

country_list.remove('Brazil') # Element Value
print(country_list) # ValueError: list.remove(x): x not in list

In [36]:
# pop() -> While popping out the element you pass an index, you can take a backup of popped element
pop_country = country_list.pop(-1) # 'New-Zealand'
print(pop_country) # 'New-Zealand'
print(country_list) # Full List Except 'New-Zealand'

New-Zealand
['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Pakistan', 'Singapore']

In [37]:
# append() # Insert at the end.
country_list.append(pop_country)
print(country_list)

['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Pakistan', 'Singapore', 'New-Zealand']

In [38]:
country_replacement = country_list.pop(9) # 'Croatia'
print(country_replacement) # 'Croatia'
print(country_list)

Croatia
['India', 'Russia', 'America', 'China', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Australia', 'Pakistan', 'Singapore', 'New-Zealand']

In [40]:
# insert(pos , val)
country_list.insert(4 , country_replacement)
print(country_list)

['India', 'Russia', 'America', 'China', 'Croatia', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Australia', 'Pakistan', 'Singapore', 'New-Zealand']

In [41]:
# del, We can pass an indexing or slicing to del an element of a list.
del country_list[3] # 'China'
print(country_list)

['India', 'Russia', 'America', 'Croatia', 'Canada', 'Japan', 'Vietnam', 'Norway', 'France', 'Australia', 'Pakistan', 'Singapore', 'New-Zealand']

In [42]:
# Slicing[Start:Stop:Step]
del country_list[3:6] # ['Croatia', 'Canada', 'Japan']
print(country_list)

['India', 'Russia', 'America', 'Vietnam', 'Norway', 'France', 'Australia', 'Pakistan', 'Singapore', 'New-Zealand']

In [43]:
del country_list[-2:] # ['Singapore', 'New-Zealand']
print(country_list)

['India', 'Russia', 'America', 'Vietnam', 'Norway', 'France', 'Australia', 'Pakistan']

In [44]:
# .clear() -> Empties the list
country_list.clear()
print(country_list) # []

[]

# del <listName> : Remove list from the memory
del country_list
print(country_list) # NameError: name 'country_list' is not defined

In [46]:
# Sorting [Ascending - Default] & Desc[Reverse()] [::-1] # 'ASCII'
country_list = ['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']
country_list.sort() # ['A'-'Z','a'-'z']

In [47]:
print(country_list)

['America', 'Australia', 'Canada', 'Croatia', 'Finland', 'France', 'India', 'New-Zealand', 'Norway', 'Pakistan', 'Russia', 'Singapore', 'Vietnam', 'china', 'japan', 'spain']

In [48]:
# country_list.sort()
print(country_list[::-1])

['spain', 'japan', 'china', 'Vietnam', 'Singapore', 'Russia', 'Pakistan', 'Norway', 'New-Zealand', 'India', 'France', 'Finland', 'Croatia', 'Canada', 'Australia', 'America']

In [50]:
country_list = ['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']
country_list.sort(reverse = True) # Descending
print(country_list)

['spain', 'japan', 'china', 'Vietnam', 'Singapore', 'Russia', 'Pakistan', 'Norway', 'New-Zealand', 'India', 'France', 'Finland', 'Croatia', 'Canada', 'Australia', 'America']

In [51]:
# ASCII Role âŒ
country_list = ['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']
country_list.sort(key = str.lower) # Truly Sorted
print(country_list)

['America', 'Australia', 'Canada', 'china', 'Croatia', 'Finland', 'France', 'India', 'japan', 'New-Zealand', 'Norway', 'Pakistan', 'Russia', 'Singapore', 'spain', 'Vietnam']

In [52]:
country_list = ['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']
country_list.sort(key = str.upper) # Truly Sorted
print(country_list) # 'INDIA','RUSSIA','AMERICA'

['America', 'Australia', 'Canada', 'china', 'Croatia', 'Finland', 'France', 'India', 'japan', 'New-Zealand', 'Norway', 'Pakistan', 'Russia', 'Singapore', 'spain', 'Vietnam']

In [53]:
# ASCII Role âŒ
country_list = ['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']
country_list.sort(key = str.lower , reverse = True) # Reverse the Truely Sorted List
print(country_list)

['Vietnam', 'spain', 'Singapore', 'Russia', 'Pakistan', 'Norway', 'New-Zealand', 'japan', 'India', 'France', 'Finland', 'Croatia', 'china', 'Canada', 'Australia', 'America']

In [54]:
country_list = ['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']
country_list.sort(key = str.lower) #Truely Sorted List
print(country_list[::-1])

['Vietnam', 'spain', 'Singapore', 'Russia', 'Pakistan', 'Norway', 'New-Zealand', 'japan', 'India', 'France', 'Finland', 'Croatia', 'china', 'Canada', 'Australia', 'America']

In [56]:
List =['1','2','3','4', 'India', 'usa', 'Japan', 'Austria', 'italy', '7','8','9'] # Homogenous
List.sort(key = str.lower) # ['1','2','3','4','7','8','9','Austria','India','italy','Japan','usa']

In [57]:
print(List)

['1', '2', '3', '4', '7', '8', '9', 'Austria', 'India', 'italy', 'Japan', 'usa']

In [58]:
List =[1,2,3,4, 'India', 'usa', 'Japan', 'Austria', 'italy', 7,8,9] # Heterogenous
new_list = []
for x in List:
    new_list.append(str(x))

print(new_list)

['1', '2', '3', '4', 'India', 'usa', 'Japan', 'Austria', 'italy', '7', '8', '9']

In [60]:
new_list.sort(key = str.lower)
print(new_list)

['1', '2', '3', '4', '7', '8', '9', 'Austria', 'India', 'italy', 'Japan', 'usa']

In [61]:
# 'Joining' strings from a list
word_list = ['Python','is','an','awesome','programming','language']
final_statement = ' '.join(word_list)
print(final_statement)

Python is an awesome programming language

In [62]:
char_list = ['P','y','t','h','o','n',' ','P','r','o','g','r','a','m','m','i','n','g']
result = ''.join(char_list)
print(result)

Python Programming

In [63]:
# .count() in list # Count the repeated value in a list.
country_list = ['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand',
               'India','india','China']
count_india = country_list.count('India') # 2
print(count_india) # 'India' != 'india' # 2

2

In [64]:
num_list = [1,2,3,1,1,2,1,2,1,2,1,2,1,2,1,2,2,12,2,2,2,121,1,12,12,2]
print(num_list.count(2))
print(num_list.count(1))

12
9

In [65]:
# DeepCopy [Pointer points to the same object] VS Shallow Copy [Independent Object]
country_list = ['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']
new_country_list = country_list # Deep Copy
print(id(country_list)) # 'Memory Address'
print(id(new_country_list)) # 'Memory Address'

1958077271232
1958077271232

In [66]:
new_country_list[-5:] = ['Brazil']
# new_country_list and country_list both will be affected [Deep Copy]
print(new_country_list)

['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Brazil']

In [67]:
print(country_list)

['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Brazil']

In [68]:
# Shallow Copy #.copy()
country_list = ['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']
new_country_list = country_list.copy() # Shallow Copy
print(id(country_list)) # 'Memory Address'
print(id(new_country_list)) # 'Memory Address'
# Different Memory Address as they both are independent data

1958117325568
1958117316608

In [69]:
new_country_list[-3:] = ['Qatar']
print(new_country_list)

['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'Qatar']

In [70]:
print(country_list) # No Changes Reflected on my main list

['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']

In [71]:
# Shallow Copy # slicing
country_list = ['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']
new_country_list = country_list[:] # Shallow Copy
print(id(country_list)) # 'Memory Address'
print(id(new_country_list)) # 'Memory Address'
# Different Memory Address as they both are independent data

1958131855936
1958077271232

In [72]:
new_country_list[0:4] = ['Brazil','India']
print(new_country_list)

['Brazil', 'India', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']

In [73]:
print(country_list)

['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']

In [74]:
# Shallow Copy # list() Constructor
country_list = ['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']
new_country_list = list(country_list) # Shallow Copy
print(id(country_list)) # 'Memory Address'
print(id(new_country_list)) # 'Memory Address'
# Different Memory Address as they both are independent data

1958117279168
1958122910208

In [75]:
new_country_list[4:7] = ['Switzerland','Malaysia']
print(new_country_list)

['India', 'Russia', 'America', 'china', 'Switzerland', 'Malaysia', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']

In [76]:
print(country_list)

['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']

In [77]:
# Adding a list using '+' Operator [Concatenation]
weekday_list = ['Mon','Tue','Wed','Thur','Fri']
weekend_list = ['Sat','Sun']
week_list = weekday_list + weekend_list
new_week_list = week_list # Deep Copy
print(id(week_list))
print(id(new_week_list)) # 'Pointing to the Same Memory Address'

1958117310656
1958117310656

In [78]:
# Before
print(week_list)
print(new_week_list)

['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun']
['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun']

In [79]:
# After
del new_week_list[-3:] # Removing 'Fri','Sat','Sun'
print(week_list)
print(new_week_list)

['Mon', 'Tue', 'Wed', 'Thur']
['Mon', 'Tue', 'Wed', 'Thur']

In [80]:
# List Comprehensions [Shorthand Property] # List Create
squared = [i**2 for i in range(1,6)] # range(start,stop,step) # [1,2,3,4,5]
print(squared) # [1,4,9,16,25]

[1, 4, 9, 16, 25]

In [81]:
add_100 = [i+100 for i in range(11,111,11)] # range(start,stop,step) # [11,22,33,44,55,....110]
print(add_100) # [111,122,133,144,155]

[111, 122, 133, 144, 155, 166, 177, 188, 199, 210]

## ***What Exacty is a Tuple?***
- Ordered Collection (items maintains its positions)
- It can store different data-types together.
- But the Only Big Difference here is : Immutability (Once Created,their elements can't be modified)

In [82]:
_tuple = ()
print(_tuple)
print(type(_tuple)) # ()

()
<class 'tuple'>

In [83]:
_tuple = (1,2,'3','4',False,True,19.99,'9+10j','k','Coding')
print(_tuple)

(1, 2, '3', '4', False, True, 19.99, '9+10j', 'k', 'Coding')

In [84]:
_tuple = 1,2,3,4,5
print(_tuple)
print(type(_tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [85]:
# tuple() Constructor -> TypeCasting
country_list = ['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']
country_tuple = tuple(country_list) 
print(country_tuple)
print(type(country_tuple))

('India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand')
<class 'tuple'>

In [86]:
char_tuple = tuple('Python') # ('P','y','t','h','o','n') # int('77') # 77
print(char_tuple)

('P', 'y', 't', 'h', 'o', 'n')

In [87]:
_tuple = tuple(('Python',))
print(_tuple)
print(type(_tuple))

('Python',)
<class 'tuple'>

In [88]:
nested_list = [
    [1,2,3,4,5],
    [0,2,4,6,8],
    [1,3,5,7,9],
]
nested_tuple = tuple(nested_list)
nested_tuple

([1, 2, 3, 4, 5], [0, 2, 4, 6, 8], [1, 3, 5, 7, 9])

In [89]:
# List as an element is mutable even if inside the immutable container
nested_tuple[0] # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [90]:
nested_tuple[:2] # ([1, 2, 3, 4, 5], [0, 2, 4, 6, 8])

([1, 2, 3, 4, 5], [0, 2, 4, 6, 8])

In [91]:
nested_tuple[0].append(6)
nested_tuple

([1, 2, 3, 4, 5, 6], [0, 2, 4, 6, 8], [1, 3, 5, 7, 9])

In [92]:
# nested_tuple : Element_tuple
nested_tuple = (('Mon','Tue','Wed'),('Thurs','Fri','Sat','Sun'))
print(nested_tuple) 
print(type(nested_tuple)) # 'tuple'
print(type(nested_tuple[0])) # 'tuple'
print(type(nested_tuple[1])) # 'tuple'

(('Mon', 'Tue', 'Wed'), ('Thurs', 'Fri', 'Sat', 'Sun'))
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

nested_tuple[0] = ('Monday','Tuesday','Wednesday')
print(nested_tuple) # TypeError: 'tuple' object does not support item assignment

nested_tuple[0].append('Monday') # AttributeError: 'tuple' object has no attribute 'append'

In [96]:
# Indexing & Slicing in Tuples
country_list = ['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']
country_tuple = tuple(country_list) 
print(country_tuple[-7]) # 'Croatia'
print(country_tuple[5]) # 'Japan'
print(country_tuple[-16]) # 'India' 
print(country_tuple[4:9:2]) # ('Canada','Vietnam','France')
print(country_tuple[-2:-11:-2]) # ('Singapore','Pakistan','Aus','France','Vietnam')
print(country_tuple[-7:15:-3]) # ()
print(country_tuple[-14:12:4]) # ('America','Vietnam','Aus')

Croatia
japan
India
('Canada', 'Vietnam', 'France')
('Singapore', 'Pakistan', 'Australia', 'France', 'Vietnam')
()
('America', 'Vietnam', 'Australia')

In [97]:
# Len() -> Finding the tuple length
country_list = ['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']
country_tuple = tuple(country_list) 
print(len(country_tuple)) # 16

16

In [98]:
# min() , max() , sum()
_num_list = (11,22,33,44,55,66,77,88,99,110,False,True) # Mixed Type
print(len(_num_list)) # 12
print(min(_num_list)) # 0[False]
print(max(_num_list)) # 110
print(sum(_num_list)) # 605 + True[1] + False[0] = 606

12
False
110
606

In [1]:
# Immutability of a Tuple
# We can't change or modify/add any elements directly.
# Tuples don't have :- append, extend, insert, remove
# But tuple having a mutable elements can be fetched and modified.
country_tuple = ('India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand')
conv_tuple_to_list = list(country_tuple)
print(type(conv_tuple_to_list)) # <'list'>
conv_tuple_to_list.append('Germany')
print(conv_tuple_to_list)

<class 'list'>
['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand', 'Germany']

In [2]:
country_tuple = tuple(conv_tuple_to_list) # added with 'Germany'
print(country_tuple)
print(type(country_tuple)) # 'tuple'

('India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand', 'Germany')
<class 'tuple'>

In [3]:
# Concatenating A tuple
weekday_tuple = ('Mon','Tues','Wed','Thurs','Fri')
weekend_tuple = ('Sat','Sun')
week_tuple = weekday_tuple + weekend_tuple
print(week_tuple)

('Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun')

In [4]:
weekday_tuple = (['Mon','Tues'],) # tuple
weekend_tuple = ('Sat','Sun')
week_tuple = weekday_tuple + weekend_tuple
print(week_tuple)

(['Mon', 'Tues'], 'Sat', 'Sun')

In [5]:
print(week_tuple[0]) # ['Mon','Tues'] # List
print(type(week_tuple[0])) # 'list'

['Mon', 'Tues']
<class 'list'>

In [6]:
week_tuple[0]
type(week_tuple[0])

list

In [7]:
week_tuple[0]
print(type(week_tuple[0]))

<class 'list'>

In [8]:
week_tuple[0].extend(['Wed','Thurs','Fri'])
print(week_tuple)

(['Mon', 'Tues', 'Wed', 'Thurs', 'Fri'], 'Sat', 'Sun')

In [9]:
# Concatenating A tuple
weekday_tuple = ('Mon','Tues','Wed','Thurs','Fri')
weekend_tuple = ('Sat','Sun')
week_tuple = weekday_tuple[:3] + weekend_tuple
print(week_tuple)

('Mon', 'Tues', 'Wed', 'Sat', 'Sun')

week_tuple[2] = 'Wednesday' # Updation # Error
# TypeError: 'tuple' object does not support item assignment

In [12]:
# List - Remove, Del , Pop , Clear
# Tuple - Del
# Deleting ELements in Tuple âŒ Vs Deleting a Tuple âœ…
weekday_tuple = ('Mon','Tues','Wed','Thurs','Fri')
print(weekday_tuple)
print(type(weekday_tuple))
# del weekday_tuple[-1] # 'Fri' # TypeError: 'tuple' object doesn't support item deletion
# Del Operation for an element in a immutable container (Tuple) is not allowed âŒ

('Mon', 'Tues', 'Wed', 'Thurs', 'Fri')
<class 'tuple'>

In [13]:
del weekday_tuple # This will be executed and remove the variable from the memory.

print(weekday_tuple) # NameError: name 'weekday_tuple' is not defined

In [15]:
# Unpacking a Tuple
a,b,c = (10,20,30) # LHS = RHS
print(a) # 10
print(b) # 20
print(c) # 30

10
20
30

In [16]:
a,b,*c = (10,20,30,40,50,60,70,80,90) # LHS != RHS
print(a) # 10
print(b) # 20
print(c) # [30,40,50,60,70,80,90]
print(tuple(c)) # (30,40,50,60,70,80,90)

10
20
[30, 40, 50, 60, 70, 80, 90]
(30, 40, 50, 60, 70, 80, 90)

In [17]:
a,*b,c = (10,20,30,40,50,60,70,80,90) # LHS != RHS
print(a) # 10
print(b) # [20,30,40,50,60,70,80]
print(tuple(b)) # (20,30,40,50,60,70,80)
print(c) # 90

10
[20, 30, 40, 50, 60, 70, 80]
(20, 30, 40, 50, 60, 70, 80)
90

# SyntaxError: multiple starred expressions in assignment
a,*b,*c = (10,20,30,40,50,60,70,80,90) # LHS != RHS
print(a) # 10
print(b) # [20,30,40,50,60,70,80]
print(tuple(b)) # (20,30,40,50,60,70,80)
print(c) # 90

# ValueError: too many values to unpack (expected 3)
a,b,c = (10,20,30,40,50,60,70,80,90) # LHS != RHS
print(a) # 10
print(b) # [20,30,40,50,60,70,80]
print(tuple(b)) # (20,30,40,50,60,70,80)
print(c) # 90

In [20]:
# Repeating a tuple ('*')
_tuple = ('a','b','c','d','e')
print(_tuple * 3)

('a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e')

In [21]:
# Combining a Tuple 
_tuple1 = (1,2,3,4,5)
_tuple2 = (True,False,99.99,'Coding','k','9+1j',11,22)
new_tuple = _tuple1 + _tuple2
print(new_tuple)

(1, 2, 3, 4, 5, True, False, 99.99, 'Coding', 'k', '9+1j', 11, 22)

In [23]:
# .count()
country_tuple = ('India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand','India',
                'india','China','canada','Japan')
country_tuple.count('India') # 2 ['India' != 'india']

2

In [24]:
# .index() returns the position of an element if it exist. [First Occurrence]
country_tuple.index('Norway') # 7

7

country_tuple.index('Sweden') # ValueError: tuple.index(x): x not in tuple

## ***Using Map() in Python:***
#### What is Map()?
#### Syntax : `map(function,iterable)` where function uses (lambda functions internally.)
##### The Map() Function is a very handy tool in python that let's you:
    - Apply a Function to each item of a list, tuple or any other iterables.
    - Return a Map Object

In [26]:
# Squaring each element of a list
num_list = [1,2,3,4,5,6,7]
# map(function , iterables)
squared = map(lambda x : x ** 2 , num_list) 
print(squared) # Map Object
print(list(squared)) # [1,4,9,16,25,36,49]
print(tuple(squared)) # ()

<map object at 0x00000128A611CA00>
[1, 4, 9, 16, 25, 36, 49]
()

In [35]:
# Cubing each element of a list
num_list = (1,2,3,4,5,6,7) # tuple
# map(function , iterables)
cube = map(lambda x : x ** 3 , num_list) 
print(cube) # Map Object
print(list(cube)) # [1,8,27,64,125,216,343]
print(tuple(cube)) # ()

<map object at 0x00000128A6E29F60>
[1, 8, 27, 64, 125, 216, 343]
()

In [27]:
# Adding 10 to each element
num_list = [1,2,3,4,5,6,7]
# map(function , iterables)
add_10 = map(lambda x : x + 10 , num_list) 
print(add_10) # Map Object
print(tuple(add_10)) # (11,12,13,14,15,16,17)
print(list(add_10)) # []

<map object at 0x00000128A611C520>
(11, 12, 13, 14, 15, 16, 17)
[]

In [28]:
print(type(squared))

<class 'map'>

In [29]:
print(type(add_10))

<class 'map'>

In [32]:
country_tuple = ('India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand')
# for i in range(1,6) # range(start,stop,step) # [1,2,3,4,5]
for i in range(len(country_tuple)): # [0,1,2,3,.......len-1]
    print(country_tuple[i] , end = '  ')

India  Russia  America  china  Canada  japan  Vietnam  Norway  France  Croatia  Australia  Finland  Pakistan  spain  Singapore  New-Zealand

In [33]:
country_tuple = ('India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 
                'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand')
# for i in range(1,6) # range(start,stop,step) # [1,2,3,4,5]
country_list = []
for i in range(len(country_tuple)): # [0,1,2,3,.......len-1]
    country_list.append(country_tuple[i])

print(country_list)

['India', 'Russia', 'America', 'china', 'Canada', 'japan', 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand']

In [36]:
# Taking Multiple input from the users:
# '77'-> 77 : int('77') - 77 , does int() acting as a fx().....
numbers = map(int, input('Enter the Multiple Numbers: ').split()) # ['10','20','30','40','50','60'...'100']
print(numbers) # Map Object
print(list(numbers)) # List Container [.....]
print(tuple(numbers)) # Tuple Container ()

Enter the Multiple Numbers:  10 20 30 40 50 60 70 80 90 100

<map object at 0x00000128A611C970>
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
()

In [37]:
# Taking Multiple input from the users:
# str('Coding') - 'Coding'
strings = map(str, input('Enter the Multiple String Inputs: ').split()) 
print(strings) # Map Object
print(tuple(strings)) # Tuple Container (.......)
print(list(strings)) # List Container []

Enter the Multiple String Inputs:  Coding Python Programming Hello World

<map object at 0x00000128A611CC40>
('Coding', 'Python', 'Programming', 'Hello', 'World')
[]

## ***What are Sets?***
#### A set in Python is:
- `Unordered` : No guarenteed order of elements.
- `Mutable` : You can add or remove elements
- `Unindexed`: No way to access items by its positions
- `Unique Items Only` : Automatically Removes Duplicates

##### Note : They can also hold different data type together, like numbers,strings or boolean.

In [38]:
# You can't assign {} to a set, as its by default for dictionary
_dict = {} # dict
_set = set() # Empty set
print(_dict)
print(type(_dict)) # 'dict'
print(_set)
print(type(_set)) # 'set'

{}
<class 'dict'>
set()
<class 'set'>

In [40]:
_set = {1} # 'set'
_dict = {'name':'Krishna'} # 'dict'
print(_set)
print(type(_set))
print(_dict)
print(type(_dict))

{1}
<class 'set'>
{'name': 'Krishna'}
<class 'dict'>

In [41]:
_set = {1,2,3,False,True,'Coding','k',99.99,'$19.99'}
print(_set)
print(type(_set))

{False, 1, 2, 3, 99.99, 'k', '$19.99', 'Coding'}
<class 'set'>

In [42]:
_duplicate_set = {1,2,1,2,2,1,1,1,1,2,3,2,1,2,2,3,4,3,2,1,2,3,2,1,False,True} # {1,2,3,4,False}
print(_duplicate_set) # Only Stores Unique Values

{False, 1, 2, 3, 4}

In [44]:
_duplicate_set = {1,2,1,2,1,2,2,2,2,2,2,2,2,1,1,2,1,2,2} # {1,2}
print(_duplicate_set) # No fixed Order

{1, 2}

In [45]:
_duplicate_set = {0,0,1,2,1,2,1,2,2,2,2,2,2,2,2,1,1,2,1,2,2} # {0,1,2}
print(_duplicate_set)

{0, 1, 2}

In [46]:
_duplicate_set = {False,True,0,0,1,2,1,2,1,2,2,2,2,2,2,2,2,1,1,2,1,2,2} # {F,T,2}
print(_duplicate_set) # False ~ 0 , True ~ 1

{False, True, 2}

In [47]:
_duplicate_set = {0,0,1,2,1,2,1,2,2,2,2,2,2,2,2,1,1,2,1,2,2,False,True} # {0,1,2}
print(_duplicate_set) # False ~ 0 , True ~ 1

{0, 1, 2}

In [50]:
# set() as a Constructor class
country_tuple = ('India', 'Russia', 'America', 'china', 'Canada', 'japan', 
                 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 
                 'Vietnam', 'Norway', 'France', 'Croatia', 'Australia', 
                 'Finland', 'Pakistan', 'spain', 'Singapore', 'New-Zealand')
country_set = set(country_tuple) # Unique + Un-indexed
print(country_set)

{'Croatia', 'china', 'Canada', 'America', 'Vietnam', 'Australia', 'New-Zealand', 'India', 'japan', 'Russia', 'France', 'spain', 'Norway', 'Pakistan', 'Singapore', 'Finland'}

In [52]:
_list = [False, True, 0 , 1 , 2, 19.99, 'Coding', 'k','Python']
_set = set(_list)
print(_set)

{False, True, 2, 'k', 'Python', 19.99, 'Coding'}

_list = [False, True, 0 , 1 , 2, 19.99, 'Coding', 'k','Python',['a','b','c']]
_set = set(_list)
print(_set) # TypeError: unhashable type: 'list'
# Hashing : 'hello@123' -> [/'d23723iygbvaco9723ucvyviwg7']

In [56]:
# Elements in a set has to be Immutable , And set is Mutable Container
nested_set = {
    'coding', # str
    99,
    ('a','b','c','d','e'), # Tuple [Immutable]
    ('Coding',), # Tuple
    ('coding'), # Str
    True,
    False,
    (True,False,0,1)
}
print(nested_set)

{False, True, 99, (True, False, 0, 1), 'coding', ('a', 'b', 'c', 'd', 'e'), ('Coding',)}

In [58]:
# Understanding Common Methods and Operations Associated with Sets
# Accessing of an item âŒ (No Indexing)
# Membership Operators # [Boolean Returns] # in , not in
car_set = {'Taigun','Creta','Venue','Seltor','Slavia','Nexon',
           'Virtus','Alto','Sierra','City','Harrier','Thar'}
print(car_set)
print('Virtus' in car_set) # True
print('ScorpioN' in car_set) # False
print('Thar' not in car_set) # False
print('Kylaq' not in car_set) # True
print('Hector' in car_set) # False

{'Harrier', 'Slavia', 'Alto', 'Venue', 'Taigun', 'Thar', 'Creta', 'Nexon', 'Sierra', 'Virtus', 'Seltor', 'City'}
True
False
False
True
False

In [59]:
# length of a set() using len() [Return the number of unique elements present on set]
car_set = {'Taigun','Creta','Venue','Seltor','Slavia','Nexon',
           'Virtus','Alto','Sierra','City','Harrier','Thar',
           'Virtus','Alto','Sierra','City','Harrier','Thar'}
print(len(car_set)) # 12

12

In [62]:
# min() , max(), sum()
quick_set = {0,1,2,3,4,5,11,22,33,44,55,False,True} # False[0],True[1]
print(quick_set)
print(min(quick_set)) # 0
print(max(quick_set)) # 55
print(sum(quick_set)) # 180

{0, 1, 2, 3, 4, 5, 33, 11, 44, 22, 55}
0
55
180

In [63]:
# min() , max(), sum()
quick_set = {False,True,0,1,2,3,4,5,11,22,33,44,55,False,True} # False[0],True[1]
print(quick_set)
print(min(quick_set)) # False
print(max(quick_set)) # 55
print(sum(quick_set)) # 180

{False, True, 2, 3, 4, 5, 33, 11, 44, 22, 55}
False
55
180

In [64]:
# Adding an elements on set() # .add(), .update()
# List -> .append(),.insert(),.extend()
quick_set.add(77)
print(quick_set)

{False, True, 2, 3, 4, 5, 33, 11, 44, 77, 22, 55}

In [65]:
quick_set.add(99)
print(quick_set)

{False, True, 2, 3, 4, 5, 33, 99, 11, 44, 77, 22, 55}

In [66]:
# .updates(<iterables>) -> Adds a multiple elements -> iterables as an argument
quick_set.update(['a','b','c']) # Only one argument is allowed
print(quick_set)

{False, True, 2, 3, 4, 5, 33, 99, 11, 44, 77, 22, 55, 'c', 'b', 'a'}

In [67]:
# .updates(<iterables>) -> Adds a multiple elements -> iterables as an argument
quick_set.update('Coding') # Only one argument is allowed
print(quick_set) # each elements ['C','o','d','i','n','g']

{False, True, 2, 3, 4, 5, 'C', 'n', 11, 22, 33, 44, 'd', 55, 'g', 77, 'i', 'o', 99, 'c', 'b', 'a'}

In [68]:
# .updates(<iterables>) -> Adds a multiple elements -> iterables as an argument
quick_set.update(('Coding',)) # Only one argument is allowed
print(quick_set) # ('Coding',)

{False, True, 2, 3, 4, 5, 'C', 'n', 11, 22, 33, 44, 'd', 55, 'g', 77, 'i', 'o', 'Coding', 99, 'c', 'b', 'a'}

In [69]:
# Removing an elements from a set() -> .remove() [Error] , .discard()
# list -> .remove(), .pop() , del , .clear()
# .remove() in set -> It Throws an error if the element not found
# .discard() in set -> It doesn't Throws an error if the element not found
quick_set.remove(False)
print(quick_set)

{True, 2, 3, 4, 5, 'C', 'n', 11, 22, 33, 44, 'd', 55, 'g', 77, 'i', 'o', 'Coding', 99, 'c', 'b', 'a'}

In [71]:
if True in quick_set : # Boolean Return
    quick_set.remove(True)
else:
    print('Value Not Found')

quick_set.remove('Python') # KeyError: 'Python'

In [72]:
print(quick_set)

{2, 3, 4, 5, 'C', 'n', 11, 22, 33, 44, 'd', 55, 'g', 77, 'i', 'o', 'Coding', 99, 'c', 'b', 'a'}

In [74]:
val = input("Enter the element name to remove from the set: ") # str
if val in quick_set : # Boolean Return [True/False]
    quick_set.remove(val)
    print(quick_set)
else:
    print('Value Not Found')

Enter the element name to remove from the set:  Coding

{2, 3, 4, 5, 'C', 'n', 11, 22, 33, 44, 'd', 55, 'g', 77, 'i', 'o', 99, 'c', 'b', 'a'}

In [75]:
val = input("Enter the element name to remove from the set: ") # str
if val in quick_set : # Boolean Return [True/False]
    quick_set.remove(val)
    print(quick_set)
else:
    print('Value Not Found')

Enter the element name to remove from the set:  Programming

Value Not Found

In [76]:
# .discard()
quick_set.discard(('a','b','c')) # Won't Throw an Error : As element doesn't exist
print(quick_set)

{2, 3, 4, 5, 'C', 'n', 11, 22, 33, 44, 'd', 55, 'g', 77, 'i', 'o', 99, 'c', 'b', 'a'}

In [77]:
# .discard()
quick_set.discard('a') # Single Arguments
quick_set.discard('b') # Single Arguments
quick_set.discard('c') # Single Arguments
print(quick_set)

{2, 3, 4, 5, 'C', 'n', 11, 22, 33, 44, 'd', 55, 'g', 77, 'i', 'o', 99}

In [78]:
quick_set.add(('x','y','z'))
print(quick_set) # Tuple is immutable and allowed to add in set

{2, 3, 4, 5, 'C', 'n', ('x', 'y', 'z'), 11, 22, 33, 44, 'd', 55, 'g', 77, 'i', 'o', 99}

In [79]:
quick_set.remove(('x','y','z')) # Remove an element as it exists
quick_set.discard(('x','y','z')) # Won't Throw an Error
print(quick_set)

{2, 3, 4, 5, 'C', 'n', 11, 22, 33, 44, 'd', 55, 'g', 77, 'i', 'o', 99}

In [80]:
# pop() -> Removes and returns an arbitary elements from a set. Since they are unordered.
# You don't know which item would be removed.
pop_item = quick_set.pop()
print(pop_item) # 2
print(quick_set) # {}

2
{3, 4, 5, 'C', 'n', 11, 22, 33, 44, 'd', 55, 'g', 77, 'i', 'o', 99}

In [81]:
pop_item = quick_set.pop()
print(pop_item) # 3
print(quick_set) # {....}

3
{4, 5, 'C', 'n', 11, 22, 33, 44, 'd', 55, 'g', 77, 'i', 'o', 99}

In [82]:
pop_item = quick_set.pop()
print(pop_item) # 4
print(quick_set) # {....}

4
{5, 'C', 'n', 11, 22, 33, 44, 'd', 55, 'g', 77, 'i', 'o', 99}

In [83]:
pop_item = quick_set.pop()
print(pop_item) # 5
print(quick_set) # {....}

5
{'C', 'n', 11, 22, 33, 44, 'd', 55, 'g', 77, 'i', 'o', 99}

In [84]:
pop_item = quick_set.pop()
print(pop_item) # 'C'
print(quick_set) # {....}

C
{'n', 11, 22, 33, 44, 'd', 55, 'g', 77, 'i', 'o', 99}

In [85]:
pop_item = quick_set.pop()
print(pop_item) # 'n'
print(quick_set) # {....}

n
{11, 22, 33, 44, 'd', 55, 'g', 77, 'i', 'o', 99}

In [87]:
day_set = {'Mon','Tues','Wed','Thur','Fri','Sat','Sun'}
day_popped = day_set.pop() # 'Anything'
print(day_popped)
print(day_set)

Sun
{'Tues', 'Wed', 'Fri', 'Sat', 'Thur', 'Mon'}

In [88]:
day_popped = day_set.pop() # 'Tues'
print(day_popped)
print(day_set)

Tues
{'Wed', 'Fri', 'Sat', 'Thur', 'Mon'}

In [89]:
day_popped = day_set.pop() # 'Wed'
print(day_popped)
print(day_set)

Wed
{'Fri', 'Sat', 'Thur', 'Mon'}

In [90]:
month_set = {'Jan','Feb','Mar','Apr','May','Jun'}
print(month_set)

{'May', 'Jun', 'Jan', 'Mar', 'Feb', 'Apr'}

In [91]:
pop_month = month_set.pop() # 'May'
print(pop_month)
print(month_set)

May
{'Jun', 'Jan', 'Mar', 'Feb', 'Apr'}

pop_month = month_set.pop(-2) # 'Feb'
print(pop_month)
print(month_set)
# TypeError: set.pop() takes no arguments (1 given)

In [93]:
# .clear() -> Empties the set()
month_set.clear()
print(month_set) # set()

set()

In [94]:
# del -> We can't go indexing or slicing in set [Unorderd/Unindexed]
del month_set

print(month_set) # NameError: name 'month_set' is not defined

In [96]:
# Union (| or .union())
setA = {1,2,3,4,5,5,6,6,8,8,8,8} # {1,2,3,4,5,6,8}
setB = {3,5,7,7,7,7,7,9,9} # {3,5,7,9}
union_set = setA | setB # {A U B} # {1,2,3,4,5,6,7,8,9}
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [97]:
result = setA.union(setB) # {A U B} # {1,2,3,4,5,6,7,8,9}
print(result)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [98]:
# Advance Union Concepts
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA | setB | setC) # {A U B U C} # {a,b,c,d,e,p,q,r,s,x,y,z}
print(setA.union(setB).union(setC)) # {a,b,c,d,e,p,q,r,s,x,y,z}

{'s', 'z', 'r', 'q', 'y', 'd', 'x', 'p', 'c', 'b', 'a', 'e'}
{'s', 'z', 'r', 'q', 'y', 'd', 'x', 'p', 'c', 'b', 'a', 'e'}

In [99]:
# Intersection (& or intersection())
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA & setB) # {'a','b','c'}
print(setA.intersection(setB)) # {'a','b','c'}
print(setA & setB & setC) # {'a','c'}
print(setA.intersection(setB).intersection(setC)) # {'a','c'}

{'c', 'b', 'a'}
{'c', 'b', 'a'}
{'c', 'a'}
{'c', 'a'}

In [100]:
# difference (- or .difference()) # Elements in A but not in B (A-B)
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA - setB) # {'d','e'}
print(setA.difference(setB)) # {'d','e'}

{'d', 'e'}
{'d', 'e'}

In [101]:
# difference (- or .difference()) # Elements in A but not in B (A-B)
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setB - setA) # {'p','q','r','s'}
print(setB.difference(setA)) # {'p','q','r','s'}

{'p', 'q', 'r', 's'}
{'p', 'q', 'r', 's'}

In [102]:
# difference (- or .difference()) # Elements in A but not in B (A-B)
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setB - setA - setC) # {'p','q','r','s'} - setC = {p,q}
print(setB.difference(setA).difference(setC)) # {'p','q'}

{'p', 'q'}
{'p', 'q'}

In [103]:
# Symmetric_Difference (^ or .symmetric_difference)
# Elements in either setA or setB,but not in both
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA ^ setB) # {d,e,p,q,r,s} # (A-B) U (B-A)
print(setA.symmetric_difference(setB)) # {d,e,p,q,r,s}

{'s', 'r', 'q', 'd', 'p', 'e'}
{'s', 'r', 'q', 'd', 'p', 'e'}

In [105]:
# Symmetric_Difference (^ or .symmetric_difference)
# Elements in either setA or setB,but not in both
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA ^ setB ^ setC) # (setA ^ setB) ^ setC
# {d,e,p,q,r,s} ^ {'x','y','r','s','a','c','z'} = {d,e,p,q,x,y,a,c,z}
print(setA.symmetric_difference(setB).symmetric_difference(setC)) # {d,e,p,q,x,y,a,c,z}

{'z', 'y', 'q', 'p', 'd', 'x', 'c', 'a', 'e'}
{'z', 'y', 'q', 'p', 'd', 'x', 'c', 'a', 'e'}

In [1]:
# difference_update()
# shortcut : a -= b|c => a = a - (b|c)
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
# setB | setC = {a,b,c,p,q,r,s,x,y,z}
# setA - (setB | setC) = {'a','b','c','d','e'} - {a,b,c,p,q,r,s,x,y,z}
# setA = {'d','e'}
setA = setA - (setB | setC)
print(setA) # {d,e}

{'d', 'e'}

In [2]:
setA.difference_update(setB,setC)
print(setA) # {d,e}

{'d', 'e'}

In [5]:
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
# setA | setC = {a,b,c,d,e,r,s,x,y,z}
# setB - (setA | setC) = {'p','q','r','s','a','b','c'} - {a,b,c,d,e,r,s,x,y,z}
# setB = {p,q}
setB = setB - (setA | setC)
print(setB) # {p,q}

{'p', 'q'}

In [6]:
# intersection_update()
# shortcut : a &= b => a = a & b
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA.intersection_update(setB) # {'a','b','c'}
print(setA)

{'c', 'a', 'b'}

In [7]:
setA = setA & setB
print(setA)

{'c', 'a', 'b'}

In [8]:
# intersection_update()
# shortcut : a& = b&c => a = a & (b&c)
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA.intersection_update(setB,setC) # {'a','c'}
# {'a','b','c','d','e'} & ({'a','c','r','s'}) # {'a','c'}
print(setA)

{'c', 'a'}

In [10]:
setA = setA & setB & setC
print(setA)

{'c', 'a'}

In [11]:
# isdisjoint() -> Boolean Return [True / False]
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setD = {'k','m'}
print(setA.isdisjoint(setB)) # False
print(setA.isdisjoint(setC)) # False
print(setB.isdisjoint(setC)) # False
print(setB.isdisjoint(setD)) # True
print(setA.isdisjoint(setD)) # True

False
False
False
True
True

In [12]:
# issubset() & issuperset()
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5,6,7,8,9}
print(set1.issubset(set2)) # True as set1 is a subset of set2
print(set2.issuperset(set1)) # True as set2 is a superset of set1

True
True

In [13]:
print(set2.issubset(set1)) # False
print(set1.issuperset(set2)) # False

False
False

In [15]:
# symmetric_difference_update() : '^'
# shortcut : a ^= b => a = a^b
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA.symmetric_difference_update(setB) # {d,e} U {p,q,r,s}
print(setA) # {depqrs}

{'r', 'p', 'q', 's', 'd', 'e'}

In [16]:
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA = setA ^ setB
print(setA)

{'r', 'p', 'q', 's', 'd', 'e'}

In [17]:
# symmetric_difference_update() : '^'
# shortcut : a ^= (b^c) => a = a^(b^c)
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
# setB ^ setC = {pqb,xyz}
# setA = setA ^ {pqb,xyz} # {'a','b','c','d','e'} ^ {pqb,xyz}
# setA = {a,c,d,e,pq,xyz}
setA = setA ^ (setB ^ setC) # {acde,pq,xyz}
print(setA)

{'q', 'a', 'x', 'c', 'p', 'd', 'e', 'z', 'y'}

In [28]:
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA.symmetric_difference(setB).symmetric_difference(setC))

{'q', 'a', 'x', 'c', 'p', 'd', 'e', 'z', 'y'}

setA = setA ^ (setB ^ setC)
(setB ^ setC) = (setB-setC) U (setC-setB)
setA = setA ^ (setB-setC) U (setC-setB)

In [29]:
# update() '|'
# shortcut : a|=(b|c) => a = a | (b|c)
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA.update(setB,setC)
print(setA) # {abcde,pqrs,xyz}

{'r', 'p', 'a', 'q', 's', 'd', 'e', 'x', 'b', 'z', 'c', 'y'}

In [30]:
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA = setA | setB | setC
print(setA) # {abcde,pqrs,xyz}

{'r', 'p', 'a', 'q', 's', 'd', 'e', 'x', 'b', 'z', 'c', 'y'}

In [31]:
# Shallow Copy
# List -> .copy() , [:] Slicing , list() constructor
# set -> .copy() , set() constructor
# Copying the Set() : Performing Shallow Copy
day_set = {'Mon','Tue','Wed','Thur','Fri','Sat','Sun'}
copy_day_set = day_set.copy() # shallow Copy
print(id(day_set))
print(id(copy_day_set)) # Different Memory Address

2252425832128
2252425837728

In [32]:
# Set() is a mutable Container that stores only immutable elements
copy_day_set.add('Jan')
print(day_set)
print(copy_day_set) # 'Jan'

{'Sat', 'Sun', 'Fri', 'Thur', 'Wed', 'Tue', 'Mon'}
{'Sat', 'Sun', 'Fri', 'Thur', 'Wed', 'Tue', 'Jan', 'Mon'}

In [33]:
# Copying the set using set() constructor
another_day_set = set(copy_day_set) # Shallow Copy
print(id(copy_day_set)) # 2252425837728
print(id(another_day_set)) # Different Memory Address
another_day_set.discard('Jan')
print(another_day_set) # {'Sat', 'Sun', 'Fri', 'Thur', 'Wed', 'Tue', 'Mon'}
print(copy_day_set) # {'Sat', 'Sun', 'Fri', 'Thur', 'Wed', 'Tue', 'Jan', 'Mon'}

2252425837728
2252425835264
{'Sat', 'Wed', 'Tue', 'Mon', 'Sun', 'Fri', 'Thur'}
{'Sat', 'Sun', 'Fri', 'Thur', 'Wed', 'Tue', 'Jan', 'Mon'}

## ***What is Dictionary in Python?***
##### A Dictionary is :
1. `Ordered` : Items have guaranteed sequence.
2. `Mutable` : You can add,remove or change items.
3. `Collection of Key-Value Pair` : Each key is unique and maps to a value.

In [34]:
_dict = {} # empty curly braces represent dictionary class not a set()
print(_dict)
print(type(_dict))

{}
<class 'dict'>

In [35]:
# Dictionary : # When defining duplicate keys, only the last occurrence is kept.
student_details = {
    'name' : 'Rajat Singh Thakur',
    'age' : 29,
    'gender' : 'Male',
    'city' : 'Shimla',
    'state' : 'Himachal Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','PowerBI','MySQL','Python'],
    'course' : 'Data Science'
}
student_details

{'name': 'Rajat Singh Thakur',
 'age': 29,
 'gender': 'Male',
 'city': 'Shimla',
 'state': 'Himachal Pradesh',
 'country': 'India',
 'course': 'Data Science',
 'skills': ['Excel', 'PowerBI', 'MySQL', 'Python']}

In [36]:
# Key -> Unique [Tuple] # As its a immutable container
_dict = {
    ('stud1','stud2') : 98,
    ('stud3','stud4') : 92,
    ('stud5','stud6') : 77,
    ('stud7','stud8') : 99
}
_dict

{('stud1', 'stud2'): 98,
 ('stud3', 'stud4'): 92,
 ('stud5', 'stud6'): 77,
 ('stud7', 'stud8'): 99}

In [37]:
# dict() Constructor
_dict = dict(name = 'Shyam Sundar', age = 27, gender = 'Male' , course = 'Data Analytics')
_dict

{'name': 'Shyam Sundar',
 'age': 27,
 'gender': 'Male',
 'course': 'Data Analytics'}

In [38]:
print(type(_dict)) # 'dict'

<class 'dict'>

In [40]:
# List of List as a Pair -> Dict # Pairing(2 elements)
list_of_lists = [
    ['name','Nishant'],
    ['age',25],
    ['gender','Male'],
    ['city','Ranikhet'],
    ['state','Uttarakhand'],
    ['country','India']
]
_dict = dict(list_of_lists)
_dict

{'name': 'Nishant',
 'age': 25,
 'gender': 'Male',
 'city': 'Ranikhet',
 'state': 'Uttarakhand',
 'country': 'India'}

In [41]:
# List of Tuples as a Pair -> Dict # Pairing(2 elements)
list_of_tuples = [
    ('name','Nishant'),
    ('age',25),
    ('gender','Male'),
    ('city','Ranikhet'),
    ('state','Uttarakhand'),
    ('country','India')
]
_dict = dict(list_of_tuples)
_dict

{'name': 'Nishant',
 'age': 25,
 'gender': 'Male',
 'city': 'Ranikhet',
 'state': 'Uttarakhand',
 'country': 'India'}

In [42]:
# Tuple of Tuples as a Pair -> Dict # Pairing(2 elements)
tuple_of_tuples = (
    ('name','Nishant'),
    ('age',25),
    ('gender','Male'),
    ('city','Ranikhet'),
    ('state','Uttarakhand'),
    ('country','India')
)
_dict = dict(tuple_of_tuples)
_dict

{'name': 'Nishant',
 'age': 25,
 'gender': 'Male',
 'city': 'Ranikhet',
 'state': 'Uttarakhand',
 'country': 'India'}

In [43]:
# Tuple of Tuples as a Pair -> Dict # Pairing(2 elements)
tuple_of_lists = (
    ['name','Nishant'],
    ['age',25],
    ['gender','Male'],
    ['city','Ranikhet'],
    ['state','Uttarakhand'],
    ['country','India']
)
_dict = dict(tuple_of_lists)
_dict

{'name': 'Nishant',
 'age': 25,
 'gender': 'Male',
 'city': 'Ranikhet',
 'state': 'Uttarakhand',
 'country': 'India'}

In [46]:
# List of Sets as a Pair -> Dict # Pairing(2 elements) âŒ NOT RecommendedâŒ
list_of_sets = [
    {'name','Nishant'},
    {'age',25},
    {'gender','Male'},
    {'city','Ranikhet'},
    {'state','Uttarakhand'},
    {'country','India'}
]
_dict = dict(list_of_sets)
_dict # {key-value pair will be shuffled}

{'name': 'Nishant',
 'age': 25,
 'gender': 'Male',
 'city': 'Ranikhet',
 'state': 'Uttarakhand',
 'India': 'country'}

In [47]:
# Tuple of Lists as a Pair -> Dict # Pairing( Exactly 2 elements) [2 arguments] 
# Make the 2nd Argument [Itrable Container]
tuple_of_lists = (
    ['name','Nishant'],
    ['age',25],
    ['gender','Male'],
    ['city','Ranikhet'],
    ['state','Uttarakhand'],
    ['country','India'],
    ['skills', ['Python','SQL']]
)
_dict = dict(tuple_of_lists)
_dict

{'name': 'Nishant',
 'age': 25,
 'gender': 'Male',
 'city': 'Ranikhet',
 'state': 'Uttarakhand',
 'country': 'India',
 'skills': ['Python', 'SQL']}

In [49]:
_list = [[11,'Rupees']]
_dict = dict(_list) 
_dict

{11: 'Rupees'}

In [50]:
_dict = {
    98 : ('stud1','stud2'),
    92 : ('stud3','stud4'),
    77 : ('stud5','stud6'),
    99 : ('stud7','stud8'),
    99 : ('stud9','stud10'),
}
_dict

{98: ('stud1', 'stud2'),
 92: ('stud3', 'stud4'),
 77: ('stud5', 'stud6'),
 99: ('stud9', 'stud10')}

In [52]:
student_details = {
    'name' : 'Rajat Singh Thakur',
    'age' : 29,
    'gender' : 'Male',
    'city' : 'Shimla',
    'state' : 'Himachal Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','PowerBI','MySQL','Python'],
    'course' : 'Data Science'
}
student_details

{'name': 'Rajat Singh Thakur',
 'age': 29,
 'gender': 'Male',
 'city': 'Shimla',
 'state': 'Himachal Pradesh',
 'country': 'India',
 'course': 'Data Science',
 'skills': ['Excel', 'PowerBI', 'MySQL', 'Python']}

In [53]:
# Nested Dictionaries:
student_record = {
    "Student1": {
        'name' : 'Rajat Singh Thakur',
        'age' : 29,
        'gender' : 'Male',
        'city' : 'Shimla',
        'state' : 'Himachal Pradesh',
        'country' : 'India',
        'course' : 'Data Analytics',
        'skills' : ['Excel','PowerBI','MySQL','Python']
    },
    "Student2": {
        'name' : 'Shyam Sundar',
        'age' : 25,
        'gender' : 'Male',
        'city' : 'Vizag',
        'state' : 'Andhra Pradesh',
        'country' : 'India',
        'course' : 'Data Analytics',
        'skills' : ['Excel','PowerBI','MySQL','Python']
    }
}
student_record

{'Student1': {'name': 'Rajat Singh Thakur',
  'age': 29,
  'gender': 'Male',
  'city': 'Shimla',
  'state': 'Himachal Pradesh',
  'country': 'India',
  'course': 'Data Analytics',
  'skills': ['Excel', 'PowerBI', 'MySQL', 'Python']},
 'Student2': {'name': 'Shyam Sundar',
  'age': 25,
  'gender': 'Male',
  'city': 'Vizag',
  'state': 'Andhra Pradesh',
  'country': 'India',
  'course': 'Data Analytics',
  'skills': ['Excel', 'PowerBI', 'MySQL', 'Python']}}

In [54]:
# Common Methods and Operations Associated with Dictionaries
# length() -> Use len() to find how many key-value pairs availabe in a dict.
print(len(student_details)) # 8

8

In [55]:
print(len(student_record)) # 2

2

In [56]:
print(len(student_record['Student2'])) # 8

8

In [57]:
# Bracket_Notation is used here to apply a filter by passing a key
student_record['Student2']

{'name': 'Shyam Sundar',
 'age': 25,
 'gender': 'Male',
 'city': 'Vizag',
 'state': 'Andhra Pradesh',
 'country': 'India',
 'course': 'Data Analytics',
 'skills': ['Excel', 'PowerBI', 'MySQL', 'Python']}

In [58]:
# Accessing an Element in Dictionaries
# Use Square Bracket [Key]
student_details = {
    'name' : 'Rajat Singh Thakur',
    'age' : 29,
    'gender' : 'Male',
    'city' : 'Shimla',
    'state' : 'Himachal Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','PowerBI','MySQL','Python'],
    'course' : 'Data Science'
}
student_details
student_details['skills'] # ['Excel','PowerBI','MySQL','Python']

['Excel', 'PowerBI', 'MySQL', 'Python']

In [59]:
student_details['course'] # 'Data Science'

'Data Science'

In [60]:
# Nested Dictionaries:
student_record = {
    "Student1": {
        'name' : 'Rajat Singh Thakur',
        'age' : 29,
        'gender' : 'Male',
        'city' : 'Shimla',
        'state' : 'Himachal Pradesh',
        'country' : 'India',
        'course' : 'Data Analytics',
        'skills' : ['Excel','PowerBI','MySQL','Python']
    },
    "Student2": {
        'name' : 'Shyam Sundar',
        'age' : 25,
        'gender' : 'Male',
        'city' : 'Vizag',
        'state' : 'Andhra Pradesh',
        'country' : 'India',
        'course' : 'Data Analytics',
        'skills' : ['Excel','PowerBI','MySQL','Python']
    }
}
student_record['Student2']['name'] # 'Shyam Sundar'

'Shyam Sundar'

In [61]:
student_record['Student2']['skills'] # ['Excel','PowerBI','MySQL','Python']

['Excel', 'PowerBI', 'MySQL', 'Python']

In [62]:
student_record['Student2']['skills'][-1] # 'Python'

'Python'

In [63]:
student_record['Student2']['skills'][2:] # ['MySQL','Python']

['MySQL', 'Python']

student_record['Student7'] # KeyError: 'Student7'

In [65]:
# Key -> Unique [Tuple] # As its a immutable container
_dict = {
    ('stud1','stud2') : 98,
    ('stud3','stud4') : 92,
    ('stud5','stud6') : 77,
    ('stud7','stud8') : 99
}
_dict[('stud5','stud6')] # 77

77

In [68]:
# .get(key, default) method -> It will safely retrieve the value.
# Returns Default if no key exist.
student_details = {
    'name' : 'Rajat Singh Thakur',
    'age' : 29,
    'gender' : 'Male',
    'city' : 'Shimla',
    'state' : 'Himachal Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','PowerBI','MySQL','Python']
}
student_details.get('course','Data Science')

'Data Analytics'

In [67]:
student_details.get('email','xyz@gmail.com')

'xyz@gmail.com'

In [69]:
student_details.get('skills') # ['Excel','PowerBI','MySQL','Python']

['Excel', 'PowerBI', 'MySQL', 'Python']

In [70]:
student_details.get('phone_number') # Won't throw an error

In [71]:
# Nested Dictionaries:
student_record = {
    "Student1": {
        'name' : 'Rajat Singh Thakur',
        'age' : 29,
        'gender' : 'Male',
        'city' : 'Shimla',
        'state' : 'Himachal Pradesh',
        'country' : 'India',
        'course' : 'Data Analytics',
        'skills' : ['Excel','PowerBI','MySQL','Python']
    },
    "Student2": {
        'name' : 'Shyam Sundar',
        'age' : 25,
        'gender' : 'Male',
        'city' : 'Vizag',
        'state' : 'Andhra Pradesh',
        'country' : 'India',
        'course' : 'Data Analytics',
        'skills' : ['Excel','PowerBI','MySQL','Python']
    }
}
student_record.get('Student2' , {}).get('name','Unknown') # 'Shyam Sundar'

'Shyam Sundar'

In [72]:
student_record.get('Student1' , {})

{'name': 'Rajat Singh Thakur',
 'age': 29,
 'gender': 'Male',
 'city': 'Shimla',
 'state': 'Himachal Pradesh',
 'country': 'India',
 'course': 'Data Analytics',
 'skills': ['Excel', 'PowerBI', 'MySQL', 'Python']}

In [73]:
student_record.get('Student7' , {}).get('name','Unknown') # 'Unknown'

'Unknown'

In [74]:
student_record.get('Student7' , {})

{}

In [75]:
# .keys() -> Returns all keys available in a dictionary
# .values() -> Returns all values available in a dictionary
# .items() -> Returns all [key,value] pair available in a dictionary
student_details.keys()

dict_keys(['name', 'age', 'gender', 'city', 'state', 'country', 'course', 'skills'])

In [77]:
student_record.keys()

dict_keys(['Student1', 'Student2'])

In [78]:
student_record['Student2'].keys()

dict_keys(['name', 'age', 'gender', 'city', 'state', 'country', 'course', 'skills'])

In [79]:
student_record.get('Student1', {}).keys()

dict_keys(['name', 'age', 'gender', 'city', 'state', 'country', 'course', 'skills'])

In [80]:
student_record.get('Student7', {}).keys()

dict_keys([])

In [81]:
student_details.values()

dict_values(['Rajat Singh Thakur', 29, 'Male', 'Shimla', 'Himachal Pradesh', 'India', 'Data Analytics', ['Excel', 'PowerBI', 'MySQL', 'Python']])

In [82]:
student_record.values()

dict_values([{'name': 'Rajat Singh Thakur', 'age': 29, 'gender': 'Male', 'city': 'Shimla', 'state': 'Himachal Pradesh', 'country': 'India', 'course': 'Data Analytics', 'skills': ['Excel', 'PowerBI', 'MySQL', 'Python']}, {'name': 'Shyam Sundar', 'age': 25, 'gender': 'Male', 'city': 'Vizag', 'state': 'Andhra Pradesh', 'country': 'India', 'course': 'Data Analytics', 'skills': ['Excel', 'PowerBI', 'MySQL', 'Python']}])

In [83]:
student_record['Student2'].values()

dict_values(['Shyam Sundar', 25, 'Male', 'Vizag', 'Andhra Pradesh', 'India', 'Data Analytics', ['Excel', 'PowerBI', 'MySQL', 'Python']])

In [84]:
student_record.get('Student1', {}).values()

dict_values(['Rajat Singh Thakur', 29, 'Male', 'Shimla', 'Himachal Pradesh', 'India', 'Data Analytics', ['Excel', 'PowerBI', 'MySQL', 'Python']])

In [85]:
student_record.get('Student7', {}).values()

dict_values([])

In [86]:
student_details.items()

dict_items([('name', 'Rajat Singh Thakur'), ('age', 29), ('gender', 'Male'), ('city', 'Shimla'), ('state', 'Himachal Pradesh'), ('country', 'India'), ('course', 'Data Analytics'), ('skills', ['Excel', 'PowerBI', 'MySQL', 'Python'])])

In [87]:
# setdefault(key,[default]) -> Retrieves the value if the key exists, 
# else it would be inserting key with default.
# if no default provided , update the value with None. 

student_details = {
    'name' : 'Rajat Singh Thakur',
    'age' : 29,
    'gender' : 'Male',
    'city' : 'Shimla',
    'state' : 'Himachal Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','PowerBI','MySQL','Python']
}
student_details.setdefault('course') # 'Data Analytics'

'Data Analytics'

In [88]:
student_details.setdefault('course' , 'Data Science') # 'Data Analytics'

'Data Analytics'

In [89]:
student_details.setdefault('email' , 'xyz@gmail.com') # 'xyz@gmail.com'

'xyz@gmail.com'

In [90]:
student_details

{'name': 'Rajat Singh Thakur',
 'age': 29,
 'gender': 'Male',
 'city': 'Shimla',
 'state': 'Himachal Pradesh',
 'country': 'India',
 'course': 'Data Analytics',
 'skills': ['Excel', 'PowerBI', 'MySQL', 'Python'],
 'email': 'xyz@gmail.com'}

In [91]:
student_details.setdefault('phone_number') # 'None'

In [93]:
print(student_details.setdefault('phone_number')) # 'None'

None

In [92]:
student_details

{'name': 'Rajat Singh Thakur',
 'age': 29,
 'gender': 'Male',
 'city': 'Shimla',
 'state': 'Himachal Pradesh',
 'country': 'India',
 'course': 'Data Analytics',
 'skills': ['Excel', 'PowerBI', 'MySQL', 'Python'],
 'email': 'xyz@gmail.com',
 'phone_number': None}

In [94]:
# .min() , .max() , .sum()
# Key -> Unique [Tuple] # As its a immutable container
_dict = {
    ('stud1','stud2') : 98,
    ('stud3','stud4') : 92,
    ('stud5','stud6') : 77,
    ('stud7','stud8') : 99
}
min(_dict.values()) # [98,92,77,99] # 77

77

In [95]:
max(_dict.values()) # [98,92,77,99] # 99

99

In [96]:
sum(_dict.values()) # [98,92,77,99] # 366

366

In [97]:
min(_dict.keys()) # [('stud1','stud2')]

('stud1', 'stud2')

In [98]:
max(_dict.keys()) # [('stud7','stud8')]

('stud7', 'stud8')

In [100]:
_dict = {
    98 : ('stud1','stud2'),
    92 : ('stud3','stud4'),
    77 : ('stud5','stud6'),
    99 : ('stud7','stud8'),
    99 : ('stud9','stud10'),
}
_dict
min(_dict.keys()) # 77

77

In [101]:
max(_dict.keys()) # 99

99

In [102]:
sum(_dict.keys()) # 366

366

In [108]:
# changing or adding a Dictionary Items
student_details = {
    'name' : 'Rajat Singh Thakur',
    'age' : 29,
    'gender' : 'Male',
    'city' : 'Shimla',
    'state' : 'Himachal Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','PowerBI','MySQL','Python']
}
student_details['course'] = 'Data Science'

In [109]:
student_details

{'name': 'Rajat Singh Thakur',
 'age': 29,
 'gender': 'Male',
 'city': 'Shimla',
 'state': 'Himachal Pradesh',
 'country': 'India',
 'course': 'Data Science',
 'skills': ['Excel', 'PowerBI', 'MySQL', 'Python']}

In [110]:
student_details['email'] = 'rajat.thakur_007@gmail.com'
student_details

{'name': 'Rajat Singh Thakur',
 'age': 29,
 'gender': 'Male',
 'city': 'Shimla',
 'state': 'Himachal Pradesh',
 'country': 'India',
 'course': 'Data Science',
 'skills': ['Excel', 'PowerBI', 'MySQL', 'Python'],
 'email': 'rajat.thakur_007@gmail.com'}

In [111]:
# .update()
stud_info = {'name' : 'Bhupinder Jogi' , 'age' : 40 , 'city' : 'Lukhnow' ,'state' : 'Uttar Pradesh' , 
             'country' : 'America', 'email' : 'bhupinder.jogi@lallantop.in'}

student_details.update(stud_info)
student_details

{'name': 'Bhupinder Jogi',
 'age': 40,
 'gender': 'Male',
 'city': 'Lukhnow',
 'state': 'Uttar Pradesh',
 'country': 'America',
 'course': 'Data Science',
 'skills': ['Excel', 'PowerBI', 'MySQL', 'Python'],
 'email': 'bhupinder.jogi@lallantop.in'}

In [114]:
student_record.get('Student1' , {}).update(stud_info)
student_record['Student1']

{'name': 'Bhupinder Jogi',
 'age': 40,
 'gender': 'Male',
 'city': 'Lukhnow',
 'state': 'Uttar Pradesh',
 'country': 'America',
 'course': 'Data Analytics',
 'skills': ['Excel', 'PowerBI', 'MySQL', 'Python'],
 'email': 'bhupinder.jogi@lallantop.in'}

In [116]:
student_record.get('Student7' , {}).update(stud_info) # Doesn't do anything
student_record

{'Student1': {'name': 'Bhupinder Jogi',
  'age': 40,
  'gender': 'Male',
  'city': 'Lukhnow',
  'state': 'Uttar Pradesh',
  'country': 'America',
  'course': 'Data Analytics',
  'skills': ['Excel', 'PowerBI', 'MySQL', 'Python'],
  'email': 'bhupinder.jogi@lallantop.in'},
 'Student2': {'name': 'Shyam Sundar',
  'age': 25,
  'gender': 'Male',
  'city': 'Vizag',
  'state': 'Andhra Pradesh',
  'country': 'India',
  'course': 'Data Analytics',
  'skills': ['Excel', 'PowerBI', 'MySQL', 'Python']}}

In [117]:
# .zip() -> Combine 2 iterables into Key-Value Pair
key = ['name','age','city','gender','country']
value = ('Deepak',24,'Delhi','Male','India')
_zip = zip(key,value)
_zip

In [118]:
# Dict() Constructor
zip_dict = dict(_zip)
zip_dict

{'name': 'Deepak',
 'age': 24,
 'city': 'Delhi',
 'gender': 'Male',
 'country': 'India'}

In [119]:
# Removing a Dictionary Items
student_details = {
    'name' : 'Rajat Singh Thakur',
    'age' : 29,
    'gender' : 'Male',
    'city' : 'Shimla',
    'state' : 'Himachal Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','PowerBI','MySQL','Python']
}
del student_details['course']
student_details

{'name': 'Rajat Singh Thakur',
 'age': 29,
 'gender': 'Male',
 'city': 'Shimla',
 'state': 'Himachal Pradesh',
 'country': 'India',
 'skills': ['Excel', 'PowerBI', 'MySQL', 'Python']}

In [120]:
# Removing a Dictionary Items
student_details = {
    'name' : 'Rajat Singh Thakur',
    'age' : 29,
    'gender' : 'Male',
    'city' : 'Shimla',
    'state' : 'Himachal Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','PowerBI','MySQL','Python']
}
del student_details # Delete the entire Dictionary

student_details # NameError: name 'student_details' is not defined

In [122]:
# Removing a Dictionary Items
student_details = {
    'name' : 'Rajat Singh Thakur',
    'age' : 29,
    'gender' : 'Male',
    'city' : 'Shimla',
    'state' : 'Himachal Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','PowerBI','MySQL','Python']
}
del student_details['skills'][0] #  ['Excel']
student_details

{'name': 'Rajat Singh Thakur',
 'age': 29,
 'gender': 'Male',
 'city': 'Shimla',
 'state': 'Himachal Pradesh',
 'country': 'India',
 'course': 'Data Analytics',
 'skills': ['PowerBI', 'MySQL', 'Python']}

In [127]:
# pop() -> Removes a specific key and returns its values
student_details = {
    'name' : 'Rajat Singh Thakur',
    'age' : 29,
    'gender' : 'Male',
    'city' : 'Shimla',
    'state' : 'Himachal Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','PowerBI','MySQL','Python']
}
skill_info = student_details.pop('skills') 
skill_info # ['Excel','PowerBI','MySQL','Python']

['Excel', 'PowerBI', 'MySQL', 'Python']

In [128]:
student_details

{'name': 'Rajat Singh Thakur',
 'age': 29,
 'gender': 'Male',
 'city': 'Shimla',
 'state': 'Himachal Pradesh',
 'country': 'India',
 'course': 'Data Analytics'}

# pop() -> Removes a specific key and returns its values
student_details = {
    'name' : 'Rajat Singh Thakur',
    'age' : 29,
    'gender' : 'Male',
    'city' : 'Shimla',
    'state' : 'Himachal Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','PowerBI','MySQL','Python']
}
email = student_details.pop('email')  # KeyError: 'email'

In [129]:
# popitem() # -> Removes the last inserted Values
course_detail = student_details.popitem()
course_detail

('course', 'Data Analytics')

In [130]:
student_details

{'name': 'Rajat Singh Thakur',
 'age': 29,
 'gender': 'Male',
 'city': 'Shimla',
 'state': 'Himachal Pradesh',
 'country': 'India'}

In [131]:
# popitem() # -> Removes the last inserted Values
country_detail = student_details.popitem()
country_detail

('country', 'India')

In [132]:
student_details

{'name': 'Rajat Singh Thakur',
 'age': 29,
 'gender': 'Male',
 'city': 'Shimla',
 'state': 'Himachal Pradesh'}

In [133]:
# .clear() -> Empties the Dictionary
student_details.clear()
student_details # {}

{}

In [134]:
# Shallow Copy -> Dict ..... [.copy() , dict() Constructor]
student_details = {
    'name' : 'Rajat Singh Thakur',
    'age' : 29,
    'gender' : 'Male',
    'city' : 'Shimla',
    'state' : 'Himachal Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','PowerBI','MySQL','Python']
}
stud_details = student_details.copy() # Shallow Copy
print(id(stud_details))
print(id(student_details)) # Different Memory Locations

2252447691584
2252447680000

In [135]:
# Shallow Copy -> using dict() Constructor
shallow_dict = dict(stud_details) 
print(id(shallow_dict)) # Different Memory Address
print(id(stud_details)) # 2252447691584

2252447600064
2252447691584