# Install
conda install numpy
OR 
pip install numpy

In [3]:
!pip3 install numpy

Requirement already satisfied: numpy in c:\users\krish\.anaconda\new.anaconda\lib\site-packages (1.26.4)

In [4]:
import numpy as np
dir(np)

['ALLOW_THREADS',
 'BUFSIZE',
 'CLIP',
 'DataSource',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'WRAP',
 '_CopyMode',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__deprecated_attrs__',
 '__dir__',
 '__doc__',
 '__expired_functions__',
 '__file__',
 '__former_attrs__',
 '__future_scalars__',
 '__getattr__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_builtins',
 '_distributor_init',
 '_financial_names',
 '_get_promotion_state',
 '_globals',
 '_int_extended_msg',
 '_mat',
 '_no_nep50_warning',
 '_pyinstaller_hooks_dir',
 '_pytesttester',
 '_set_promotion_state',
 '_specific_msg',
 '_typing',
 '_using_numpy2_behavior',
 '_utils',
 'abs',
 'absolute',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_shapes',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex128',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'dtypes',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exceptions',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'expm1x',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'from_dlpack',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mask_indices',
 'mat',
 'matmul',
 'matrix',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'numarray',
 'number',
 'obj2sctype',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'show_runtime',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'vsplit',
 'vstack',
 'where',
 'who',
 'zeros',
 'zeros_like']

In [5]:
np.__version__

'1.26.4'

In [7]:
print(np.__doc__)

NumPy
=====

Provides
  1. An array object of arbitrary homogeneous items
  2. Fast mathematical operations over arrays
  3. Linear Algebra, Fourier Transforms, Random Number Generation

How to use the documentation
----------------------------
Documentation is available in two forms: docstrings provided
with the code, and a loose standing reference guide, available from
`the NumPy homepage <https://numpy.org>`_.

We recommend exploring the docstrings using
`IPython <https://ipython.org>`_, an advanced Python shell with
TAB-completion and introspection capabilities.  See below for further
instructions.

The docstring examples assume that `numpy` has been imported as ``np``::

  >>> import numpy as np

Code snippets are indicated by three greater-than signs::

  >>> x = 42
  >>> x = x + 1

Use the built-in ``help`` function to view a function's docstring::

  >>> help(np.sort)
  ... # doctest: +SKIP

For some objects, ``np.info(obj)`` may provide additional help.  This is
particularly true if you see the line "Help on ufunc object:" at the top
of the help() page.  Ufuncs are implemented in C, not Python, for speed.
The native Python help() does not know how to view their help, but our
np.info() function does.

To search for documents containing a keyword, do::

  >>> np.lookfor('keyword')
  ... # doctest: +SKIP

General-purpose documents like a glossary and help on the basic concepts
of numpy are available under the ``doc`` sub-module::

  >>> from numpy import doc
  >>> help(doc)
  ... # doctest: +SKIP

Available subpackages
---------------------
lib
    Basic functions used by several sub-packages.
random
    Core Random Tools
linalg
    Core Linear Algebra Tools
fft
    Core FFT routines
polynomial
    Polynomial tools
testing
    NumPy testing tools
distutils
    Enhancements to distutils with support for
    Fortran compilers support and more  (for Python <= 3.11).

Utilities
---------
test
    Run numpy unittests
show_config
    Show numpy build configuration
matlib
    Make everything matrices.
__version__
    NumPy version string

Viewing documentation using IPython
-----------------------------------

Start IPython and import `numpy` usually under the alias ``np``: `import
numpy as np`.  Then, directly past or use the ``%cpaste`` magic to paste
examples into the shell.  To see which functions are available in `numpy`,
type ``np.<TAB>`` (where ``<TAB>`` refers to the TAB key), or use
``np.*cos*?<ENTER>`` (where ``<ENTER>`` refers to the ENTER key) to narrow
down the list.  To view the docstring for a function, use
``np.cos?<ENTER>`` (to view the docstring) and ``np.cos??<ENTER>`` (to view
the source code).

Copies vs. in-place operation
-----------------------------
Most of the functions in `numpy` return a copy of the array argument
(e.g., `np.sort`).  In-place versions of these functions are often
available as array methods, i.e. ``x = np.array([1,2,3]); x.sort()``.
Exceptions to this rule are documented.

In [8]:
# num = np.array(<Iterable>)
num = np.array([11,22,33,44,55,66,77,88,99])
num

array([11, 22, 33, 44, 55, 66, 77, 88, 99])

In [9]:
print(num)

[11 22 33 44 55 66 77 88 99]

In [10]:
# Indexation in numpy : start with 0
num[0]

11

In [11]:
num[6]# 77

77

In [12]:
num[-1] # 99

99

In [13]:
arr_from_list = np.array([11,22,33,44,55,66,77,88,99])
arr_from_tuple = np.array((11,22,33,44,55,66,77,88,99))
print(arr_from_list)
print(arr_from_tuple)

[11 22 33 44 55 66 77 88 99]
[11 22 33 44 55 66 77 88 99]

# Commom Mistake 
arr_from_tuple = np.array(11,22,33,44,55,66,77,88,99)
print(arr_from_tuple)
# TypeError: array() takes from 1 to 2 positional arguments but 9 were given

In [15]:
np_arr = np.array(11) 
np_arr

array(11)

In [16]:
print(np_arr)

11

In [17]:
type(arr_from_list)

numpy.ndarray

In [18]:
# ndarray -> N Dimensional Array
print(type(arr_from_list)) # class <numpy.ndarray>

<class 'numpy.ndarray'>

In [19]:
# Properties [ndim]
# print("Hello World" , end = " ") -> end -> attribute
arr_from_list.ndim

1

In [20]:
# np_arr # 11
np_arr.ndim # 0

0

In [21]:
# 1D Array 
# Numpy -> An array object of arbitrary homogeneous items
arr_1d = np.array([11,121.9,True,'k','Coding',11+5j,99]) # Mixed Type [Upcasting]
print(arr_1d)

['11' '121.9' 'True' 'k' 'Coding' '(11+5j)' '99']

In [22]:
type(arr_1d)

numpy.ndarray

In [23]:
arr_1d.dtype # property data type

dtype('<U64')

In [24]:
arr_1d.ndim

1

In [25]:
# 2D Array [2 Dimensional] [row * col] n*m (5,3)
# Numpy -> An array object of arbitrary homogeneous items
arr_2d = np.array([
    [11,22,33],
    ['a','b','c'],
    [True,False,True],
    ['learn','python','programming'],
    [9.99,11.11,12.99]
]) # Mixed Type [Heterogenous] 
print(arr_2d)

[['11' '22' '33']
 ['a' 'b' 'c']
 ['True' 'False' 'True']
 ['learn' 'python' 'programming']
 ['9.99' '11.11' '12.99']]

In [26]:
type(arr_2d)

numpy.ndarray

In [27]:
arr_2d.ndim # property

2

In [30]:
# 3D [3 Dimensional] [Depth,row,col] (d*r*c) = Total Number of Elements
# 3 Depth , 3 Rows , 3 Cols = 27
arr_3d = np.array([
    [[1,2,3],
    [4,5,6],
    [7,8,9]],

    [[1.1,2.1,3.1],
    [4.1,5.1,6.1],
    [7.1,8.1,9.1]],

    [[False,True,True],
    [True,False,True],
    [False,True,False]],
]) # 'upcasting' -> 'float'
arr_3d

array([[[1. , 2. , 3. ],
        [4. , 5. , 6. ],
        [7. , 8. , 9. ]],

       [[1.1, 2.1, 3.1],
        [4.1, 5.1, 6.1],
        [7.1, 8.1, 9.1]],

       [[0. , 1. , 1. ],
        [1. , 0. , 1. ],
        [0. , 1. , 0. ]]])

In [31]:
type(arr_3d)

numpy.ndarray

In [32]:
arr_3d.ndim # n- dimension [3D]

3

In [33]:
# 27 => 3*3*3
# 1D -> 3D 
arr_1d = np.array([1,2,3,4,5,6,7,8,9,'a','b','c','d','e','f','g','h','i',9,8,7,6,5,4,3,2,1])
arr_1d

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd',
       'e', 'f', 'g', 'h', 'i', '9', '8', '7', '6', '5', '4', '3', '2',
       '1'], dtype='<U11')

In [34]:
# 3D Shape [3,3,3] -> depth-> 3 , row -> 3 , cols -> 3
arr_1d.reshape(3,3,3)

array([[['1', '2', '3'],
        ['4', '5', '6'],
        ['7', '8', '9']],

       [['a', 'b', 'c'],
        ['d', 'e', 'f'],
        ['g', 'h', 'i']],

       [['9', '8', '7'],
        ['6', '5', '4'],
        ['3', '2', '1']]], dtype='<U11')

In [35]:
arr_1d = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
arr_1d

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [36]:
# 1D -> 2D
# 4*4 , 8*2, 2*8
arr_1d.reshape(4,4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

arr_1d.reshape(4,3) # 12 Error
ValueError: cannot reshape array of size 16 into shape (4,3)

In [38]:
arr_1d.reshape(8,2)

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12],
       [13, 14],
       [15, 16]])

In [39]:
arr_1d.reshape(2,8)

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16]])

In [40]:
# 3D -> 2*4*2 , 2*2*4, 1*4*4
arr_1d.reshape(2,4,2)

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12],
        [13, 14],
        [15, 16]]])

In [41]:
arr_1d.reshape(2,2,4)

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]]])

In [43]:
# 4D -> 2*2*2*2 # 3D[depth,rows,cols]
arr_4d = arr_1d.reshape(2,2,2,2) # 4D -> 2 depth of 3D
arr_4d

array([[[[ 1,  2],
         [ 3,  4]],

        [[ 5,  6],
         [ 7,  8]]],


       [[[ 9, 10],
         [11, 12]],

        [[13, 14],
         [15, 16]]]])

In [44]:
arr_4d.ndim # property

4

In [2]:
import numpy as np
# Specifying the Data Types [Upcasting]
nested_list = np.array([
    [11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,99.99],
]) # upcast -> float
print(nested_list)

[[11.   22.  ]
 [33.   44.  ]
 [55.   66.  ]
 [77.   88.  ]
 [99.   99.99]]

In [3]:
nested_list.dtype

dtype('float64')

In [4]:
nested_list = np.array([
    [11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,121],
]) # dtype attribute -> float
float_arr = np.array(nested_list , dtype = float)
float_arr

array([[ 11.,  22.],
       [ 33.,  44.],
       [ 55.,  66.],
       [ 77.,  88.],
       [ 99., 121.]])

In [5]:
# upcast ['str'] Vs upcast['float']
nested_list = np.array([
    [11,22],
    [33,44],
    [55,66],
    [77,88],
    [99.99,'121'],
]) # upcast['121'] us winning
float_arr = np.array(nested_list , dtype = float) # external force
float_arr

array([[ 11.  ,  22.  ],
       [ 33.  ,  44.  ],
       [ 55.  ,  66.  ],
       [ 77.  ,  88.  ],
       [ 99.99, 121.  ]])

In [6]:
nested_list

array([['11', '22'],
       ['33', '44'],
       ['55', '66'],
       ['77', '88'],
       ['99.99', '121']], dtype='<U32')

# upcast ['str'] Vs upcast['float']
nested_list = np.array([
    [11,22],
    [33,44],
    [55,66],
    [77,88],
    [99.99,'k'], # ValueError: could not convert string to float: 'k'
]) # upcast['121'] us winning
float_arr = np.array(nested_list , dtype = float) # Error 'k' won't typecast into float
float_arr

In [8]:
nested_list

array([['11', '22'],
       ['33', '44'],
       ['55', '66'],
       ['77', '88'],
       ['99.99', 'k']], dtype='<U32')

In [9]:
# upcast ['int'] Vs upcast['bool']
nested_list = np.array([
    [11,22],
    [33,44],
    [55,66],
    [77,88],
    [True,False],
]) # upcast [int]
float_arr = np.array(nested_list , dtype = float) # external force
float_arr

array([[11., 22.],
       [33., 44.],
       [55., 66.],
       [77., 88.],
       [ 1.,  0.]])

In [10]:
nested_list

array([[11, 22],
       [33, 44],
       [55, 66],
       [77, 88],
       [ 1,  0]])

In [11]:
nested_list.dtype

dtype('int32')

In [12]:
nested_list.ndim # 2

2

In [13]:
nested_list.shape

(5, 2)

In [14]:
# size -> no. of elements within the n dimensional array
nested_list.size

10

In [15]:
arr_1d = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
print(arr_1d)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]

In [16]:
arr_1d.ndim

1

In [17]:
arr_1d.size

16

In [18]:
arr_1d.shape

(16,)

In [19]:
arr_4d = arr_1d.reshape(2,2,2,2)
arr_4d

array([[[[ 1,  2],
         [ 3,  4]],

        [[ 5,  6],
         [ 7,  8]]],


       [[[ 9, 10],
         [11, 12]],

        [[13, 14],
         [15, 16]]]])

In [20]:
arr_4d.ndim

4

In [21]:
arr_4d.shape

(2, 2, 2, 2)

In [22]:
arr_4d.dtype

dtype('int32')

In [23]:
arr_4d.size

16

In [26]:
# itemsize() -> ndarray.itemsize attribute -> Memory Size of each elements (in Bytes)
# Homogenous Numpy Array
arr_int = np.array([1,2,3,4,5,6,7,8,9,11,15,21,77,99] , dtype = int)
print(arr_int.itemsize, "bytes")

4 bytes

In [27]:
arr_float = np.array([1,2,3,4,5,6,7,8,9,11,15,21,77,99] , dtype = float)
print(arr_float)
print(arr_float.itemsize, "bytes")

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 11. 15. 21. 77. 99.]
8 bytes

In [28]:
arr_str = np.array(['Coding','Python','Programming','Numpy','Array'] , dtype = str)
print(arr_str)
print(arr_str.itemsize , "bytes")

['Coding' 'Python' 'Programming' 'Numpy' 'Array']
44 bytes

In [29]:
arr_str = np.array(['Coding','Python','Java','Array'] , dtype = str)
print(arr_str)
print(arr_str.itemsize , "bytes") # 6 * 4 bytes ['each char'] = 24

['Coding' 'Python' 'Java' 'Array']
24 bytes

In [30]:
# ndarray.data # 'Memory Location' -> memory View
arr = np.array([11,22,33,44,55,66,77])
print("Data Buffer: " , arr.data) # Memory Address
print("Type of Buffer" , type(arr.data)) # 'Memory View'

Data Buffer:  <memory at 0x000002434073B700>
Type of Buffer <class 'memoryview'>

In [31]:
# Indexing , slicing , Operations on numpy array
arr_1d = np.array([11,22,33,44,55])
print(arr_1d[2]) # 33
print(arr_1d[-2]) # 44
print(arr_1d[-5]) # 11
# print(arr_1d[5]) # Index Error: Out of Range
print(arr_1d[0]) # 11

33
44
11
11

In [33]:
# Shape of 3D Array (2,3,4) -> 2(depth),3(rows),4(cols)
arr_3d = np.array([
    [[11,22,33,44],
     [22,44,66,88],
     [11,33,55,77],],
    
    [[66,77,88,99],
     [11,55,77,99],
     [22,44,66,88],]
])
# indexing[depth,row,col]
print(arr_3d[-1,2,3]) # 88
print(arr_3d[-2,-3,-4]) # 11
# print(arr_3d[0,3,2]) # Error
# print(arr_3d[-2,0,4]) # Error
print(arr_3d[1,2,-3]) # 44
print(arr_3d[0,-1,-1]) # 77
print(arr_3d[-2,1,-4]) # 22
print(arr_3d[0,-3,3]) # 44

88
11
44
77
22
44

In [34]:
# Slicing[Start = 0 , Stop = length [Exclusive], Step = 1 [default]]
arr_1d = np.array([11,22,33,44,55,66,77,88,99])
print(arr_1d[-3:]) # [77,88,99]
print(arr_1d[-3::-1]) # [77,66...11]
print(arr_1d[-3:9:-1]) # []
print(arr_1d[-3:-6:-1]) # [77,66,55]
print(arr_1d[-3:0:-1]) # [77,66....22]
print(arr_1d[5:9:2]) # [66,88]
print(arr_1d[5:4:2]) # []
print(arr_1d[5:4:-2]) # [66]
print(arr_1d[8:0:-2]) # [99,77,55,33]
print(arr_1d[-4::-2]) # [66,44,22]
print(arr_1d[3:8:-3]) # []
print(arr_1d[5:11:2]) # [66,88]

[77 88 99]
[77 66 55 44 33 22 11]
[]
[77 66 55]
[77 66 55 44 33 22]
[66 88]
[]
[66]
[99 77 55 33]
[66 44 22]
[]
[66 88]

In [35]:
# Slicing 2D [Start,Stop,Step]-> arr_2d [row_slicing , col_slicing] (4,5) 
arr_2d = np.array([
    [1,2,3,4,5],
    [1,3,5,7,9],
    [2,4,6,8,0],
    [5,4,3,2,1],
])
print(arr_2d[1:3, 2:4]) # [[5 7] [6  8]]

[[5 7]
 [6 8]]

In [36]:
print(arr_2d[-3::1, 3::-1]) #

[[7 5 3 1]
 [8 6 4 2]
 [2 3 4 5]]

In [37]:
arr_2d = np.array([
    [1,2,3,4,5],
    [1,3,5,7,9],
    [2,4,6,8,0],
    [5,4,3,2,1],
])
print(arr_2d[3::-2 , 1:4:3]) # [[4][3]]

[[4]
 [3]]

In [38]:
arr_2d = np.array([
    [1,2,3,4,5],
    [1,3,5,7,9],
    [2,4,6,8,0],
    [5,4,3,2,1],
])
print(arr_2d[2:5 , 2:5:-2]) # []

[]

In [39]:
arr_2d = np.array([
    [1,2,3,4,5],
    [1,3,5,7,9],
    [2,4,6,8,0],
    [5,4,3,2,1],
])
print(arr_2d[2:5 , 2:5:2]) # [[6 0] [3 1]]

[[6 0]
 [3 1]]

In [40]:
arr_2d = np.array([
    [1,2,3,4,5],
    [1,3,5,7,9],
    [2,4,6,8,0],
    [5,4,3,2,1],
])
print(arr_2d[: , ::-2])

[[5 3 1]
 [9 5 1]
 [0 6 2]
 [1 3 5]]

In [41]:
arr_2d = np.array([
    [1,2,3,4,5],
    [1,3,5,7,9],
    [2,4,6,8,0],
    [5,4,3,2,1],
])
print(arr_2d[::-1 , ::-1]) # row in reverse , and col in reverse
# row in reverse
# [5,4,3,2,1]
# [2,4,6,8,0]
# [1,3,5,7,9]
# [1,2,3,4,5]
# col reverse wrt to row in reverse [right to left]
# [1,2,3,4,5]
# [0,8,6,4,2]
# [9,7,5,3,1]
# [5,4,3,2,1]

[[1 2 3 4 5]
 [0 8 6 4 2]
 [9 7 5 3 1]
 [5 4 3 2 1]]

In [42]:
# slicing in 3D Array [depth , row , col]
arr_3d = np.array([
    [[11,22,33,44],
     [22,44,66,88],
     [11,33,55,77],],
    
    [[66,77,88,99],
     [11,55,77,99],
     [22,44,66,88],]
])
arr_3d[:,:,::-1] # Both depth including all rows but cols reversed

array([[[44, 33, 22, 11],
        [88, 66, 44, 22],
        [77, 55, 33, 11]],

       [[99, 88, 77, 66],
        [99, 77, 55, 11],
        [88, 66, 44, 22]]])

In [43]:
arr_3d = np.array([
    [[11,22,33,44],
     [22,44,66,88],
     [11,33,55,77],],
    
    [[66,77,88,99],
     [11,55,77,99],
     [22,44,66,88],]
])
arr_3d[1::2, 0:3:2, ::-3]

array([[[99, 66],
        [88, 22]]])

In [44]:
arr_3d = np.array([
    [[11,22,33,44],
     [22,44,66,88],
     [11,33,55,77],],
    
    [[66,77,88,99],
     [11,55,77,99],
     [22,44,66,88],]
])
print(arr_3d[-2,2,0]) # 11
arr_3d[-2: , -1: , 0:3:2] # last row of both depth

11

array([[[11, 55]],

       [[22, 66]]])

In [45]:
# SELECT * FROM TABLENAME WHERE = <Apply Filter>
# Masking -> Uses a boolean array of the same shape to filter the original array
arr_1d = np.array([11,22,33,44,55,66,77,88,99])
mask_arr = np.array([True,True,False,False,True,False,True,False,True])
print(arr_1d[mask_arr]) # Filtering on the numpy array

[11 22 55 77 99]

In [46]:
arr_1d.shape

(9,)

In [47]:
mask_arr.shape

(9,)

In [48]:
arr_1d = np.array([11,22,33,44,55,66,77,88,99])
mask_arr = np.array([True,True,False,False,True,False,True])
print(arr_1d.shape)
print(mask_arr.shape)

(9,)
(7,)

print(arr_1d[mask_arr]) # Error
# IndexError: boolean index did not match indexed array along dimension 0; 
# dimension is 9 but corresponding boolean dimension is 7

In [51]:
# arr_2d [Masking]
arr_2d = np.array([
    [1,2,3,4,5],
    [1,3,5,7,9],
    [2,4,6,8,0],
    [5,4,3,2,1]
])
mask_2d = np.array([
    [True,True,False,False,True],
    [True,False,True,True,True],
    [True,False,False,False,False],
    [True,False,False,True,True]
])
# Final Result -> 1D [Flatten Up]
arr_2d[mask_2d]

array([1, 2, 5, 1, 5, 7, 9, 2, 5, 2, 1])

In [52]:
arr_3d = np.array([
    [[11,22,33,44],
     [22,44,66,88],
     [11,33,55,77],],
    
    [[66,77,88,99],
     [11,55,77,99],
     [22,44,66,88],]
])
mask_3d = np.array([
    [[True,True,False,False],
     [True,False,False,False],
     [True,False,True,True],],
    
    [[False,True,False,True],
     [True,True,True,True],
     [False,False,False,False],]
])
arr_3d[mask_3d] # flatten up

array([11, 22, 22, 11, 55, 77, 77, 99, 11, 55, 77, 99])

In [53]:
# Ellipsis [...] -> Used Only Once in a slicing -> 3D Matrix
# 3D [2,5,2]
arr_3d = np.array([
    [[11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,110],],
    
    [[1,2],
    [3,4],
    [5,6],
    [7,8],
    [9,10],]
])
arr_3d[...] # arr_3d[:,:,:]

array([[[ 11,  22],
        [ 33,  44],
        [ 55,  66],
        [ 77,  88],
        [ 99, 110]],

       [[  1,   2],
        [  3,   4],
        [  5,   6],
        [  7,   8],
        [  9,  10]]])

In [54]:
# Ellipsis [...] -> Used Only Once in a slicing -> 3D Matrix
# 3D [2,5,2]
arr_3d = np.array([
    [[11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,110],],
    
    [[1,2],
    [3,4],
    [5,6],
    [7,8],
    [9,10],]
])
arr_3d[...,1] # (depth,rows,cols)

array([[ 22,  44,  66,  88, 110],
       [  2,   4,   6,   8,  10]])

In [55]:
arr_3d[:,:,1] # (depth,rows,cols)

array([[ 22,  44,  66,  88, 110],
       [  2,   4,   6,   8,  10]])

In [57]:
arr_3d.shape

(2, 5, 2)

In [58]:
arr_3d = np.array([
    [[11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,110],],
    
    [[1,2],
    [3,4],
    [5,6],
    [7,8],
    [9,10],]
])
arr_3d[:,0,...] # (depth,rows,cols)

array([[11, 22],
       [ 1,  2]])

In [59]:
arr_3d[:,0,:] # (depth,rows,cols)

array([[11, 22],
       [ 1,  2]])

In [60]:
arr_3d = np.array([
    [[11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,110],],
    
    [[1,2],
    [3,4],
    [5,6],
    [7,8],
    [9,10],]
])
arr_3d[...,-1] # (depth,rows,cols)

array([[ 22,  44,  66,  88, 110],
       [  2,   4,   6,   8,  10]])

In [61]:
arr_3d[:,:,-1] # (depth,rows,cols)

array([[ 22,  44,  66,  88, 110],
       [  2,   4,   6,   8,  10]])

In [62]:
arr_3d = np.array([
    [[11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,110],],
    
    [[1,2],
    [3,4],
    [5,6],
    [7,8],
    [9,10],]
])
arr_3d[0,...] # (depth,rows,cols)

array([[ 11,  22],
       [ 33,  44],
       [ 55,  66],
       [ 77,  88],
       [ 99, 110]])

In [63]:
arr_3d[0,:,:] # (depth,rows,cols)

array([[ 11,  22],
       [ 33,  44],
       [ 55,  66],
       [ 77,  88],
       [ 99, 110]])

In [65]:
# Operations on Array
a = np.array([11,22,33,44,55,66,77,88,99])
b = np.array([7,9,11,17,21,29,41,77,91])

print(a.shape)
print(b.shape)

(9,)
(9,)

In [66]:
# Addition
print("Numpy Array Addition: ")
a+b

Numpy Array Addition:

array([ 18,  31,  44,  61,  76,  95, 118, 165, 190])

In [67]:
# Subtractions
print("Numpy Array Subtraction: ")
a-b

Numpy Array Subtraction:

array([ 4, 13, 22, 27, 34, 37, 36, 11,  8])

In [68]:
# Multiplications
print("Numpy Array Multiplication: ")
a*b

Numpy Array Multiplication:

array([  77,  198,  363,  748, 1155, 1914, 3157, 6776, 9009])

In [69]:
# Divisions
print("Numpy Array Divisions: ")
a/b

Numpy Array Divisions:

array([1.57142857, 2.44444444, 3.        , 2.58823529, 2.61904762,
       2.27586207, 1.87804878, 1.14285714, 1.08791209])

In [70]:
# Floor Divisions
print("Numpy Array Floor Division: ")
a//b

Numpy Array Floor Division:

array([1, 2, 3, 2, 2, 2, 1, 1, 1])

In [71]:
# Modulus 
print("Numpy Array Modulus: ")
a%b

Numpy Array Modulus:

array([ 4,  4,  0, 10, 13,  8, 36, 11,  8])

In [72]:
# Exponentiations 
print("Numpy Array Exponent: ")
a ** 2

Numpy Array Exponent:

array([ 121,  484, 1089, 1936, 3025, 4356, 5929, 7744, 9801])

In [73]:
# Exponentiations 
print("Numpy Array Exponent: ")
b ** 2

Numpy Array Exponent:

array([  49,   81,  121,  289,  441,  841, 1681, 5929, 8281])

In [74]:
# Operations on Array [Unequal shape] -> Won't perform the operations
a = np.array([11,22,33,44,55,66,77,88,99])
b = np.array([7,9,11,17,21,29,41])

print(a.shape)
print(b.shape)

(9,)
(7,)

# Addition
print("Numpy Array Addition: ")
a+b
ValueError: operands could not be broadcast together with shapes (9,) (7,)

In [76]:
# # Operations on 2D Array 
A = np.array([
    [11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,110]
])
B = np.array([
    [1,2],
    [3,4],
    [5,6],
    [7,8],
    [9,10]
])
print(A.shape)
print(B.shape)

(5, 2)
(5, 2)

In [78]:
A+B

array([[ 12,  24],
       [ 36,  48],
       [ 60,  72],
       [ 84,  96],
       [108, 120]])

In [79]:
A-B

array([[ 10,  20],
       [ 30,  40],
       [ 50,  60],
       [ 70,  80],
       [ 90, 100]])

In [80]:
# Transposing an Array : Converting rows into coloumns and vice-versa. [Square Matrix]
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
print("Original Array: \n", arr_2d)

Original Array:
 [[11 22 33 44 55]
 [99 88 77 66 55]
 [11 33 55 77 99]
 [22 44 66 88 10]
 [11 15 17 19 21]]

In [81]:
print("Transposed Array: \n", arr_2d.transpose())

Transposed Array:
 [[11 99 11 22 11]
 [22 88 33 44 15]
 [33 77 55 66 17]
 [44 66 77 88 19]
 [55 55 99 10 21]]

In [82]:
print("Transposed Array: \n", arr_2d.T)

Transposed Array:
 [[11 99 11 22 11]
 [22 88 33 44 15]
 [33 77 55 66 17]
 [44 66 77 88 19]
 [55 55 99 10 21]]

# Sorting An Array:
##### Sorting means arranging an elements in ascending (default) or descending order

In [1]:
import numpy as np
arr_1d = np.array([77,11,22,55,33,44,99,66,88])
print(arr_1d)
print(np.sort(arr_1d))

[77 11 22 55 33 44 99 66 88]
[11 22 33 44 55 66 77 88 99]

In [2]:
# Descending Order using slicing [::-1]
print(np.sort(arr_1d)[::-1])

[99 88 77 66 55 44 33 22 11]

In [3]:
# Axis = 0 [Horizontal Axis][Rows] & Axis = 1 [Vertical Axis][Cols]
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.sort(arr_2d , axis = 0)

array([[11, 15, 17, 19, 10],
       [11, 22, 33, 44, 21],
       [11, 33, 55, 66, 55],
       [22, 44, 66, 77, 55],
       [99, 88, 77, 88, 99]])

In [4]:
# axis = 1 [Vertical Axis] [Col]
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.sort(arr_2d , axis = 1)

array([[11, 22, 33, 44, 55],
       [55, 66, 77, 88, 99],
       [11, 33, 55, 77, 99],
       [10, 22, 44, 66, 88],
       [11, 15, 17, 19, 21]])

In [5]:
# argsort [Indexing Sort]
arr_1d = np.array([55,11,44,33,22])
pos_arr = np.argsort(arr_1d)
print(arr_1d)
print(pos_arr)

[55 11 44 33 22]
[1 4 3 2 0]

In [9]:
# Indexing 
arr_1d[1] # 11

11

In [10]:
arr_1d[4] # 22

22

In [11]:
arr_1d[3] # 33

33

In [6]:
# Returns the indices that would sort an array. [argsort]
arr_1d[pos_arr]

array([11, 22, 33, 44, 55])

In [7]:
# argsort [Indexing Sort] [Descending]
arr_1d = np.array([55,11,44,33,22])
pos_arr = np.argsort(arr_1d)[::-1]
print(arr_1d)
print(pos_arr)

[55 11 44 33 22]
[0 2 3 4 1]

In [8]:
arr_1d[pos_arr] # Descending

array([55, 44, 33, 22, 11])

In [12]:
# argsort -> 2D Matrix
# axis = 1 [Vertical] [Col]
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
print(arr_2d)
print(np.argsort(arr_2d , axis = 1))

[[11 22 33 44 55]
 [99 88 77 66 55]
 [11 33 55 77 99]
 [22 44 66 88 10]
 [11 15 17 19 21]]
[[0 1 2 3 4]
 [4 3 2 1 0]
 [0 1 2 3 4]
 [4 0 1 2 3]
 [0 1 2 3 4]]

In [13]:
# argsort -> 2D Matrix
# axis = 0 [Horizontal] [Row]
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
print(arr_2d)
print(np.argsort(arr_2d , axis = 0))

[[11 22 33 44 55]
 [99 88 77 66 55]
 [11 33 55 77 99]
 [22 44 66 88 10]
 [11 15 17 19 21]]
[[0 4 4 4 3]
 [2 0 0 0 4]
 [4 2 2 1 0]
 [3 3 3 2 1]
 [1 1 1 3 2]]

In [16]:
# Concatenating an Array: It means joining the array either row wise or column wise
X = np.array([11,22,33,44,55])
Y = np.array([66,77,88,99])
Z = np.array([1,2,3,4,5,6,7,8,9])
print(np.concatenate((X,Y,Z)))

[11 22 33 44 55 66 77 88 99  1  2  3  4  5  6  7  8  9]

In [17]:
print(np.concatenate((Y,X,Z)))

[66 77 88 99 11 22 33 44 55  1  2  3  4  5  6  7  8  9]

In [18]:
print(np.concatenate((Z,X,Y)))

[ 1  2  3  4  5  6  7  8  9 11 22 33 44 55 66 77 88 99]

In [19]:
# Concatenating on 2D Matrix
arr_2dA = np.array([
    [11,22,33],
    [44,55,66],
    [77,88,99],
]) # shape(3,3)

arr_2dB = np.array([
    [11,22],
    [44,55],
    [77,88],
]) # shape(3,2)

arr_2dC = np.array([
    [11,22,33],
    [44,55,66],
]) # shape(2,3)

In [22]:
print(np.concatenate((arr_2dA , arr_2dB) , axis = 1)) # Vertically Append [Col-wise]

[[11 22 33 11 22]
 [44 55 66 44 55]
 [77 88 99 77 88]]

print(np.concatenate((arr_2dA , arr_2dC) , axis = 1)) # Vertically Append [Col-wise]
ValueError: all the input array dimensions except for the concatenation axis must match exactly, 
but along dimension 0, the array at index 0 has size 3 and the array at index 1 has size 2

In [24]:
print(np.concatenate((arr_2dA , arr_2dC) , axis = 0)) # Horizontal Append [Row-wise]

[[11 22 33]
 [44 55 66]
 [77 88 99]
 [11 22 33]
 [44 55 66]]

print(np.concatenate((arr_2dA , arr_2dB) , axis = 0)) # Horizontal Append [Row-wise]
ValueError: all the input array dimensions except for the concatenation axis must match exactly, 
but along dimension 1, the array at index 0 has size 3 and the array at index 1 has size 2

In [26]:
# arange(start,stop,step) 
for i in range(1,11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [27]:
# arange(start,stop,step) 
# Reshape(shape)
arr = np.arange(2,21,2) # [2,4,6...20]
arr

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [29]:
# 10 elements -> 2D Matrix [2*5] [5*2]
arr_2d = arr.reshape(2,5)
arr_2d

array([[ 2,  4,  6,  8, 10],
       [12, 14, 16, 18, 20]])

In [30]:
# 10 elements -> 2D Matrix [2*5] [5*2]
arr_2d = arr.reshape(5,2)
arr_2d

array([[ 2,  4],
       [ 6,  8],
       [10, 12],
       [14, 16],
       [18, 20]])

In [31]:
arr = np.arange(1,17,1) # [1,2,3,4....16]
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [33]:
# 16 elements -> 2D,3D,4D
arr_2d = arr.reshape(4,4)
arr_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [34]:
arr_2d = arr.reshape(8,2)
arr_2d

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12],
       [13, 14],
       [15, 16]])

In [35]:
arr_2d = arr.reshape(2,8)
arr_2d

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16]])

In [37]:
arr_3d = arr_2d.reshape(2,4,2)
arr_3d

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12],
        [13, 14],
        [15, 16]]])

In [38]:
arr_3d = arr_2d.reshape(2,2,4)
arr_3d

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]]])

In [39]:
arr_3d = arr_2d.reshape(4,2,2)
arr_3d

array([[[ 1,  2],
        [ 3,  4]],

       [[ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12]],

       [[13, 14],
        [15, 16]]])

In [40]:
arr_4d = arr_3d.reshape(2,2,2,2)
arr_4d

array([[[[ 1,  2],
         [ 3,  4]],

        [[ 5,  6],
         [ 7,  8]]],


       [[[ 9, 10],
         [11, 12]],

        [[13, 14],
         [15, 16]]]])

In [41]:
arr_4d = arr_2d.reshape(2,2,2,2)
arr_4d

array([[[[ 1,  2],
         [ 3,  4]],

        [[ 5,  6],
         [ 7,  8]]],


       [[[ 9, 10],
         [11, 12]],

        [[13, 14],
         [15, 16]]]])

In [43]:
arr_4d = arr.reshape(2,2,2,2)
arr_4d

array([[[[ 1,  2],
         [ 3,  4]],

        [[ 5,  6],
         [ 7,  8]]],


       [[[ 9, 10],
         [11, 12]],

        [[13, 14],
         [15, 16]]]])

In [44]:
# Flattening an array: n-dimensional to 1D Array
flatten_arr = arr_4d.reshape(-1)
flatten_arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [45]:
# Flattening an array: n-dimensional to 1D Array
flatten_arr = arr_2d.reshape(-1)
flatten_arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [46]:
flatten_arr = arr_3d.reshape(-1)
flatten_arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [47]:
# Splitting an Array
arr = np.arange(2,21,2) # 10 elements [2,4,6...20]
arr

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [48]:
split_arr = np.split(arr , 5)
print(split_arr)

[array([2, 4]), array([6, 8]), array([10, 12]), array([14, 16]), array([18, 20])]

In [49]:
split_arr

[array([2, 4]),
 array([6, 8]),
 array([10, 12]),
 array([14, 16]),
 array([18, 20])]

split_arr = np.split(arr , 3) # ValueError: array split does not result in an equal division
print(split_arr)

In [51]:
# Splitting an Array
arr = np.arange(1,16,1) # 15 elements [1,2,3,4...15]
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [53]:
print(arr)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

In [52]:
split_arr = np.split(arr , 3) 
print(split_arr)

[array([1, 2, 3, 4, 5]), array([ 6,  7,  8,  9, 10]), array([11, 12, 13, 14, 15])]

In [54]:
for data in split_arr:
    print(data)

[1 2 3 4 5]
[ 6  7  8  9 10]
[11 12 13 14 15]

In [56]:
# axis = 0 [Horizontal axis] [rows]
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
split_arr = np.split(arr_2d, 5 , axis = 0)
split_arr

[array([[11, 22, 33, 44, 55]]),
 array([[99, 88, 77, 66, 55]]),
 array([[11, 33, 55, 77, 99]]),
 array([[22, 44, 66, 88, 10]]),
 array([[11, 15, 17, 19, 21]])]

In [57]:
for data in split_arr:
    print(data)

[[11 22 33 44 55]]
[[99 88 77 66 55]]
[[11 33 55 77 99]]
[[22 44 66 88 10]]
[[11 15 17 19 21]]

In [59]:
print(type(split_arr))

<class 'list'>

In [60]:
# axis = 1 [Vertical axis] [cols]
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
split_arr = np.split(arr_2d, 5 , axis = 1)
split_arr

[array([[11],
        [99],
        [11],
        [22],
        [11]]),
 array([[22],
        [88],
        [33],
        [44],
        [15]]),
 array([[33],
        [77],
        [55],
        [66],
        [17]]),
 array([[44],
        [66],
        [77],
        [88],
        [19]]),
 array([[55],
        [55],
        [99],
        [10],
        [21]])]

In [61]:
for data in split_arr:
    print(data)

[[11]
 [99]
 [11]
 [22]
 [11]]
[[22]
 [88]
 [33]
 [44]
 [15]]
[[33]
 [77]
 [55]
 [66]
 [17]]
[[44]
 [66]
 [77]
 [88]
 [19]]
[[55]
 [55]
 [99]
 [10]
 [21]]

In [62]:
# Statistical Operations on Array
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.mean(arr_2d)

45.52

In [63]:
# axis = 0 [horizontal Axis] [rows]
np.mean(arr_2d , axis = 0)

array([30.8, 40.4, 49.6, 58.8, 48. ])

In [64]:
(11+99+11+22+11)/5

30.8

In [66]:
(22+88+33+44+15)/5

40.4

In [67]:
# axis = 1 [Vertical Axis] [cols]
np.mean(arr_2d , axis = 1)

array([33. , 77. , 55. , 46. , 16.6])

In [68]:
(11+22+33+44+55)/5

33.0

In [69]:
# Median
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.median(arr_2d)

44.0

In [70]:
# axis = 0 [horizontal Axis] [rows]
np.median(arr_2d , axis = 0)

array([11., 33., 55., 66., 55.])

In [71]:
# axis = 1 [Vertical Axis] [cols]
np.median(arr_2d , axis = 1)

array([33., 77., 55., 44., 17.])

In [72]:
# standard deviation
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.std(arr_2d)

29.48236082812908

In [73]:
# axis = 0 [horizontal Axis] [rows]
np.std(arr_2d , axis = 0)

array([34.36509857, 25.75732905, 21.85040045, 24.65278889, 31.21538082])

In [74]:
# axis = 1 [Vertical Axis] [cols]
np.std(arr_2d , axis = 1)

array([15.55634919, 15.55634919, 31.11269837, 28.42534081,  3.44093011])

In [75]:
# Min / Max -> Return Smallest and the largest values respectively.
# Min
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.min(arr_2d) # 10

10

In [76]:
# axis = 0 [horizontal Axis] [rows]
np.min(arr_2d , axis = 0)

array([11, 15, 17, 19, 10])

In [77]:
# axis = 1 [Vertical Axis] [cols]
np.min(arr_2d , axis = 1)

array([11, 55, 11, 10, 11])

In [79]:
# Max
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.max(arr_2d) # 99

99

In [81]:
# axis = 0 [horizontal Axis] [rows]
np.max(arr_2d , axis = 0)

array([99, 88, 77, 88, 99])

In [82]:
# axis = 1 [Vertical Axis] [cols]
np.max(arr_2d , axis = 1)

array([55, 99, 99, 88, 21])

In [83]:
# Sum -> Calculating the total of each elements within the range
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.sum(arr_2d)

1138

In [84]:
# axis = 0 [horizontal Axis] [rows]
np.sum(arr_2d , axis = 0)

array([154, 202, 248, 294, 240])

In [85]:
# axis = 1 [Vertical Axis] [cols]
np.sum(arr_2d , axis = 1)

array([165, 385, 275, 230,  83])

In [86]:
# Other ways to Create Numpy Array.
np.zeros(11) # np.zeros(shape) 
# 1D array filled with zeros 0. <float>

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [87]:
# Return a new array of given shape and type, filled with zeros.
np.zeros(9, dtype = int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0])

In [88]:
# 2D Matrix
np.zeros((7,2) , dtype = int)

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0]])

In [89]:
# 3D Matrix
np.zeros((2,3,2)) # default dtype - float

array([[[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]]])

In [90]:
# 4D Matrix
np.zeros((2,2,2,2), dtype = bool) # 0 in bool -> False

array([[[[False, False],
         [False, False]],

        [[False, False],
         [False, False]]],


       [[[False, False],
         [False, False]],

        [[False, False],
         [False, False]]]])

In [91]:
# np.ones(shape) -> filled with 1.
# 3D Matrix
np.ones((2,3,4) , dtype = int)

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]])

In [92]:
# 3D Matrix
np.ones((2,3,4) , dtype = bool) # 1 in bool -> True

array([[[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]],

       [[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]]])

In [93]:
# np.full(shape, fill_value)
# return a new array of given shape and type, filled with `fill_value`
np.full(11, 9)

array([9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9])

In [94]:
# 2D Matrix
np.full((4,5), 11.1)

array([[11.1, 11.1, 11.1, 11.1, 11.1],
       [11.1, 11.1, 11.1, 11.1, 11.1],
       [11.1, 11.1, 11.1, 11.1, 11.1],
       [11.1, 11.1, 11.1, 11.1, 11.1]])

In [95]:
# 3D Matrix
np.full((2,4,3), 11+9j)

array([[[11.+9.j, 11.+9.j, 11.+9.j],
        [11.+9.j, 11.+9.j, 11.+9.j],
        [11.+9.j, 11.+9.j, 11.+9.j],
        [11.+9.j, 11.+9.j, 11.+9.j]],

       [[11.+9.j, 11.+9.j, 11.+9.j],
        [11.+9.j, 11.+9.j, 11.+9.j],
        [11.+9.j, 11.+9.j, 11.+9.j],
        [11.+9.j, 11.+9.j, 11.+9.j]]])

In [96]:
# 3D Matrix
np.full((2,4,3), 'abc')

array([[['abc', 'abc', 'abc'],
        ['abc', 'abc', 'abc'],
        ['abc', 'abc', 'abc'],
        ['abc', 'abc', 'abc']],

       [['abc', 'abc', 'abc'],
        ['abc', 'abc', 'abc'],
        ['abc', 'abc', 'abc'],
        ['abc', 'abc', 'abc']]], dtype='<U3')

In [97]:
# 3D Matrix
np.full((2,4,3), 'Python')

array([[['Python', 'Python', 'Python'],
        ['Python', 'Python', 'Python'],
        ['Python', 'Python', 'Python'],
        ['Python', 'Python', 'Python']],

       [['Python', 'Python', 'Python'],
        ['Python', 'Python', 'Python'],
        ['Python', 'Python', 'Python'],
        ['Python', 'Python', 'Python']]], dtype='<U6')

In [98]:
# Identity Matrix -> having digonal elements filled with 1 and other non-diagonal are filled with 0.
# np.identity() -> square matrix 
# np.eye() -> Rectangular/Square Matrix, k-factor
# 3*3 Matrix
np.eye(3, dtype=int)

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [100]:
# 3*3 Matrix
np.eye(3, dtype=bool)

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [102]:
# Rectangular Matrix
# m * n Matrix
np.eye(4,7, dtype=float)

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.]])

In [103]:
# Rectangular Matrix with k-factor
# m * n Matrix
np.eye(4,7,k=1,dtype=float)

array([[0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.]])

In [104]:
# Rectangular Matrix with k-factor
# m * n Matrix
np.eye(4,7,k=2,dtype=float)

array([[0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.]])

In [105]:
# Rectangular Matrix with k-factor
# m * n Matrix
np.eye(4,7,k=-1,dtype=float)

array([[0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.]])

In [106]:
# Rectangular Matrix with k-factor
# m * n Matrix
np.eye(4,7,k=-2,dtype=float)

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.]])

In [107]:
# Square Matrix
np.eye(7, k = 0)

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.]])

In [108]:
# Square Matrix
np.eye(7, k = 1)

array([[0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0.]])

In [109]:
# Square Matrix
np.eye(7, k = 4)

array([[0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

In [110]:
# Square Matrix
np.eye(7, k = -5)

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.]])

In [111]:
# Square Matrix 
np.identity(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [112]:
# Return the identity array.
# The identity array is a square array with ones on the main diagonal.
np.identity(7)

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.]])

# Rectangular Matrix is not allowed 
np.identity(7,2) # TypeError: Cannot interpret '2' as a data type

np.identity(7,k=-3) # TypeError: identity() got an unexpected keyword argument 'k'

In [116]:
# np.arange(start , stop, step)
np.arange(1,11,2) # odd numpy array [1,3,..9]

array([1, 3, 5, 7, 9])

In [117]:
np.arange(2,21,2) # Even Numpy Array [2,4...20]

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [118]:
np.arange(1,15,-1) # []

array([], dtype=int32)

In [119]:
np.arange(15,0,-2) # [15,13,11...1]

array([15, 13, 11,  9,  7,  5,  3,  1])

In [120]:
# np.random -> shape()
dir(np.random)

['BitGenerator',
 'Generator',
 'MT19937',
 'PCG64',
 'PCG64DXSM',
 'Philox',
 'RandomState',
 'SFC64',
 'SeedSequence',
 '__RandomState_ctor',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_bounded_integers',
 '_common',
 '_generator',
 '_mt19937',
 '_pcg64',
 '_philox',
 '_pickle',
 '_sfc64',
 'beta',
 'binomial',
 'bit_generator',
 'bytes',
 'chisquare',
 'choice',
 'default_rng',
 'dirichlet',
 'exponential',
 'f',
 'gamma',
 'geometric',
 'get_bit_generator',
 'get_state',
 'gumbel',
 'hypergeometric',
 'laplace',
 'logistic',
 'lognormal',
 'logseries',
 'mtrand',
 'multinomial',
 'multivariate_normal',
 'negative_binomial',
 'noncentral_chisquare',
 'noncentral_f',
 'normal',
 'pareto',
 'permutation',
 'poisson',
 'power',
 'rand',
 'randint',
 'randn',
 'random',
 'random_integers',
 'random_sample',
 'ranf',
 'rayleigh',
 'sample',
 'seed',
 'set_bit_generator',
 'set_state',
 'shuffle',
 'standard_cauchy',
 'standard_exponential',
 'standard_gamma',
 'standard_normal',
 'standard_t',
 'test',
 'triangular',
 'uniform',
 'vonmises',
 'wald',
 'weibull',
 'zipf']

In [121]:
# 1D Matrix
# np.random.random(shape) -> [0,1) -> Range
np.random.random(11)

array([0.3749287 , 0.9242952 , 0.1686759 , 0.77277538, 0.59295769,
       0.9331255 , 0.39123287, 0.42077007, 0.03007149, 0.62073985,
       0.76482758])

In [122]:
np.random.random(11).round(2)

array([0.5 , 0.17, 0.71, 0.98, 0.15, 0.32, 0.34, 0.21, 0.23, 0.89, 0.48])

In [123]:
# 2D Matrix 
np.random.random((5,3)).round(2)

array([[0.81, 0.37, 0.8 ],
       [0.67, 0.12, 0.81],
       [0.63, 0.  , 0.78],
       [0.84, 0.81, 0.82],
       [0.18, 0.08, 0.15]])

In [124]:
# 3D Matrix
# Return random integers from `low` (inclusive) to `high` (exclusive)
np.random.randint(100,1000,(2,4,3)) # [100,1000)

array([[[429, 831, 887],
        [999, 494, 432],
        [205, 428, 500],
        [506, 132, 677]],

       [[770, 827, 593],
        [105, 838, 954],
        [902, 767, 463],
        [882, 481, 275]]])

In [139]:
# linspace(start,stop,number of elements) # Evenly spaced data
np.linspace(1,10,10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [126]:
np.linspace(1,10,20)

array([ 1.        ,  1.47368421,  1.94736842,  2.42105263,  2.89473684,
        3.36842105,  3.84210526,  4.31578947,  4.78947368,  5.26315789,
        5.73684211,  6.21052632,  6.68421053,  7.15789474,  7.63157895,
        8.10526316,  8.57894737,  9.05263158,  9.52631579, 10.        ])

In [127]:
1.94736842 - 1.47368421

0.47368421000000005

In [128]:
1.94736842 + 0.47368421

2.42105263

In [129]:
np.linspace(1,10,19)

array([ 1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5,  5. ,  5.5,  6. ,
        6.5,  7. ,  7.5,  8. ,  8.5,  9. ,  9.5, 10. ])

In [132]:
np.linspace(1,100,51)

array([  1.  ,   2.98,   4.96,   6.94,   8.92,  10.9 ,  12.88,  14.86,
        16.84,  18.82,  20.8 ,  22.78,  24.76,  26.74,  28.72,  30.7 ,
        32.68,  34.66,  36.64,  38.62,  40.6 ,  42.58,  44.56,  46.54,
        48.52,  50.5 ,  52.48,  54.46,  56.44,  58.42,  60.4 ,  62.38,
        64.36,  66.34,  68.32,  70.3 ,  72.28,  74.26,  76.24,  78.22,
        80.2 ,  82.18,  84.16,  86.14,  88.12,  90.1 ,  92.08,  94.06,
        96.04,  98.02, 100.  ])

In [1]:
# Series (data , Index) [By Default indexing starts from 0]
import numpy as np
import pandas as pd
data = [11,22,33,44,55,66,77,88,99]
series = pd.Series(data)
series

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [2]:
data = [11,22,33,44,55,66,77,88,99]
label = ['a','b','c','d','e','f','g','h','i']
series = pd.Series(data,label) # Positional Argument
# series = pd.Series(data,index = label) # KeyWord Argument
series

a    11
b    22
c    33
d    44
e    55
f    66
g    77
h    88
i    99
dtype: int64

In [3]:
# indexing starts with 1 
data = [11,22,33,44,55,66,77,88,99]
label = range(1,10) # [1,2...9] 
series = pd.Series(data,label) # Positional Argument
# series = pd.Series(data,index = label) # KeyWord Argument
series

1    11
2    22
3    33
4    44
5    55
6    66
7    77
8    88
9    99
dtype: int64

In [4]:
# Dictionary {Key-Value} -> Series(Index - Data)
_employee_dict = {
    'emp_id' : 'emp101',
    'name' : 'Shyam Sundar',
    'age' : 27,
    'gender' : 'M',
    'salary' : '$10,00,000',
    'designation' : 'Senior Analyst',
    'email' : 'shyam.sundar@gmail.com',
    'state' : 'Andhra Pradesh',
    'country' : 'India'
}
series = pd.Series(_employee_dict)
series

emp_id                         emp101
name                     Shyam Sundar
age                                27
gender                              M
salary                     $10,00,000
designation            Senior Analyst
email          shyam.sundar@gmail.com
state                  Andhra Pradesh
country                         India
dtype: object

In [5]:
type(series)

pandas.core.series.Series

In [6]:
print(type(series))

<class 'pandas.core.series.Series'>

In [7]:
# How to Access an elements from a Series.
# .iloc[Positional Based Indexing][Non-Inclusive] [1,10)
# .loc [Labelled Based Indexing][Inclusive] [1,10]
data = [11,22,33,44,55,66,77,88,99]
series = pd.Series(data)
series

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

print(series[-1]) # -ve indexing is not allowed 
# KeyError: -1

In [10]:
print(series.iloc[-1]) # 99 # only .iloc can perform -ve indexing
print(series[6]) # +ve indexing are allowed # 77
print(series.loc[0]) # 11
print(series.iloc[-5]) # 55
# print(series.loc[-5]) # Error # KeyError: -5
print(series.loc[4]) # 55

99
77
11
55
55

In [11]:
data = [11,22,33,44,55,66,77,88,99]
label = ['a','b','c','d','e','f','g','h','i']
series = pd.Series(data,label) # Positional Argument
print(series)
# print(series[0]) # KeyError
print(series['a']) # 11
print(series.iloc[-5]) # 55
print(series.iloc[7]) # 88
# print(series.loc[7]) # KeyError
print(series.loc['i']) # 99

a    11
b    22
c    33
d    44
e    55
f    66
g    77
h    88
i    99
dtype: int64
11
55
88
99

In [12]:
# Slicing
data = [11,22,33,44,55,66,77,88,99]
label = ['a','b','c','d','e','f','g','h','i']
series = pd.Series(data,label) # Positional Argument
print(series)
print("\n Labelled Based Slicing using .loc")
print(series.loc['a':'e']) # [11,22,33,44,55]
print("\n Positional Based Slicing using .iloc")
print(series.iloc[0:5]) # [11,22,33,44,55]

a    11
b    22
c    33
d    44
e    55
f    66
g    77
h    88
i    99
dtype: int64

 Labelled Based Slicing using .loc
a    11
b    22
c    33
d    44
e    55
dtype: int64

 Positional Based Slicing using .iloc
a    11
b    22
c    33
d    44
e    55
dtype: int64

In [13]:
# Dictionary {Key-Value} -> Series(Index - Data)
_employee_dict = {
    'emp_id' : 'emp101',
    'name' : 'Shyam Sundar',
    'age' : 27,
    'gender' : 'M',
    'salary' : '$10,00,000',
    'designation' : 'Senior Analyst',
    'email' : 'shyam.sundar@gmail.com',
    'state' : 'Andhra Pradesh',
    'country' : 'India'
}
series = pd.Series(_employee_dict)
print(series)
# Normal Indexing 
print(series['email']) # 'shyam.sundar@gmail.com'
# print(series[4]) # KeyError
print(series.iloc[4]) # '$10,00,000'

emp_id                         emp101
name                     Shyam Sundar
age                                27
gender                              M
salary                     $10,00,000
designation            Senior Analyst
email          shyam.sundar@gmail.com
state                  Andhra Pradesh
country                         India
dtype: object
shyam.sundar@gmail.com
$10,00,000

In [14]:
# Using .loc [Labelled Based Indexing]
print(series.loc['state']) # 'Andhra Pradesh'
print(series.loc['name' : 'email']) # slicing[Inclusive]

Andhra Pradesh
name                     Shyam Sundar
age                                27
gender                              M
salary                     $10,00,000
designation            Senior Analyst
email          shyam.sundar@gmail.com
dtype: object

print(series.loc['name' : 'postalcode']) # slicing[Inclusive]
# KeyError: 'postalcode'

In [16]:
# .loc[Calling Multiple Columns]
print(series.loc[['name','email','designation','salary','state']])

name                     Shyam Sundar
email          shyam.sundar@gmail.com
designation            Senior Analyst
salary                     $10,00,000
state                  Andhra Pradesh
dtype: object

In [17]:
data = [11,22,33,44,55,66,77,88,99]
series = pd.Series(data)
series

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [18]:
series.iloc[0:4] # [11-44]

0    11
1    22
2    33
3    44
dtype: int64

In [19]:
series.iloc[0:8:3] # [11,44,77]

0    11
3    44
6    77
dtype: int64

In [20]:
series.loc[0] # 11

11

In [21]:
series.loc[0:4] # [11 to 55] [Inclusive]

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [22]:
data = [11,22,33,44,55,66,77,88,99]
label = ['a','b','c','d','e','f','g','h','i']
series = pd.Series(data,label) # Positional Argument
print(series)

a    11
b    22
c    33
d    44
e    55
f    66
g    77
h    88
i    99
dtype: int64

In [23]:
series.iloc[0:4] # [11-44]

a    11
b    22
c    33
d    44
dtype: int64

In [24]:
series.loc['a':'e'] # [11-55]

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [29]:
# Attributes of Series
car_list = np.array(['Taigun','Thar','Magnite','Brezza',
                    'Harrier','Slavia','City','Fortuner','Creta'])
brand_list = np.array(['VW','Mahindra','Nissan','Suzuki',
                    'Tata','Skoda','Honda','Toyota','Hyundai'])
car_model = pd.Series(
    car_list,
    index = brand_list, # keyword-argument
    name = 'Car Model '
)
car_model

VW            Taigun
Mahindra        Thar
Nissan       Magnite
Suzuki        Brezza
Tata         Harrier
Skoda         Slavia
Honda           City
Toyota      Fortuner
Hyundai        Creta
Name: Car Model , dtype: object

In [27]:
car_model.name

'Car Model '

In [28]:
car_model.index

Index(['VW', 'Mahindra', 'Nissan', 'Suzuki', 'Tata', 'Skoda', 'Honda',
       'Toyota', 'Hyundai'],
      dtype='object')

In [30]:
car_model.values

array(['Taigun', 'Thar', 'Magnite', 'Brezza', 'Harrier', 'Slavia', 'City',
       'Fortuner', 'Creta'], dtype=object)

In [31]:
car_model.dtypes

dtype('O')

In [32]:
car_model.shape

(9,)

In [33]:
car_model.size

9

In [34]:
car_model.empty # True/False [False-> as it holds data in it]

False

In [35]:
# hasnans -> has NaNs [Not a Number] 
car_model.hasnans # False [No Missing Value]

False

In [37]:
# SELECT <DISTINCT> NAME FROM TABLENAME -> Unique
car_model.is_unique # True

True

In [38]:
# ndim [Numpy N-Dimensional Array]
car_model.ndim # 1 [Series]

1

In [39]:
# Basic Mathematical Operations
series = pd.Series([7,9,11,15,17,21,29,55,77,99])
print(series+11)

0     18
1     20
2     22
3     26
4     28
5     32
6     40
7     66
8     88
9    110
dtype: int64

In [40]:
series = pd.Series([7,9,11,15,17,21,29,55,77,99])
print(series**2)

0      49
1      81
2     121
3     225
4     289
5     441
6     841
7    3025
8    5929
9    9801
dtype: int64

In [41]:
series = pd.Series([7,9,11,15,17,21,29,55,77,99])
print(series * 10)

0     70
1     90
2    110
3    150
4    170
5    210
6    290
7    550
8    770
9    990
dtype: int64

In [42]:
series = pd.Series([7,9,11,15,17,21,29,55,77,99])
print(series // 10)

0    0
1    0
2    1
3    1
4    1
5    2
6    2
7    5
8    7
9    9
dtype: int64

In [44]:
# Attributes of Series
car_list = np.array(['Taigun','Thar','Magnite','Brezza','City','Thar',
                    'Harrier','Slavia','City','Fortuner','Creta'])
car_model = pd.Series(
    car_list,
    name = 'Car Model '
)
car_model

0       Taigun
1         Thar
2      Magnite
3       Brezza
4         City
5         Thar
6      Harrier
7       Slavia
8         City
9     Fortuner
10       Creta
Name: Car Model , dtype: object

In [45]:
car_model.is_unique # False

False

In [46]:
# Students_Data -> Name as Index , and Marks as Value
name = pd.Series(['Shyam','Swinki','Rajat','Vaibhav','Deepak','Harisha','Pragya','Aryan',
                 'Shahzain','Kajal','Umang','Shubham'])
marks = np.array([95,99,91,89,85,91,77,95,97,92,81,90])
stud_series = pd.Series(marks,name)
stud_series

Shyam       95
Swinki      99
Rajat       91
Vaibhav     89
Deepak      85
Harisha     91
Pragya      77
Aryan       95
Shahzain    97
Kajal       92
Umang       81
Shubham     90
dtype: int32

In [47]:
stud_series.index

Index(['Shyam', 'Swinki', 'Rajat', 'Vaibhav', 'Deepak', 'Harisha', 'Pragya',
       'Aryan', 'Shahzain', 'Kajal', 'Umang', 'Shubham'],
      dtype='object')

In [48]:
stud_series.values

array([95, 99, 91, 89, 85, 91, 77, 95, 97, 92, 81, 90])

In [49]:
# Indexing .iloc Vs loc
stud_series['Shubham'] # case-sensitive

90

In [50]:
# stud_series[7] # KeyError
stud_series.loc['Swinki']

99

In [51]:
stud_series.iloc[-3]

92

In [52]:
stud_series.loc[['Shyam','Rajat','Deepak']]

Shyam     95
Rajat     91
Deepak    85
dtype: int32

In [53]:
# Limit -> Order By ['Sorting'] ['SQL']
# .head() -> preview of the Series/DataFrame [by default 5 rows returns]
stud_series.head() # First 5 values from the Series

Shyam      95
Swinki     99
Rajat      91
Vaibhav    89
Deepak     85
dtype: int32

In [54]:
# .tail() -> preview of the Series/DataFrame [by default 5 rows returns]
stud_series.tail() # Last 5 values from the series

Aryan       95
Shahzain    97
Kajal       92
Umang       81
Shubham     90
dtype: int32

In [55]:
stud_series.head(7) # First 7 values from the Series

Shyam      95
Swinki     99
Rajat      91
Vaibhav    89
Deepak     85
Harisha    91
Pragya     77
dtype: int32

In [56]:
stud_series.tail(9) # Last 9 values from the Series

Vaibhav     89
Deepak      85
Harisha     91
Pragya      77
Aryan       95
Shahzain    97
Kajal       92
Umang       81
Shubham     90
dtype: int32

In [57]:
stud_series.values

array([95, 99, 91, 89, 85, 91, 77, 95, 97, 92, 81, 90])

In [58]:
stud_series.values.dtype

dtype('int32')

In [59]:
# Data Profiling [Statistical Analysis]
stud_series.describe()

count    12.000000
mean     90.166667
std       6.478402
min      77.000000
25%      88.000000
50%      91.000000
75%      95.000000
max      99.000000
dtype: float64

In [60]:
car_model.describe()

count       11
unique       9
top       Thar
freq         2
Name: Car Model , dtype: object

In [61]:
# Frequency - Mode
car_model.value_counts()

Car Model
Thar        2
City        2
Taigun      1
Magnite     1
Brezza      1
Harrier     1
Slavia      1
Fortuner    1
Creta       1
Name: count, dtype: int64

In [62]:
# Sorting -> Ascending To Descending
stud_series.sort_values()

Pragya      77
Umang       81
Deepak      85
Vaibhav     89
Shubham     90
Rajat       91
Harisha     91
Kajal       92
Shyam       95
Aryan       95
Shahzain    97
Swinki      99
dtype: int32

In [63]:
# Sorting -> High to Low []
# Sort a Series in ascending or descending order by some criterion.
stud_series.sort_values(ascending = False) # Desc to Asc

Swinki      99
Shahzain    97
Shyam       95
Aryan       95
Kajal       92
Rajat       91
Harisha     91
Shubham     90
Vaibhav     89
Deepak      85
Umang       81
Pragya      77
dtype: int32

In [64]:
stud_series # Orginal Table as the above changes are Temporary

Shyam       95
Swinki      99
Rajat       91
Vaibhav     89
Deepak      85
Harisha     91
Pragya      77
Aryan       95
Shahzain    97
Kajal       92
Umang       81
Shubham     90
dtype: int32

In [65]:
# sort_index() # Object [Albhatically Sort -> 'ASCII'] 'A'->'Z'
stud_series.sort_index()

Aryan       95
Deepak      85
Harisha     91
Kajal       92
Pragya      77
Rajat       91
Shahzain    97
Shubham     90
Shyam       95
Swinki      99
Umang       81
Vaibhav     89
dtype: int32

In [66]:
# sort_index() # Object [Albhatically Sort -> 'ASCII'] 'Z'->'A'
stud_series.sort_index(ascending = False) # reversed

Vaibhav     89
Umang       81
Swinki      99
Shyam       95
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Harisha     91
Deepak      85
Aryan       95
dtype: int32

In [67]:
stud_series # Orginal Table as the above changes are Temporary

Shyam       95
Swinki      99
Rajat       91
Vaibhav     89
Deepak      85
Harisha     91
Pragya      77
Aryan       95
Shahzain    97
Kajal       92
Umang       81
Shubham     90
dtype: int32

In [68]:
stud_series.index

Index(['Shyam', 'Swinki', 'Rajat', 'Vaibhav', 'Deepak', 'Harisha', 'Pragya',
       'Aryan', 'Shahzain', 'Kajal', 'Umang', 'Shubham'],
      dtype='object')

In [69]:
stud_series.values

array([95, 99, 91, 89, 85, 91, 77, 95, 97, 92, 81, 90])

0-9 > A to Z > a to z, in Ascending Order
0-9 < A to Z < a to z, in Descending Order

In [70]:
# Permanent Changes
# Marks High to Low 
stud_series = stud_series.sort_values(ascending = False)
stud_series

Swinki      99
Shahzain    97
Shyam       95
Aryan       95
Kajal       92
Rajat       91
Harisha     91
Shubham     90
Vaibhav     89
Deepak      85
Umang       81
Pragya      77
dtype: int32

In [71]:
stud_series.index

Index(['Swinki', 'Shahzain', 'Shyam', 'Aryan', 'Kajal', 'Rajat', 'Harisha',
       'Shubham', 'Vaibhav', 'Deepak', 'Umang', 'Pragya'],
      dtype='object')

In [72]:
stud_series.values

array([99, 97, 95, 95, 92, 91, 91, 90, 89, 85, 81, 77])

In [73]:
# Permanent Changes
stud_series.sort_index(ascending = False , inplace = True) # 'Z' to 'A'
stud_series

Vaibhav     89
Umang       81
Swinki      99
Shyam       95
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Harisha     91
Deepak      85
Aryan       95
dtype: int32

In [74]:
stud_series.index

Index(['Vaibhav', 'Umang', 'Swinki', 'Shyam', 'Shubham', 'Shahzain', 'Rajat',
       'Pragya', 'Kajal', 'Harisha', 'Deepak', 'Aryan'],
      dtype='object')

In [75]:
stud_series.values

array([89, 81, 99, 95, 90, 97, 91, 77, 92, 91, 85, 95])

In [76]:
# 'Dropping an elements' from a Series
stud_series.drop('Umang') # Temporary Drop

Vaibhav     89
Swinki      99
Shyam       95
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Harisha     91
Deepak      85
Aryan       95
dtype: int32

In [77]:
stud_series # Changes won't reflected on my original Series

Vaibhav     89
Umang       81
Swinki      99
Shyam       95
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Harisha     91
Deepak      85
Aryan       95
dtype: int32

In [78]:
# Permanent Drop -> inplace = True
stud_series.drop('Umang' , inplace = True)
stud_series

Vaibhav     89
Swinki      99
Shyam       95
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Harisha     91
Deepak      85
Aryan       95
dtype: int32

# If you are dropping a person from stud_series that doesn't exist.
stud_series.drop('Chirag' , inplace = True)
stud_series # KeyError: "['Chirag'] not found in axis"

In [80]:
# L.H.S = R.H.S [Permanent Drop]
stud_series = stud_series.drop('Harisha')
stud_series

Vaibhav     89
Swinki      99
Shyam       95
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Deepak      85
Aryan       95
dtype: int32

In [81]:
# .replace() -> String Manipulation
stud_series.replace(95,98,inplace = True)
stud_series

Vaibhav     89
Swinki      99
Shyam       98
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Deepak      85
Aryan       98
dtype: int32

In [83]:
# .tolist()
stud_series.index.tolist()

['Vaibhav',
 'Swinki',
 'Shyam',
 'Shubham',
 'Shahzain',
 'Rajat',
 'Pragya',
 'Kajal',
 'Deepak',
 'Aryan']

In [84]:
type(stud_series.index.tolist())

list

In [85]:
stud_series[stud_series.index == 'Aryan']

Aryan    98
dtype: int32

In [86]:
stud_series[stud_series.index == 'Aryan'].replace(98,95)

Aryan    95
dtype: int32

stud_series[stud_series.index == 'Aryan'].replace(98,95,inplace = True)

In [87]:
stud_series[stud_series.index == 'Aryan'] = stud_series[stud_series.index == 'Aryan'].replace(98,95)
stud_series

Vaibhav     89
Swinki      99
Shyam       98
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Deepak      85
Aryan       95
dtype: int32

stud_series = stud_series[stud_series.index == 'Aryan'].replace(98,95)
stud_series # Aryan in Stud_series

In [88]:
# isnull / isna() / notnull()
stud_series.isnull() # False represent no null value present

Vaibhav     False
Swinki      False
Shyam       False
Shubham     False
Shahzain    False
Rajat       False
Pragya      False
Kajal       False
Deepak      False
Aryan       False
dtype: bool

In [89]:
stud_series.isna()

Vaibhav     False
Swinki      False
Shyam       False
Shubham     False
Shahzain    False
Rajat       False
Pragya      False
Kajal       False
Deepak      False
Aryan       False
dtype: bool

In [90]:
stud_series.notnull() # True

Vaibhav     True
Swinki      True
Shyam       True
Shubham     True
Shahzain    True
Rajat       True
Pragya      True
Kajal       True
Deepak      True
Aryan       True
dtype: bool

In [91]:
stud_series.notnull().sum() # 10

10

In [92]:
stud_series.isna().sum() # False [0] -> 0

0

In [96]:
# Mathematical Operations on 2 Different Series
label1 = ['a','b','c','d','e']
label2 =  ['p','q','a','d','c']
seriesA = pd.Series([11,22,33,44,55] , index = label1)
seriesB = pd.Series([5,15,-9,-21,0] , index = label2)
print("\n SeriesA:")
print(seriesA)
print("\n SeriesB:")
print(seriesB)

 SeriesA:
a    11
b    22
c    33
d    44
e    55
dtype: int64

 SeriesB:
p     5
q    15
a    -9
d   -21
c     0
dtype: int64

In [97]:
print(seriesA.shape)
print(seriesB.shape)

(5,)
(5,)

In [98]:
resultSeries = seriesA + seriesB
resultSeries

a     2.0
b     NaN
c    33.0
d    23.0
e     NaN
p     NaN
q     NaN
dtype: float64

In [99]:
resultSeries.isna()

a    False
b     True
c    False
d    False
e     True
p     True
q     True
dtype: bool

In [100]:
resultSeries.isna().sum() # Count of Missing Values

4

In [102]:
resultSeries.notnull() # Boolean Return [True for Non-NullValue]

a     True
b    False
c     True
d     True
e    False
p    False
q    False
dtype: bool

In [104]:
resultSeries.notnull().sum() # Count of Non-Null Values

3

In [106]:
# Cleaning -> Handling a Missing Values
# Impact Analysis [.drop] Vs Imputing[.fill]
resultSeries.dropna() # Temporary Changes

a     2.0
c    33.0
d    23.0
dtype: float64

In [107]:
resultSeries

a     2.0
b     NaN
c    33.0
d    23.0
e     NaN
p     NaN
q     NaN
dtype: float64

In [108]:
resultSeries.fillna(0)

a     2.0
b     0.0
c    33.0
d    23.0
e     0.0
p     0.0
q     0.0
dtype: float64

In [109]:
resultSeries

a     2.0
b     NaN
c    33.0
d    23.0
e     NaN
p     NaN
q     NaN
dtype: float64

In [110]:
resultSeries.fillna(0, inplace = True)
resultSeries

a     2.0
b     0.0
c    33.0
d    23.0
e     0.0
p     0.0
q     0.0
dtype: float64

In [111]:
# Mathematical Operations on 2 Different Series
label1 = ['a','b','c','d','e']
label2 =  ['p','q','a','d','c']
seriesA = pd.Series([11,22,33,44,55] , index = label1)
seriesB = pd.Series([5,15,-9,-21,0] , index = label2)
print("\n SeriesA:")
print(seriesA)
print("\n SeriesB:")
print(seriesB)

 SeriesA:
a    11
b    22
c    33
d    44
e    55
dtype: int64

 SeriesB:
p     5
q    15
a    -9
d   -21
c     0
dtype: int64

In [112]:
resultSeries = seriesA * seriesB
resultSeries

a    -99.0
b      NaN
c      0.0
d   -924.0
e      NaN
p      NaN
q      NaN
dtype: float64

In [113]:
resultSeries.dropna(inplace = True)
resultSeries # Permanent Changes

a    -99.0
c      0.0
d   -924.0
dtype: float64

In [1]:
# DataFrame # 2D Labelled Data Structure in Python [rows,cols] 
# Spreadsheet in Excel & SQL Matrix
# Each columns contains different dtypes [object,int,float,str,boolean]

In [2]:
import numpy as np
import pandas as pd
empty_df = pd.DataFrame()
empty_df

Empty DataFrame
Columns: []
Index: []

In [3]:
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [4]:
# Let's create a DataFrame which includes person data
# Name | Age | State
personal_info = np.array([
    ['Rajat Singh',28,'Delhi'],
    ['Shyam Sundar Rao',26,'Andhra Pradesh'],
    ['Vaibhav Ashtekar',32,'Telangana'],
    ['Paramjeet Kaur', 28 , 'Karnataka'],
    ['Salman Khan', 55, 'Maharashtra'],
    ['John Rambo',30,'Maharashtra'],
    ['Shahzain Sher Shan' ,26 ,'Madhya Pradesh'],
    ['Pragya Chowdhury', 27, 'West Bengal'],
    ['Virat Kohli', 35, 'Delhi'],
])
person_df = pd.DataFrame(personal_info)
person_df

                    0   1               2
0         Rajat Singh  28           Delhi
1    Shyam Sundar Rao  26  Andhra Pradesh
2    Vaibhav Ashtekar  32       Telangana
3      Paramjeet Kaur  28       Karnataka
4         Salman Khan  55     Maharashtra
5          John Rambo  30     Maharashtra
6  Shahzain Sher Shan  26  Madhya Pradesh
7    Pragya Chowdhury  27     West Bengal
8         Virat Kohli  35           Delhi

In [5]:
person_df = pd.DataFrame(personal_info , columns = ['Name','Age','State'])
person_df

                 Name Age           State
0         Rajat Singh  28           Delhi
1    Shyam Sundar Rao  26  Andhra Pradesh
2    Vaibhav Ashtekar  32       Telangana
3      Paramjeet Kaur  28       Karnataka
4         Salman Khan  55     Maharashtra
5          John Rambo  30     Maharashtra
6  Shahzain Sher Shan  26  Madhya Pradesh
7    Pragya Chowdhury  27     West Bengal
8         Virat Kohli  35           Delhi

In [6]:
person_df.head() # First Five Rows

               Name Age           State
0       Rajat Singh  28           Delhi
1  Shyam Sundar Rao  26  Andhra Pradesh
2  Vaibhav Ashtekar  32       Telangana
3    Paramjeet Kaur  28       Karnataka
4       Salman Khan  55     Maharashtra

In [7]:
person_df.head(7) # First Seven Rows

                 Name Age           State
0         Rajat Singh  28           Delhi
1    Shyam Sundar Rao  26  Andhra Pradesh
2    Vaibhav Ashtekar  32       Telangana
3      Paramjeet Kaur  28       Karnataka
4         Salman Khan  55     Maharashtra
5          John Rambo  30     Maharashtra
6  Shahzain Sher Shan  26  Madhya Pradesh

In [8]:
person_df.tail() # Return the last `n` rows. [Default = 5]

                 Name Age           State
4         Salman Khan  55     Maharashtra
5          John Rambo  30     Maharashtra
6  Shahzain Sher Shan  26  Madhya Pradesh
7    Pragya Chowdhury  27     West Bengal
8         Virat Kohli  35           Delhi

In [9]:
person_df.describe() # Statistical info

               Name Age  State
count             9   9      9
unique            9   7      7
top     Rajat Singh  28  Delhi
freq              1   2      2

count -> non-null values
unique -> number of distinct values
top -> Most Frequent Value [Mode] [Index Return]
freq -> Frequency of most frequent value

In [10]:
person_df['Age']

0    28
1    26
2    32
3    28
4    55
5    30
6    26
7    27
8    35
Name: Age, dtype: object

In [11]:
type(person_df['Age']) # series

pandas.core.series.Series

In [12]:
type(person_df) # DataFrame [rows , cols]

pandas.core.frame.DataFrame

In [13]:
person_df['Age'].value_counts()

Age
28    2
26    2
32    1
55    1
30    1
27    1
35    1
Name: count, dtype: int64

In [14]:
person_df['State'].value_counts()

State
Delhi             2
Maharashtra       2
Andhra Pradesh    1
Telangana         1
Karnataka         1
Madhya Pradesh    1
West Bengal       1
Name: count, dtype: int64

In [16]:
person_df['Name'].values

array(['Rajat Singh', 'Shyam Sundar Rao', 'Vaibhav Ashtekar',
       'Paramjeet Kaur', 'Salman Khan', 'John Rambo',
       'Shahzain Sher Shan', 'Pragya Chowdhury', 'Virat Kohli'],
      dtype=object)

In [18]:
person_df['Age'].values.astype('int')

array([28, 26, 32, 28, 55, 30, 26, 27, 35])

In [21]:
person_df['State'].values

array(['Delhi', 'Andhra Pradesh', 'Telangana', 'Karnataka', 'Maharashtra',
       'Maharashtra', 'Madhya Pradesh', 'West Bengal', 'Delhi'],
      dtype=object)

In [22]:
# person_df with use of Dictionary
# Name | Age | State | Email
# Two-dimensional, size-mutable, potentially heterogeneous tabular data.
personal_data = {
    'Name' : ['Rajat Singh', 'Shyam Sundar Rao', 'Vaibhav Ashtekar',
       'Paramjeet Kaur', 'Salman Khan', 'John Rambo',
       'Shahzain Sher Shan', 'Pragya Chowdhury', 'Virat Kohli'],
    'Age' : [28, 26, 32, 28, 55, 30, 26, 27, 35],
    'State' : ['Delhi', 'Andhra Pradesh', 'Telangana', 'Karnataka', 'Maharashtra',
       'Maharashtra', 'Madhya Pradesh', 'West Bengal', 'Delhi'],
    'Email' : ['Rajat.singh@gmail.com', 'shyam.sundar@gmail.com', 'ashtekarvk@gmail.com',
       'paramjeet.kaur1197@gmail.com', 'Salam.kt@gmail.com', 'johnrambo@yopmail.com',
       'shahzaink13@gmail.com', 'Pragya.Chowdhury@yahoo.com', 'viratkohli007@gmail.com']
}
person_df = pd.DataFrame(personal_data)
person_df

                 Name  Age           State                         Email
0         Rajat Singh   28           Delhi         Rajat.singh@gmail.com
1    Shyam Sundar Rao   26  Andhra Pradesh        shyam.sundar@gmail.com
2    Vaibhav Ashtekar   32       Telangana          ashtekarvk@gmail.com
3      Paramjeet Kaur   28       Karnataka  paramjeet.kaur1197@gmail.com
4         Salman Khan   55     Maharashtra            Salam.kt@gmail.com
5          John Rambo   30     Maharashtra         johnrambo@yopmail.com
6  Shahzain Sher Shan   26  Madhya Pradesh         shahzaink13@gmail.com
7    Pragya Chowdhury   27     West Bengal    Pragya.Chowdhury@yahoo.com
8         Virat Kohli   35           Delhi       viratkohli007@gmail.com

In [23]:
# Exporting a clean file into our local system .csv(Comma Seperated Values)
person_df.to_csv('personal_info.csv' , index = False)

In [24]:
# Exporting to Excel
person_df.to_excel('personal_data.xlsx' , index = False)

In [25]:
# Importing the DataSet.....
try:
    customers = pd.read_excel('customers.xlsx')
    products = pd.read_excel('products.xlsx')
    purchases = pd.read_excel('purchases.xlsx')
except FileNotFoundError:
    print("File Not Found!")

In [26]:
customers

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode
0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0
1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN
2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0
3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0
4,5,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,83732.0
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Merrili,Alman,malmanrn@cornell.edu,Female,0.0,Thompson,Way,Reading,Pennsylvania,19610.0
996,997,Winonah,Heckle,whecklero@fc2.com,Female,701.0,Rowland,Hill,Indianapolis,Indiana,46278.0
997,998,Tobit,Birt,NaN,Male,2.0,Basil,Road,Waterbury,Connecticut,6721.0
998,999,Issiah,Standbrooke,istandbrookerq@yellowpages.com,Male,NaN,Kenwood,Drive,Savannah,Georgia,31405.0
999,1000,Elmore,Malpas,NaN,Male,205.0,Farwell,Park,Atlanta,Georgia,30386.0

In [27]:
products

    Unnamed: 0  id                             product    cost       company
0            0   1                Liners - Baking Cups   $6.36      Skipfire
1            1   2          Nori Sea Weed - Gold Label  $85.74       Dynazzy
2            2   3                  Bar Bran Honey Nut  $65.40          Ntag
3            3   4          Soup - Campbells Beef Stew  $68.16      Photojam
4            4   5    Wine - Shiraz Wolf Blass Premium  $87.39          Eare
5            5   6  Wine - White, Riesling, Semi - Dry  $99.22      Livepath
6            6   7                        Brandy - Bar  $13.83          Oloo
7            7   8                      Onions - White  $42.19          Oozz
8            8   9         Lettuce - Baby Salad Greens  $30.01        Meevee
9            9  10                Sambuca - Ramazzotti  $88.99      Livepath
10          10  11                Coffee - Decafenated  $21.47        Meezzy
11          11  12             Lamb Leg - Bone - In Nz  $42.56     Photofeed
12          12  13                Lettuce - Spring Mix  $19.90  Twitterworks
13          13  14              Cookies Oatmeal Raisin  $99.40       Dynabox
14          14  15              Cookies Oatmeal Raisin  $14.13          Vitz
15          15  16                   Sausage - Chorizo  $55.45           NaN
16          16  17                     Glaze - Apricot  $33.78    Browsezoom
17          17  18                           Squid Ink  $56.33         Aibox
18          18  19               Loaf Pan - 2 Lb, Foil  $22.83   Brainsphere
19          19  20        Bagel - Everything Presliced  $87.05        Trunyx
20          20  21          Bagel - Whole White Sesame  $90.48      Realcube
21          21  22                 Scotch - Queen Anne  $60.26           NaN
22          22  23                Puree - Blackcurrant  $16.27       Zoombox
23          23  24               Bread - Bagels, Plain  $31.26          Vitz
24          24  25               Snapple Raspberry Tea  $73.70       Innojam
25          25  26               Sour Puss - Tangerine  $84.20       Skinder
26          26  27                    Spaghetti Squash  $47.41           NaN
27          27  28         Wine - Niagara,vqa Reisling  $28.24           NaN
28          28  29                Iced Tea Concentrate  $59.23     Photolist
29          29  30                         Fuji Apples  $22.96       Cogibox
30          30  31      Wine - Carmenere Casillero Del  $55.77          Ntag
31          31  32                Container Clear 8 Oz  $92.33          Muxo
32          32  33                         Duck - Legs  $82.22       Voonder
33          33  34            Muffin Hinge Container 6  $99.54        Skyble
34          34  35          Pie Box - Cello Window 2.5  $95.68      Linkbuzz
35          35  36              Bread - English Muffin  $13.83         Quatz
36          36  37    Chocolate - Sugar Free Semi Choc  $61.99     Realpoint
37          37  38                   Pate - Peppercorn  $21.98         Mynte
38          38  39             Triple Sec - Mcguinness  $37.45         Oodoo
39          39  40                  Pepper - Cubanelle  $79.31       Cogibox
40          40  41                      Squash - Acorn  $65.35         Meemm
41          41  42                  Sauce - Demi Glace  $87.51      Wordware
42          42  43                   Pail For Lid 1537  $40.69      Edgeclub
43          43  44                        Foam Tray S2  $30.67  Jabbersphere
44          44  45                        Shark - Loin  $45.77  Thoughtstorm
45          45  46            Aromat Spice / Seasoning  $61.34           NaN
46          46  47                       Tobasco Sauce  $48.32    Browsezoom
47          47  48           Apple - Delicious, Golden  $36.67         Skiba
48          48  49                         Lamb - Rack  $62.60         Gevee
49          49  50              Silicone Paper 16.5x24  $63.98    Babbleopia
50          50  51               Ecolab - Power Fusion  $75.32      Fliptune
51          51  52          Soup - Knorr, Country Bean  $98.74        Eimbee
52          52  53            Chicken - Thigh, Bone In  $74.06   Topiclounge
53          53  54      Plate - Foam, Bread And Butter  $37.79     Flipstorm
54          54  55                     Beef - Bresaola   $8.55      Digitube
55          55  56                       Peach - Fresh  $20.53         Zazio
56          56  57                 Muffin Hinge - 211n  $68.63      Fanoodle
57          57  58                  Bar Bran Honey Nut  $73.05        Yakijo
58          58  59       Nut - Almond, Blanched, Whole  $74.28         Eazzy
59          59  60            Table Cloth 90x90 Colour  $41.22         Quinu

In [28]:
purchases

,Unnamed: 0,id,purch_date,customer_num,product_num,amount,paid
0,0,1,2019-01-03 00:00:00,823,27,12,$568.92
1,1,2,2019-01-03 00:00:00,606,28,14,$395.36
2,2,3,2019-01-03 00:00:00,955,9,17,$510.17
3,3,4,2019-01-03 00:00:00,577,19,3,$68.49
4,4,5,2019-01-03 00:00:00,429,8,18,$759.42
...,...,...,...,...,...,...,...
5995,5995,5996,06/20/2019,893,33,5,$411.10
5996,5996,5997,06/20/2019,566,23,11,$178.97
5997,5997,5998,06/20/2019,114,19,9,$205.47
5998,5998,5999,06/20/2019,404,11,20,$429.40
5999,5999,6000,06/20/2019,88,57,4,$274.52

# Importing the DataSet.....
try:
    customers = pd.read_csv('customers.csv')
    products = pd.read_csv('products.csv')
    purchases = pd.read_csv('purchases.csv')
except FileNotFoundError:
    print("File Not Found!")

In [29]:
# Finding the Statistical Analysis of Customer Table
customers.describe()

                id    street_num      postcode
count  1000.000000    738.000000    843.000000
mean    500.500000  10536.439024  52669.548043
std     288.819436  23050.537603  28140.041026
min       1.000000      0.000000    214.000000
25%     250.750000     21.000000  29279.500000
50%     500.500000    445.500000  48232.000000
75%     750.250000   6918.500000  78337.500000
max    1000.000000  99918.000000  99812.000000

In [30]:
products.describe()

       Unnamed: 0         id
count   60.000000  60.000000
mean    29.500000  30.500000
std     17.464249  17.464249
min      0.000000   1.000000
25%     14.750000  15.750000
50%     29.500000  30.500000
75%     44.250000  45.250000
max     59.000000  60.000000

In [31]:
purchases.describe()

        Unnamed: 0           id  customer_num  product_num       amount
count  6000.000000  6000.000000   6000.000000  6000.000000  6000.000000
mean   2999.500000  3000.500000    500.889333    30.140667    10.576167
std    1732.195139  1732.195139    288.377188    17.249613     5.768889
min       0.000000     1.000000      1.000000     1.000000     1.000000
25%    1499.750000  1500.750000    244.000000    15.000000     6.000000
50%    2999.500000  3000.500000    511.000000    30.000000    11.000000
75%    4499.250000  4500.250000    751.000000    45.000000    16.000000
max    5999.000000  6000.000000   1000.000000    60.000000    20.000000

In [32]:
customers['gender'].describe() # Series ['Categorical Col']

count      957
unique       2
top       Male
freq       485
Name: gender, dtype: object

In [33]:
customers['gender'].value_counts()

gender
Male      485
Female    472
Name: count, dtype: int64

In [34]:
customers.describe(include = [object]) # Generate descriptive statistics.
# Descriptive statistics include those that summarize the central tendency, dispersion and shape of a
# dataset's distribution, excluding ``NaN`` values.

,first_name,last_name,email,gender,street_name,street_suffix,city,state
count,1000,1000,878,957,963,963,921,920
unique,932,993,878,2,427,21,296,48
top,Berty,Sedworth,rsouthcott0@clickbank.net,Male,Arizona,Place,Washington,Texas
freq,4,3,1,485,6,57,29,107

In [36]:
# Top 10 states as per the total number of customers [high to low]
customers['state'].value_counts().head(10)

state
Texas                   107
California              101
Florida                  75
New York                 43
Ohio                     41
Pennsylvania             35
District of Columbia     33
Georgia                  28
Virginia                 27
Illinois                 23
Name: count, dtype: int64

In [37]:
customers['last_name'].value_counts().head()

last_name
Sedworth     3
Swatridge    2
Robardey     2
Truitt       2
Sunnex       2
Name: count, dtype: int64

In [38]:
customers['first_name'].value_counts().head()

first_name
Berty      4
Leland     3
Abel       3
Gunther    2
Silvain    2
Name: count, dtype: int64

In [39]:
customers['street_suffix'].value_counts().head()

street_suffix
Place      57
Street     52
Hill       52
Parkway    51
Circle     51
Name: count, dtype: int64

In [40]:
customers['city'].value_counts().head()

city
Washington       29
El Paso          19
Dallas           15
Houston          14
New York City    13
Name: count, dtype: int64

In [41]:
customers.describe(include = 'all')

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode
count,1000.000000,1000,1000,878,957,738.000000,963,963,921,920,843.000000
unique,NaN,932,993,878,2,NaN,427,21,296,48,NaN
top,NaN,Berty,Sedworth,rsouthcott0@clickbank.net,Male,NaN,Arizona,Place,Washington,Texas,NaN
freq,NaN,4,3,1,485,NaN,6,57,29,107,NaN
mean,500.500000,NaN,NaN,NaN,NaN,10536.439024,NaN,NaN,NaN,NaN,52669.548043
std,288.819436,NaN,NaN,NaN,NaN,23050.537603,NaN,NaN,NaN,NaN,28140.041026
min,1.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,214.000000
25%,250.750000,NaN,NaN,NaN,NaN,21.000000,NaN,NaN,NaN,NaN,29279.500000
50%,500.500000,NaN,NaN,NaN,NaN,445.500000,NaN,NaN,NaN,NaN,48232.000000
75%,750.250000,NaN,NaN,NaN,NaN,6918.500000,NaN,NaN,NaN,NaN,78337.500000
max,1000.000000,NaN,NaN,NaN,NaN,99918.000000,NaN,NaN,NaN,NaN,99812.000000

In [42]:
# .info() feature -> DESC TABLENAME in SQL
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1000 non-null   int64
 1   first_name     1000 non-null   object
 2   last_name      1000 non-null   object
 3   email          878 non-null    object
 4   gender         957 non-null    object
 5   street_num     738 non-null    float64
 6   street_name    963 non-null    object
 7   street_suffix  963 non-null    object
 8   city           921 non-null    object
 9   state          920 non-null    object
 10  postcode       843 non-null    float64
dtypes: float64(2), int64(1), object(8)
memory usage: 86.1+ KB

In [43]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  60 non-null     int64
 1   id          60 non-null     int64
 2   product     60 non-null     object
 3   cost        60 non-null     object
 4   company     55 non-null     object
dtypes: int64(2), object(3)
memory usage: 2.5+ KB

In [44]:
purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6000 non-null   int64
 1   id            6000 non-null   int64
 2   purch_date    6000 non-null   object
 3   customer_num  6000 non-null   int64
 4   product_num   6000 non-null   int64
 5   amount        6000 non-null   int64
 6   paid          6000 non-null   object
dtypes: int64(5), object(2)
memory usage: 328.3+ KB

In [45]:
# .iloc[Positional Based Indexing] vs .loc[Labelled Based Indexing] [Inclusive]
# 2D Matrix [rows , cols]
# Find all the records of Customers with FirstName Columns
FirstName = customers.iloc[: , 1] 
FirstName # Series

0       Romain
1       Cosimo
2        Bambi
3       Roarke
4      Mikaela
        ...
995    Merrili
996    Winonah
997      Tobit
998     Issiah
999     Elmore
Name: first_name, Length: 1000, dtype: object

In [46]:
type(FirstName)

pandas.core.series.Series

In [47]:
# .loc [label Based] [rows , cols]
FirstName = customers.loc[: , 'first_name'] 
FirstName # Series

0       Romain
1       Cosimo
2        Bambi
3       Roarke
4      Mikaela
        ...
995    Merrili
996    Winonah
997      Tobit
998     Issiah
999     Elmore
Name: first_name, Length: 1000, dtype: object

In [48]:
Email = customers.loc[: , 'email']
Email

0           rsouthcott0@clickbank.net
1               cmolyneaux1@wiley.com
2              bwestrip2@symantec.com
3              rpankettman3@wiley.com
4                    malthorpe4@51.la
                    ...
995              malmanrn@cornell.edu
996                 whecklero@fc2.com
997                               NaN
998    istandbrookerq@yellowpages.com
999                               NaN
Name: email, Length: 1000, dtype: object

In [49]:
# Provide the first 10 rows of Customers table with some specific columns
# Feature Selections
customers_info = customers.loc[1:10 , ['first_name' , 'last_name' , 'email' , 'gender' , 'city']]
customers_info # DataFrame

    first_name   last_name                        email  gender          city
1       Cosimo   Molyneaux        cmolyneaux1@wiley.com    Male       El Paso
2        Bambi     Westrip       bwestrip2@symantec.com  Female   San Antonio
3       Roarke  Pankettman       rpankettman3@wiley.com    Male       Memphis
4      Mikaela    Althorpe             malthorpe4@51.la     NaN           NaN
5    Magdalena      Cullip             mcullip5@tiny.cc  Female     Baltimore
6     Marietta      Heball            mheball6@blog.com  Female  Carol Stream
7         Tine   McSperrin  tmcsperrin7@statcounter.com     NaN   Kansas City
8   Enrichetta  de Villier         edevillier8@ox.ac.uk  Female     Fairbanks
9         Sari     Poulden           spoulden9@xing.com  Female   New Orleans
10      Natale     Martina      nmartinaa@wordpress.com    Male     Bradenton

In [50]:
customers_info = customers.iloc[1:11 , 1:5] # [1st till 10th rows] [1st till 4th columns]
customers_info # DataFrame

    first_name   last_name                        email  gender
1       Cosimo   Molyneaux        cmolyneaux1@wiley.com    Male
2        Bambi     Westrip       bwestrip2@symantec.com  Female
3       Roarke  Pankettman       rpankettman3@wiley.com    Male
4      Mikaela    Althorpe             malthorpe4@51.la     NaN
5    Magdalena      Cullip             mcullip5@tiny.cc  Female
6     Marietta      Heball            mheball6@blog.com  Female
7         Tine   McSperrin  tmcsperrin7@statcounter.com     NaN
8   Enrichetta  de Villier         edevillier8@ox.ac.uk  Female
9         Sari     Poulden           spoulden9@xing.com  Female
10      Natale     Martina      nmartinaa@wordpress.com    Male

In [52]:
customers_info = customers.iloc[1:11 , [1,3,4,8,9]]
customers_info

    first_name                        email  gender          city      state
1       Cosimo        cmolyneaux1@wiley.com    Male       El Paso      Texas
2        Bambi       bwestrip2@symantec.com  Female   San Antonio      Texas
3       Roarke       rpankettman3@wiley.com    Male       Memphis  Tennessee
4      Mikaela             malthorpe4@51.la     NaN           NaN        NaN
5    Magdalena             mcullip5@tiny.cc  Female     Baltimore   Maryland
6     Marietta            mheball6@blog.com  Female  Carol Stream   Illinois
7         Tine  tmcsperrin7@statcounter.com     NaN   Kansas City   Missouri
8   Enrichetta         edevillier8@ox.ac.uk  Female     Fairbanks     Alaska
9         Sari           spoulden9@xing.com  Female   New Orleans  Louisiana
10      Natale      nmartinaa@wordpress.com    Male     Bradenton    Florida

In [53]:
# First 10 records with all columns
customers_info = customers.iloc[:10 , :]
customers_info

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode
0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0
1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN
2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0
3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0
4,5,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,83732.0
5,6,Magdalena,Cullip,mcullip5@tiny.cc,Female,9190.0,Packers,Drive,Baltimore,Maryland,21229.0
6,7,Marietta,Heball,mheball6@blog.com,Female,12.0,Mallory,Center,Carol Stream,Illinois,60351.0
7,8,Tine,McSperrin,tmcsperrin7@statcounter.com,NaN,530.0,Erie,Plaza,Kansas City,Missouri,64193.0
8,9,Enrichetta,de Villier,edevillier8@ox.ac.uk,Female,745.0,Annamark,Street,Fairbanks,Alaska,99709.0
9,10,Sari,Poulden,spoulden9@xing.com,Female,2.0,Pond,Hill,New Orleans,Louisiana,NaN

In [54]:
# Slicing 
customers_info = customers.iloc[1:11 , 1:15:2] # Starts from first_name and fetch every alternative columns
customers_info

,first_name,email,street_num,street_suffix,state
1,Cosimo,cmolyneaux1@wiley.com,NaN,NaN,Texas
2,Bambi,bwestrip2@symantec.com,4057.0,Circle,Texas
3,Roarke,rpankettman3@wiley.com,74.0,Point,Tennessee
4,Mikaela,malthorpe4@51.la,NaN,Drive,NaN
5,Magdalena,mcullip5@tiny.cc,9190.0,Drive,Maryland
6,Marietta,mheball6@blog.com,12.0,Center,Illinois
7,Tine,tmcsperrin7@statcounter.com,530.0,Plaza,Missouri
8,Enrichetta,edevillier8@ox.ac.uk,745.0,Street,Alaska
9,Sari,spoulden9@xing.com,2.0,Hill,Louisiana
10,Natale,nmartinaa@wordpress.com,221.0,Pass,Florida

In [56]:
# Accessing a single row
# using .loc [labelled based]
customers.loc[999]

id                  1000
first_name        Elmore
last_name         Malpas
email                NaN
gender              Male
street_num         205.0
street_name      Farwell
street_suffix       Park
city             Atlanta
state            Georgia
postcode         30386.0
Name: 999, dtype: object

In [57]:
type(customers.loc[999])

pandas.core.series.Series

In [58]:
customers.iloc[999]

id                  1000
first_name        Elmore
last_name         Malpas
email                NaN
gender              Male
street_num         205.0
street_name      Farwell
street_suffix       Park
city             Atlanta
state            Georgia
postcode         30386.0
Name: 999, dtype: object

In [59]:
# Accessing a single row -> DataFrame
# using .loc [label based indexing]
# Select * From Customers Where id = 1000
customers.loc[customers['id'] == 1000]

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode
999,1000,Elmore,Malpas,NaN,Male,205.0,Farwell,Park,Atlanta,Georgia,30386.0

In [60]:
type(customers.loc[customers['id'] == 1000])

pandas.core.frame.DataFrame

In [61]:
# Boolean Returns [True / False]
customers.loc[customers['id'] == 1001]

Empty DataFrame
Columns: [id, first_name, last_name, email, gender, street_num, street_name, street_suffix, city, state, postcode]
Index: []

In [62]:
customers['last_name'].value_counts().head()

last_name
Sedworth     3
Swatridge    2
Robardey     2
Truitt       2
Sunnex       2
Name: count, dtype: int64

In [64]:
# -> Filtering Rows
customers_info = customers[customers['last_name'] == 'Sedworth']
customers_info

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode
554,555,Kimble,Sedworth,ksedworthfe@parallels.com,Male,1581.0,Morningstar,Trail,Denver,Colorado,NaN
631,632,Leif,Sedworth,lsedworthhj@myspace.com,Male,27823.0,Laurel,Lane,Shreveport,Louisiana,NaN
923,924,Xymenes,Sedworth,xsedworthpn@so-net.ne.jp,Male,4148.0,Lotheville,Hill,Charlotte,North Carolina,28263.0

In [66]:
customers['state'].value_counts().head()

state
Texas         107
California    101
Florida        75
New York       43
Ohio           41
Name: count, dtype: int64

In [98]:
customers['state'] == 'Texas' # Series

0      False
1       True
2       True
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: state, Length: 1000, dtype: bool

In [67]:
# Filtering Rows 
customers[customers['state'] == 'Texas']

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode
1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN
2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0
17,18,Reinhold,Woolforde,rwoolfordeh@cbc.ca,Male,NaN,Northwestern,Way,Amarillo,Texas,79118.0
19,20,Rubina,Hustings,rhustingsj@wikimedia.org,Female,249.0,Esker,Hill,San Antonio,Texas,78210.0
20,21,Karim,Woosnam,kwoosnamk@ifeng.com,Male,NaN,Grayhawk,Place,Houston,Texas,NaN
...,...,...,...,...,...,...,...,...,...,...,...
956,957,Ruddie,Eckhard,reckhardqk@free.fr,Male,853.0,Little Fleur,Trail,Abilene,Texas,NaN
969,970,Georgetta,Bartoszek,gbartoszekqx@is.gd,Female,4023.0,Donald,Street,NaN,Texas,79911.0
973,974,Ingmar,Muzzlewhite,NaN,Male,0.0,Carpenter,Parkway,Houston,Texas,77260.0
976,977,Corena,Pelz,NaN,Female,62987.0,Grayhawk,Plaza,Dallas,Texas,NaN
981,982,Judith,Otham,NaN,Female,96973.0,Saint Paul,Avenue,Arlington,Texas,76096.0

In [68]:
customers['city'].value_counts().head()

city
Washington       29
El Paso          19
Dallas           15
Houston          14
New York City    13
Name: count, dtype: int64

In [69]:
customers[customers['city'] == 'Washington']

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode
13,14,Deny,Thraves,dthravesd@ibm.com,Female,71865.0,Valley Edge,Place,Washington,District of Columbia,20456.0
24,25,Tomlin,Massinger,NaN,Male,9.0,Victoria,Trail,Washington,District of Columbia,20409.0
35,36,Ernest,Armal,earmalz@dailymail.co.uk,Male,4.0,Susan,Center,Washington,District of Columbia,20231.0
36,37,Elspeth,Mendus,emendus10@ocn.ne.jp,Female,127.0,Mockingbird,Hill,Washington,District of Columbia,NaN
48,49,Flinn,Hoston,NaN,Male,84.0,Waxwing,Terrace,Washington,District of Columbia,20530.0
82,83,Nanci,Paulon,npaulon2a@tumblr.com,Female,NaN,Hudson,Parkway,Washington,District of Columbia,20041.0
109,110,Archy,Jerred,ajerred31@ehow.com,Male,9149.0,Shoshone,Road,Washington,District of Columbia,20319.0
342,343,Klaus,Linebarger,klinebarger9i@sohu.com,Male,6580.0,Fairfield,Alley,Washington,District of Columbia,NaN
416,417,Laureen,Strephan,NaN,Female,6544.0,Canary,Alley,Washington,District of Columbia,20575.0
460,461,Abran,Humbie,ahumbiecs@rediff.com,Male,3438.0,Scoville,Junction,Washington,District of Columbia,20436.0
478,479,Anders,Meanwell,ameanwellda@blog.com,Male,8790.0,Farwell,Center,Washington,District of Columbia,20591.0
487,488,Patty,Paul,ppauldj@arstechnica.com,Female,NaN,Anzinger,Lane,Washington,District of Columbia,20205.0
521,522,Michaelina,Saw,msaweh@fda.gov,Female,NaN,Caliangt,Point,Washington,District of Columbia,20456.0
522,523,Connor,Coils,ccoilsei@ycombinator.com,Male,0.0,Warner,Place,Washington,District of Columbia,20575.0
538,539,Venus,Crowley,vcrowleyey@ucsd.edu,Female,605.0,Orin,Avenue,Washington,District of Columbia,20244.0
571,572,Morly,Perfitt,NaN,Male,671.0,Bultman,Crossing,Washington,District of Columbia,20029.0
614,615,Saunder,Geely,sgeelyh2@yandex.ru,Male,28.0,Armistice,Drive,Washington,District of Columbia,20078.0
640,641,Leonidas,Zouch,lzouchhs@rambler.ru,Male,21.0,Northport,Center,Washington,District of Columbia,20575.0
654,655,Keir,Gilvear,kgilveari6@cornell.edu,Male,1518.0,Elka,Street,Washington,District of Columbia,20062.0
679,680,Cathi,Huckfield,chuckfieldiv@mapy.cz,Female,77.0,Messerschmidt,Court,Washington,District of Columbia,20099.0
708,709,Elonore,Yewdale,eyewdalejo@cam.ac.uk,Female,NaN,NaN,NaN,Washington,District of Columbia,20226.0
718,719,Cyrille,Humberston,chumberstonjy@yellowbook.com,Male,41448.0,Mitchell,Parkway,Washington,NaN,20046.0
734,735,Chiarra,Werndley,NaN,Female,12066.0,Petterle,Parkway,Washington,District of Columbia,20319.0
745,746,Madelon,Dryden,NaN,Female,1.0,Pleasure,Parkway,Washington,District of Columbia,20078.0
748,749,Feliks,Callingham,fcallinghamks@omniture.com,Male,3568.0,Gateway,Circle,Washington,District of Columbia,20535.0
846,847,Noll,Gresly,ngreslyni@sina.com.cn,Male,5197.0,Sycamore,Terrace,Washington,NaN,NaN
906,907,Mame,Streatfield,NaN,Female,99918.0,Mayfield,Crossing,Washington,District of Columbia,20010.0
916,917,Langsdon,Margett,lmargettpg@mozilla.org,Male,9.0,Arrowood,Street,Washington,District of Columbia,20299.0
989,990,Mari,Carberry,mcarberryrh@eventbrite.com,Female,NaN,1st,Drive,Washington,District of Columbia,20546.0

In [70]:
customers[customers['city'] == 'Washington'].shape

(29, 11)

In [71]:
customers[customers['city'] == 'Washington'].ndim

2

In [72]:
# Find out the customers who are Male and lives in California [AND Logic]
customers_info = customers[(customers['gender'] == 'Male') & (customers['state'] == 'California')]
customers_info

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode
0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0
30,31,Steve,Pantridge,NaN,Male,6124.0,Kropf,Street,Los Angeles,California,90065.0
76,77,Brad,Athowe,bathowe24@dagondesign.com,Male,9500.0,Coleman,Terrace,Pasadena,California,91131.0
105,106,Gerardo,Pladen,gpladen2x@cornell.edu,Male,13793.0,Oakridge,Place,Inglewood,California,90398.0
133,134,Jule,Gladyer,jgladyer3p@cafepress.com,Male,48173.0,Arizona,Street,San Francisco,California,94132.0
134,135,Ferris,Aleshintsev,faleshintsev3q@google.it,Male,463.0,Sunbrook,Point,Sacramento,California,95813.0
156,157,Chevalier,Swaddle,cswaddle4c@redcross.org,Male,7.0,Ridgeview,Place,Los Angeles,California,90040.0
164,165,Kellby,Kenneway,NaN,Male,12.0,Anniversary,Junction,Pasadena,California,91109.0
176,177,Cad,Aspinell,caspinell4w@cmu.edu,Male,NaN,Drewry,Drive,San Diego,California,92105.0
186,187,Filippo,Geraldez,fgeraldez56@canalblog.com,Male,4.0,Harbort,Crossing,Los Angeles,California,90087.0
208,209,Chancey,Freddi,cfreddi5s@economist.com,Male,NaN,Mallory,Lane,Irvine,California,NaN
209,210,Anson,Sim,asim5t@mtv.com,Male,3.0,Swallow,Street,Chula Vista,California,91913.0
211,212,Cornelius,Waye,cwaye5v@fda.gov,Male,55838.0,Ronald Regan,Place,NaN,California,91186.0
236,237,Lem,Pogue,lpogue6k@wikia.com,Male,NaN,Vidon,Place,North Hollywood,California,91606.0
248,249,Yvon,Robardey,yrobardey6w@bbb.org,Male,52.0,Anniversary,Plaza,Los Angeles,California,NaN
264,265,Gunther,Tremayle,gtremayle7c@xrea.com,Male,29064.0,Menomonie,Place,San Diego,California,92170.0
272,273,Benson,Reynoollds,breynoollds7k@clickbank.net,Male,290.0,Farwell,Circle,NaN,California,90505.0
307,308,Staffard,Karlolak,skarlolak8j@cloudflare.com,Male,NaN,Ilene,Lane,San Diego,California,92160.0
317,318,Elmo,Mahody,emahody8t@desdev.cn,Male,18.0,Becker,Park,NaN,California,NaN
336,337,West,Edgell,wedgell9c@123-reg.co.uk,Male,618.0,Moose,Parkway,Richmond,California,94807.0
345,346,Zelig,Hawick,zhawick9l@nationalgeographic.com,Male,94.0,Hazelcrest,Parkway,Fresno,California,93750.0
369,370,Galvin,Saladine,gsaladinea9@usgs.gov,Male,NaN,Stoughton,Lane,Santa Barbara,California,NaN
392,393,Nial,Thunderchief,NaN,Male,2899.0,Spenser,Alley,Long Beach,California,NaN
399,400,Burty,Kyffin,bkyffinb3,Male,21047.0,Dayton,Trail,San Diego,California,92170.0
400,401,Neddie,Wipper,nwipperb4@etsy.com,Male,NaN,Dottie,Avenue,Los Angeles,California,NaN
431,432,Damiano,Stealey,dstealeybz@wisc.edu,Male,360.0,Melvin,Circle,Santa Ana,California,92725.0
447,448,Darill,Drews,ddrewscf@hc360.com,Male,33.0,Pankratz,Junction,Fresno,California,93715.0
465,466,Fred,Olyet,folyetcx@go.com,Male,74322.0,Barnett,Place,San Diego,California,92137.0
470,471,Vachel,Dana,vdanad2@unicef.org,Male,NaN,Main,Parkway,Sacramento,California,94245.0
474,475,Dom,McGuiney,dmcguineyd6@businessinsider.com,Male,19677.0,NaN,NaN,Concord,California,94522.0
498,499,Grantley,Durak,gdurakdu@webmd.com,Male,NaN,Marcy,Parkway,NaN,California,95298.0
506,507,Morgan,Lowthian,mlowthiane2@npr.org,Male,85081.0,Hooker,Place,Oakland,California,NaN
508,509,Sven,MacNamee,NaN,Male,83188.0,Sutteridge,Point,Santa Monica,California,90405.0
523,524,Randolph,Shinner,rshinnerej@ning.com,Male,90.0,NaN,NaN,Sacramento,California,95838.0
591,592,Curran,Bartoszewicz,cbartoszewiczgf@virginia.edu,Male,3159.0,Stephen,Court,Oceanside,California,92056.0
593,594,Noam,Bedminster,NaN,Male,NaN,Heath,Drive,San Francisco,California,94132.0
596,597,Gerrard,Eakly,geaklygk@ocn.ne.jp,Male,NaN,Golf,Court,Brea,California,92822.0
598,599,Valentijn,Hans,vhansgm@nih.gov,Male,1.0,Sage,Hill,San Jose,California,NaN
602,603,Benjy,Guisot,bguisotgq@techcrunch.com,Male,NaN,NaN,NaN,San Diego,California,92137.0
612,613,Clerc,Yurkiewicz,cyurkiewiczh0@accuweather.com,Male,978.0,Pine View,Court,NaN,California,94286.0
613,614,Ephrem,Sappell,esappellh1@nifty.com,Male,395.0,Fair Oaks,Plaza,Huntington Beach,California,92648.0
632,633,Gerry,Kornousek,gkornousekhk@wikia.com,Male,43.0,Delaware,Drive,Lancaster,California,93584.0
669,670,Hercule,Marquese,hmarqueseil@oaic.gov.au,Male,NaN,Kings,Crossing,Chico,California,95973.0
682,683,Manny,Collocott,mcollocottiy@aboutads.info,Male,53554.0,Melby,Point,San Jose,California,95133.0
695,696,Ansel,Ettels,aettelsjb@mozilla.org,Male,133.0,Farmco,Circle,Sacramento,California,94245.0
726,727,Salomo,Riep,sriepk6@tiny.cc,Male,5129.0,Jenna,Terrace,Stockton,California,95219.0
763,764,Fernando,Filipychev,ffilipychevl7@yellowbook.com,Male,53.0,Oxford,Drive,Sacramento,California,94207.0
766,767,Garrott,Traviss,NaN,Male,181.0,North,Crossing,Sacramento,California,94280.0
795,796,Kerby,Lightning,klightningm3@fema.gov,Male,278.0,Swallow,Court,Sacramento,California,NaN
814,815,Tait,O'Dulchonta,todulchontamm@nydailynews.com,Male,1019.0,Manufacturers,Road,San Mateo,California,NaN
842,843,Cory,Kleinlerer,ckleinlererne@unblog.fr,Male,550.0,Buell,Pass,Bakersfield,California,93386.0
851,852,Jesse,Sandey,jsandeynn@istockphoto.com,Male,13791.0,Darwin,Road,San Francisco,California,94142.0
910,911,Ellwood,Tarbin,etarbinpa@hugedomains.com,Male,4.0,Service,Circle,NaN,California,94142.0
912,913,Keary,Alessandrucci,kalessandruccipc@mapquest.com,Male,NaN,Springs,Trail,Los Angeles,California,90010.0
915,916,Sherm,Attenbarrow,sattenbarrowpf@rambler.ru,Male,NaN,Westport,Drive,Pasadena,California,91125.0
917,918,Padriac,Fellis,pfellisph@sun.com,Male,82298.0,Melrose,Center,San Diego,California,92105.0
937,938,Bruno,Shurmore,bshurmoreq1@reddit.com,Male,NaN,Mosinee,Circle,Long Beach,California,90847.0

In [73]:
customers_info.shape

(57, 11)

In [100]:
# SELECT * FROM Customers WHERE Gender = 'female' and state = 'Florida'
gender_filter = (customers['gender'] == 'Female')
state_filter = (customers['state'] == 'Florida')
customers_info = customers[gender_filter & state_filter]
customers_info

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode
81,82,Jacquelyn,Naisey,jnaisey29@naver.com,Female,3115.0,Pearson,Park,Miami,Florida,33233.0
101,102,Dorie,Dutt,ddutt2t@hatena.ne.jp,Female,NaN,Dwight,Center,Sarasota,Florida,34276.0
114,115,Karen,Sings,NaN,Female,NaN,Stoughton,Circle,Lakeland,Florida,33805.0
159,160,Gray,Gagan,NaN,Female,1122.0,Hooker,Road,Pompano Beach,Florida,33075.0
218,219,Candie,Fawdrey,cfawdrey62@umn.edu,Female,3295.0,Gale,Place,Lakeland,Florida,33811.0
254,255,Nedi,Pettisall,npettisall72@simplemachines.org,Female,72.0,Cambridge,Pass,Miami,Florida,33158.0
310,311,Berty,Vaillant,bvaillant8m@blog.com,Female,0.0,Drewry,Terrace,Saint Petersburg,Florida,33705.0
326,327,Renata,Inde,NaN,Female,6044.0,Spaight,Point,Pinellas Park,Florida,34665.0
335,336,Rici,Clemas,rclemas9b@networksolutions.com,Female,8826.0,Jenna,Alley,Orlando,Florida,32819.0
353,354,Silvie,Bentsen,sbentsen9t@sphinn.com,Female,NaN,Gina,Crossing,Fort Lauderdale,Florida,33330.0
367,368,Chelsy,Honatsch,chonatscha7@ebay.co.uk,Female,0.0,Killdeer,Parkway,Fort Myers,Florida,NaN
384,385,Deina,Swatridge,NaN,Female,4.0,Quincy,Parkway,Lake Worth,Florida,33462.0
403,404,Cynthia,Habershaw,chabershawb7@live.com,Female,7122.0,Daystar,Plaza,Tallahassee,Florida,32399.0
421,422,Adoree,Rosone,NaN,Female,30.0,Sunfield,Pass,Miami,Florida,33245.0
463,464,Caroljean,Pherps,cpherpscv@mediafire.com,Female,NaN,Anderson,Junction,Delray Beach,Florida,33448.0
469,470,Celinka,Horsley,chorsleyd1@dropbox.com,Female,NaN,Schurz,Parkway,Brooksville,Florida,NaN
481,482,Eugenia,Maylard,emaylarddd@prnewswire.com,Female,93333.0,NaN,NaN,Boca Raton,Florida,33499.0
546,547,Marthena,Puttergill,mputtergillf6@pagesperso-orange.fr,Female,64.0,Randy,Parkway,Boca Raton,Florida,33499.0
560,561,Millie,Carlon,mcarlonfk@cnbc.com,Female,780.0,Judy,Trail,Tallahassee,Florida,32314.0
567,568,Marti,Orknay,morknayfr@feedburner.com,Female,5.0,Graceland,Lane,Fort Lauderdale,Florida,NaN
609,610,Ingeborg,Sheran,NaN,Female,3947.0,Kennedy,Court,West Palm Beach,Florida,33411.0
666,667,Hali,Bayless,hbaylessii@vk.com,Female,3088.0,Meadow Valley,Junction,Fort Lauderdale,Florida,33325.0
717,718,Jacinthe,Brosh,jbroshjx@ca.gov,Female,2.0,Corry,Terrace,Tampa,Florida,33605.0
722,723,Charity,Morpeth,cmorpethk2@prnewswire.com,Female,141.0,Arizona,Circle,Gainesville,Florida,32610.0
767,768,Halli,Dewer,hdewerlb@devhub.com,Female,NaN,West,Trail,Tallahassee,Florida,32304.0
775,776,Raven,Barendtsen,rbarendtsenlj@ifeng.com,Female,1872.0,Twin Pines,Plaza,Naples,Florida,34108.0
787,788,Carley,Denny,cdennylv@networksolutions.com,Female,NaN,Menomonie,Trail,Orlando,Florida,32819.0
864,865,Timothea,Bygrove,NaN,Female,926.0,Holy Cross,Point,Fort Lauderdale,Florida,33330.0
883,884,Kenna,Syphus,ksyphusoj@mail.ru,Female,NaN,Waubesa,Terrace,Miami,Florida,NaN
902,903,Dacy,Pryer,dpryerp2@scribd.com,Female,41.0,Rowland,Circle,Tampa,Florida,33673.0
932,933,Libby,Salkeld,lsalkeldpw@miibeian.gov.cn,Female,NaN,West,Crossing,Orlando,Florida,32868.0
952,953,Marcia,Petracek,mpetracekqg@imdb.com,Female,NaN,Rieder,Junction,NaN,Florida,33405.0
975,976,Micky,Sleigh,msleighr3@arstechnica.com,Female,6.0,Manitowish,Way,Miami,Florida,33111.0
985,986,Lidia,Glendza,lglendzard@techcrunch.com,Female,90.0,Golf Course,Circle,Clearwater,Florida,NaN
987,988,Angelica,Ludlamme,aludlammerf@unc.edu,Female,5849.0,Steensland,Park,Saint Petersburg,Florida,NaN

In [75]:
customers_info.shape

(35, 11)

In [77]:
products['company'].isna() # Series

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
21     True
22    False
23    False
24    False
25    False
26     True
27     True
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45     True
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
Name: company, dtype: bool

In [78]:
products['company'].isna().sum()

5

In [79]:
products[products['company'].isna()] # DataFrame

    Unnamed: 0  id                      product    cost company
15          15  16            Sausage - Chorizo  $55.45     NaN
21          21  22          Scotch - Queen Anne  $60.26     NaN
26          26  27             Spaghetti Squash  $47.41     NaN
27          27  28  Wine - Niagara,vqa Reisling  $28.24     NaN
45          45  46     Aromat Spice / Seasoning  $61.34     NaN

In [81]:
# pick 5 company from product DataFrame and apply the filter
Skipfire_filter = products['company'] == 'Skipfire'
Ntag_filter = products['company'] == 'Ntag'
Livepath_filter = products['company'] == 'Livepath'
Zoombox_filter = products['company'] == 'Zoombox'
Quatz_filter = products['company'] == 'Quatz'

products[Skipfire_filter | Ntag_filter | Livepath_filter | Zoombox_filter | Quatz_filter]

    Unnamed: 0  id                             product    cost   company
0            0   1                Liners - Baking Cups   $6.36  Skipfire
2            2   3                  Bar Bran Honey Nut  $65.40      Ntag
5            5   6  Wine - White, Riesling, Semi - Dry  $99.22  Livepath
9            9  10                Sambuca - Ramazzotti  $88.99  Livepath
22          22  23                Puree - Blackcurrant  $16.27   Zoombox
30          30  31      Wine - Carmenere Casillero Del  $55.77      Ntag
35          35  36              Bread - English Muffin  $13.83     Quatz

Boolean Filters Summary :
df[df['column'] == 'value'] # Equals
df[(df['column'] == 'value') & df['column'] == 'value')] # And Logic
df[(df['column'] == 'value') | df['column'] == 'value')] # OR Logic
df[~(df['column'] == 'value')] # Not Logic

In [84]:
customers['gender'].unique()

array(['Male', 'Female', nan], dtype=object)

In [86]:
# Don't include counts of rows that contain NA values.
customers['gender'].value_counts()

gender
Male      485
Female    472
Name: count, dtype: int64

In [87]:
customers[customers['gender'] == 'Male'] # DataFrame # 485 records

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode
0,1,Romain,Southcott,rsouthcott0@clickbank.net,Male,1.0,Trailsway,Road,San Diego,California,92127.0
1,2,Cosimo,Molyneaux,cmolyneaux1@wiley.com,Male,NaN,NaN,NaN,El Paso,Texas,NaN
3,4,Roarke,Pankettman,rpankettman3@wiley.com,Male,74.0,Debs,Point,Memphis,Tennessee,38150.0
10,11,Natale,Martina,nmartinaa@wordpress.com,Male,221.0,Sauthoff,Pass,Bradenton,Florida,34205.0
12,13,Mikol,MacWhan,mmacwhanc@patch.com,Male,9.0,Eagle Crest,Center,Bronx,New York,10469.0
...,...,...,...,...,...,...,...,...,...,...,...
984,985,Tailor,Sealeaf,tsealeafrc@irs.gov,Male,NaN,Summer Ridge,Pass,Beaufort,South Carolina,29905.0
986,987,Eric,Mountford,emountfordre@blogspot.com,Male,NaN,6th,Court,Las Vegas,Nevada,89125.0
997,998,Tobit,Birt,NaN,Male,2.0,Basil,Road,Waterbury,Connecticut,6721.0
998,999,Issiah,Standbrooke,istandbrookerq@yellowpages.com,Male,NaN,Kenwood,Drive,Savannah,Georgia,31405.0
999,1000,Elmore,Malpas,NaN,Male,205.0,Farwell,Park,Atlanta,Georgia,30386.0

In [90]:
# Not Logic # ~(customers['gender'] == 'Male') # 'Female','NaN' # 515 records
customers[~(customers['gender'] == 'Male')]

,id,first_name,last_name,email,gender,street_num,street_name,street_suffix,city,state,postcode
2,3,Bambi,Westrip,bwestrip2@symantec.com,Female,4057.0,Arkansas,Circle,San Antonio,Texas,78220.0
4,5,Mikaela,Althorpe,malthorpe4@51.la,NaN,NaN,2nd,Drive,NaN,NaN,83732.0
5,6,Magdalena,Cullip,mcullip5@tiny.cc,Female,9190.0,Packers,Drive,Baltimore,Maryland,21229.0
6,7,Marietta,Heball,mheball6@blog.com,Female,12.0,Mallory,Center,Carol Stream,Illinois,60351.0
7,8,Tine,McSperrin,tmcsperrin7@statcounter.com,NaN,530.0,Erie,Plaza,Kansas City,Missouri,64193.0
...,...,...,...,...,...,...,...,...,...,...,...
992,993,Johnath,Clancy,jclancyrk@smugmug.com,Female,7.0,Washington,Crossing,Juneau,Alaska,99812.0
993,994,Binnie,Dearth,bdearthrl@ed.gov,NaN,8993.0,Elgar,Trail,Minneapolis,Minnesota,55441.0
994,995,Brana,Dixon,bdixonrm@myspace.com,Female,97.0,Truax,Avenue,Maple Plain,Minnesota,55572.0
995,996,Merrili,Alman,malmanrn@cornell.edu,Female,0.0,Thompson,Way,Reading,Pennsylvania,19610.0
996,997,Winonah,Heckle,whecklero@fc2.com,Female,701.0,Rowland,Hill,Indianapolis,Indiana,46278.0

In [91]:
customers[~(customers['gender'] == 'Male')].shape

(515, 11)

In [88]:
1000 - (485 + 472)

43

In [89]:
472 + 43

515

In [93]:
# Like Keyword in SQL # Wildcard [% , _]
# products['product'] LIKE '%Nut%',"%NuT%","%nuT%"
products[products['product'].str.contains('NUT' , case = False)] # case-sensitive

    Unnamed: 0  id                        product    cost company
2            2   3             Bar Bran Honey Nut  $65.40    Ntag
57          57  58             Bar Bran Honey Nut  $73.05  Yakijo
58          58  59  Nut - Almond, Blanched, Whole  $74.28   Eazzy

In [96]:
# Like Keyword in SQL # Wildcard [% , _]
# products['product'] LIKE 'Nut%' -> startswith
products[products['product'].str.startswith('Nut')]

    Unnamed: 0  id                        product    cost company
58          58  59  Nut - Almond, Blanched, Whole  $74.28   Eazzy

In [97]:
# Like Keyword in SQL # Wildcard [% , _]
# products['product'] LIKE '%Nut' -> endswith
products[products['product'].str.endswith('Nut')]

    Unnamed: 0  id             product    cost company
2            2   3  Bar Bran Honey Nut  $65.40    Ntag
57          57  58  Bar Bran Honey Nut  $73.05  Yakijo

In [102]:
customers['gender'].isna()

0      False
1      False
2      False
3      False
4       True
       ...
995    False
996    False
997    False
998    False
999    False
Name: gender, Length: 1000, dtype: bool

In [103]:
customers['gender'].isna().sum()

43