In [1]:
import pandas as pd
confirmed_cases = pd.read_csv('covid_19_confirmed.csv')
confirmed_cases.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,64575,65080,65486,65728,66275,66903,67743,68366,69130,70111
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132118,132153,132176,132209,132215,132229,132244,132264,132285,132297
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,126156,126434,126651,126860,127107,127361,127646,127926,128198,128456
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,13569,13569,13569,13569,13569,13664,13671,13682,13693,13693
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,31661,31909,32149,32441,32623,32933,33338,33607,33944,34180

In [2]:
confirmed_cases.shape

(276, 498)

In [3]:
276 * 494

136344

In [4]:
deaths = pd.read_csv('covid_19_deaths.csv')
deaths.head()

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,...,Column489,Column490,Column491,Column492,Column493,Column494,Column495,Column496,Column497,Column498
0,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
1,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2772,2782,2792,2802,2812,2836,2855,2869,2881,2899
2,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,2440,2441,2442,2444,2445,2447,2447,2447,2448,2449
3,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,3401,3405,3411,3418,3426,3433,3440,3448,3455,3460
4,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,127,127,127,127,127,127,127,127,127,127

In [17]:
# Promoting Headers
deaths = pd.read_csv('covid_19_deaths.csv' , header=1)
deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2772,2782,2792,2802,2812,2836,2855,2869,2881,2899
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2440,2441,2442,2444,2445,2447,2447,2447,2448,2449
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3401,3405,3411,3418,3426,3433,3440,3448,3455,3460
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,127,127,127,127,127,127,127,127,127,127
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,704,709,715,725,731,735,742,745,749,757

In [18]:
deaths.shape

(276, 498)

In [23]:
recovered_cases = pd.read_csv('covid_19_recovered.csv')
recovered_cases.head()

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,...,Column489,Column490,Column491,Column492,Column493,Column494,Column495,Column496,Column497,Column498
0,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
1,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55687,55790,55889,56035,56295,56518,56711,56962,57119,57281
2,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,127869,128425,128601,128732,128826,128907,128978,129042,129097,129215
3,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,87902,88066,88208,88346,88497,88672,88861,89040,89232,89419
4,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,13234,13234,13234,13234,13234,13263,13381,13405,13416,13416

In [24]:
recovered_cases.columns

Index(['Column1', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6',
       'Column7', 'Column8', 'Column9', 'Column10',
       ...
       'Column489', 'Column490', 'Column491', 'Column492', 'Column493',
       'Column494', 'Column495', 'Column496', 'Column497', 'Column498'],
      dtype='object', length=498)

In [25]:
recovered_cases.iloc[0]

Column1      Province/State
Column2      Country/Region
Column3                 Lat
Column4                Long
Column5             1/22/20
                  ...
Column494           5/25/21
Column495           5/26/21
Column496           5/27/21
Column497           5/28/21
Column498           5/29/21
Name: 0, Length: 498, dtype: object

In [26]:
recovered_cases.columns = recovered_cases.iloc[0]
recovered_cases = recovered_cases.drop(0).reset_index(drop = True)
recovered_cases

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55687,55790,55889,56035,56295,56518,56711,56962,57119,57281
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,127869,128425,128601,128732,128826,128907,128978,129042,129097,129215
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,87902,88066,88208,88346,88497,88672,88861,89040,89232,89419
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,13234,13234,13234,13234,13234,13263,13381,13405,13416,13416
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,26483,26513,26775,26778,27087,27204,27467,27529,27577,27646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,2687,2689,2721,2721,2794,2794,2853,2853,2896,2896
257,NaN,West Bank and Gaza,31.9522,35.2332,0,0,0,0,0,0,...,295643,296901,297201,297201,298502,299024,299559,299559,300125,300524
258,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,3159,3179,3201,3245,3260,3273,3306,3339,3375,3399
259,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,90955,91019,91102,91156,91200,91221,91239,91321,91443,91594
260,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,36427,36435,36445,36453,36471,36517,36531,36541,36563,36578

In [28]:
# Melt -> Unpivot to the DataFrame
# pandas.melt
# pandas.melt(frame, id_vars=None, value_vars=None, var_name=None, value_name='value')
all_cols = confirmed_cases.columns
all_cols

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/20/21', '5/21/21', '5/22/21', '5/23/21', '5/24/21', '5/25/21',
       '5/26/21', '5/27/21', '5/28/21', '5/29/21'],
      dtype='object', length=498)

In [31]:
id_vars = ['Province/State', 'Country/Region', 'Lat', 'Long']
date_cols = [c for c in all_cols if c not in id_vars] # List Comprehension
date_cols

['1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 '4/10/20',
 '4/11/20',
 '4/12/20',
 '4/13/20',
 '4/14/20',
 '4/15/20',
 '4/16/20',
 '4/17/20',
 '4/18/20',
 '4/19/20',
 '4/20/20',
 '4/21/20',
 '4/22/20',
 '4/23/20',
 '4/24/20',
 '4/25/20',
 '4/26/20',
 '4/27/20',
 '4/28/20',
 '4/29/20',
 '4/30/20',
 '5/1/20',
 '5/2/20',
 '5/3/20',
 '5/4/20',
 '5/5/20',
 '5/6/20',
 '5/7/20',
 '5/8/20',
 '5/9/20',
 '5/10/20',
 '5/11/20',
 '5/12/20',
 '5/13/20',
 '5/14/20',
 '5/15/20',
 '5/16/20',
 '5/17/20',
 '5/18/20',
 '5/19/20',
 '5/20/20',
 '5/21/20',
 '5/22/20',
 '5/23/20',
 '5/24/20',
 '5/25/20',
 '5/26/20',
 '5/27/20',
 '5/28/20',
 '5/29/20',
 '5/30/20',
 '5/31/20',
 '6/1/20',
 '6/2/20',
 '6/3/20',
 '6/4/20',
 '6/5/20',
 '6/6/20',
 '6/7/20',
 '6/8/20',
 '6/9/20',
 '6/10/20',
 '6/11/20',
 '6/12/20',
 '6/13/20',
 '6/14/20',
 '6/15/20',
 '6/16/20',
 '6/17/20',
 '6/18/20',
 '6/19/20',
 '6/20/20',
 '6/21/20',
 '6/22/20',
 '6/23/20',
 '6/24/20',
 '6/25/20',
 '6/26/20',
 '6/27/20',
 '6/28/20',
 '6/29/20',
 '6/30/20',
 '7/1/20',
 '7/2/20',
 '7/3/20',
 '7/4/20',
 '7/5/20',
 '7/6/20',
 '7/7/20',
 '7/8/20',
 '7/9/20',
 '7/10/20',
 '7/11/20',
 '7/12/20',
 '7/13/20',
 '7/14/20',
 '7/15/20',
 '7/16/20',
 '7/17/20',
 '7/18/20',
 '7/19/20',
 '7/20/20',
 '7/21/20',
 '7/22/20',
 '7/23/20',
 '7/24/20',
 '7/25/20',
 '7/26/20',
 '7/27/20',
 '7/28/20',
 '7/29/20',
 '7/30/20',
 '7/31/20',
 '8/1/20',
 '8/2/20',
 '8/3/20',
 '8/4/20',
 '8/5/20',
 '8/6/20',
 '8/7/20',
 '8/8/20',
 '8/9/20',
 '8/10/20',
 '8/11/20',
 '8/12/20',
 '8/13/20',
 '8/14/20',
 '8/15/20',
 '8/16/20',
 '8/17/20',
 '8/18/20',
 '8/19/20',
 '8/20/20',
 '8/21/20',
 '8/22/20',
 '8/23/20',
 '8/24/20',
 '8/25/20',
 '8/26/20',
 '8/27/20',
 '8/28/20',
 '8/29/20',
 '8/30/20',
 '8/31/20',
 '9/1/20',
 '9/2/20',
 '9/3/20',
 '9/4/20',
 '9/5/20',
 '9/6/20',
 '9/7/20',
 '9/8/20',
 '9/9/20',
 '9/10/20',
 '9/11/20',
 '9/12/20',
 '9/13/20',
 '9/14/20',
 '9/15/20',
 '9/16/20',
 '9/17/20',
 '9/18/20',
 '9/19/20',
 '9/20/20',
 '9/21/20',
 '9/22/20',
 '9/23/20',
 '9/24/20',
 '9/25/20',
 '9/26/20',
 '9/27/20',
 '9/28/20',
 '9/29/20',
 '9/30/20',
 '10/1/20',
 '10/2/20',
 '10/3/20',
 '10/4/20',
 '10/5/20',
 '10/6/20',
 '10/7/20',
 '10/8/20',
 '10/9/20',
 '10/10/20',
 '10/11/20',
 '10/12/20',
 '10/13/20',
 '10/14/20',
 '10/15/20',
 '10/16/20',
 '10/17/20',
 '10/18/20',
 '10/19/20',
 '10/20/20',
 '10/21/20',
 '10/22/20',
 '10/23/20',
 '10/24/20',
 '10/25/20',
 '10/26/20',
 '10/27/20',
 '10/28/20',
 '10/29/20',
 '10/30/20',
 '10/31/20',
 '11/1/20',
 '11/2/20',
 '11/3/20',
 '11/4/20',
 '11/5/20',
 '11/6/20',
 '11/7/20',
 '11/8/20',
 '11/9/20',
 '11/10/20',
 '11/11/20',
 '11/12/20',
 '11/13/20',
 '11/14/20',
 '11/15/20',
 '11/16/20',
 '11/17/20',
 '11/18/20',
 '11/19/20',
 '11/20/20',
 '11/21/20',
 '11/22/20',
 '11/23/20',
 '11/24/20',
 '11/25/20',
 '11/26/20',
 '11/27/20',
 '11/28/20',
 '11/29/20',
 '11/30/20',
 '12/1/20',
 '12/2/20',
 '12/3/20',
 '12/4/20',
 '12/5/20',
 '12/6/20',
 '12/7/20',
 '12/8/20',
 '12/9/20',
 '12/10/20',
 '12/11/20',
 '12/12/20',
 '12/13/20',
 '12/14/20',
 '12/15/20',
 '12/16/20',
 '12/17/20',
 '12/18/20',
 '12/19/20',
 '12/20/20',
 '12/21/20',
 '12/22/20',
 '12/23/20',
 '12/24/20',
 '12/25/20',
 '12/26/20',
 '12/27/20',
 '12/28/20',
 '12/29/20',
 '12/30/20',
 '12/31/20',
 '1/1/21',
 '1/2/21',
 '1/3/21',
 '1/4/21',
 '1/5/21',
 '1/6/21',
 '1/7/21',
 '1/8/21',
 '1/9/21',
 '1/10/21',
 '1/11/21',
 '1/12/21',
 '1/13/21',
 '1/14/21',
 '1/15/21',
 '1/16/21',
 '1/17/21',
 '1/18/21',
 '1/19/21',
 '1/20/21',
 '1/21/21',
 '1/22/21',
 '1/23/21',
 '1/24/21',
 '1/25/21',
 '1/26/21',
 '1/27/21',
 '1/28/21',
 '1/29/21',
 '1/30/21',
 '1/31/21',
 '2/1/21',
 '2/2/21',
 '2/3/21',
 '2/4/21',
 '2/5/21',
 '2/6/21',
 '2/7/21',
 '2/8/21',
 '2/9/21',
 '2/10/21',
 '2/11/21',
 '2/12/21',
 '2/13/21',
 '2/14/21',
 '2/15/21',
 '2/16/21',
 '2/17/21',
 '2/18/21',
 '2/19/21',
 '2/20/21',
 '2/21/21',
 '2/22/21',
 '2/23/21',
 '2/24/21',
 '2/25/21',
 '2/26/21',
 '2/27/21',
 '2/28/21',
 '3/1/21',
 '3/2/21',
 '3/3/21',
 '3/4/21',
 '3/5/21',
 '3/6/21',
 '3/7/21',
 '3/8/21',
 '3/9/21',
 '3/10/21',
 '3/11/21',
 '3/12/21',
 '3/13/21',
 '3/14/21',
 '3/15/21',
 '3/16/21',
 '3/17/21',
 '3/18/21',
 '3/19/21',
 '3/20/21',
 '3/21/21',
 '3/22/21',
 '3/23/21',
 '3/24/21',
 '3/25/21',
 '3/26/21',
 '3/27/21',
 '3/28/21',
 '3/29/21',
 '3/30/21',
 '3/31/21',
 '4/1/21',
 '4/2/21',
 '4/3/21',
 '4/4/21',
 '4/5/21',
 '4/6/21',
 '4/7/21',
 '4/8/21',
 '4/9/21',
 '4/10/21',
 '4/11/21',
 '4/12/21',
 '4/13/21',
 '4/14/21',
 '4/15/21',
 '4/16/21',
 '4/17/21',
 '4/18/21',
 '4/19/21',
 '4/20/21',
 '4/21/21',
 '4/22/21',
 '4/23/21',
 '4/24/21',
 '4/25/21',
 '4/26/21',
 '4/27/21',
 '4/28/21',
 '4/29/21',
 '4/30/21',
 '5/1/21',
 '5/2/21',
 '5/3/21',
 '5/4/21',
 '5/5/21',
 '5/6/21',
 '5/7/21',
 '5/8/21',
 '5/9/21',
 '5/10/21',
 '5/11/21',
 '5/12/21',
 '5/13/21',
 '5/14/21',
 '5/15/21',
 '5/16/21',
 '5/17/21',
 '5/18/21',
 '5/19/21',
 '5/20/21',
 '5/21/21',
 '5/22/21',
 '5/23/21',
 '5/24/21',
 '5/25/21',
 '5/26/21',
 '5/27/21',
 '5/28/21',
 '5/29/21']

In [32]:
date_cols = []
for c in all_cols:
    if c not in id_vars: 
        date_cols.append(c)
date_cols

['1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 '4/10/20',
 '4/11/20',
 '4/12/20',
 '4/13/20',
 '4/14/20',
 '4/15/20',
 '4/16/20',
 '4/17/20',
 '4/18/20',
 '4/19/20',
 '4/20/20',
 '4/21/20',
 '4/22/20',
 '4/23/20',
 '4/24/20',
 '4/25/20',
 '4/26/20',
 '4/27/20',
 '4/28/20',
 '4/29/20',
 '4/30/20',
 '5/1/20',
 '5/2/20',
 '5/3/20',
 '5/4/20',
 '5/5/20',
 '5/6/20',
 '5/7/20',
 '5/8/20',
 '5/9/20',
 '5/10/20',
 '5/11/20',
 '5/12/20',
 '5/13/20',
 '5/14/20',
 '5/15/20',
 '5/16/20',
 '5/17/20',
 '5/18/20',
 '5/19/20',
 '5/20/20',
 '5/21/20',
 '5/22/20',
 '5/23/20',
 '5/24/20',
 '5/25/20',
 '5/26/20',
 '5/27/20',
 '5/28/20',
 '5/29/20',
 '5/30/20',
 '5/31/20',
 '6/1/20',
 '6/2/20',
 '6/3/20',
 '6/4/20',
 '6/5/20',
 '6/6/20',
 '6/7/20',
 '6/8/20',
 '6/9/20',
 '6/10/20',
 '6/11/20',
 '6/12/20',
 '6/13/20',
 '6/14/20',
 '6/15/20',
 '6/16/20',
 '6/17/20',
 '6/18/20',
 '6/19/20',
 '6/20/20',
 '6/21/20',
 '6/22/20',
 '6/23/20',
 '6/24/20',
 '6/25/20',
 '6/26/20',
 '6/27/20',
 '6/28/20',
 '6/29/20',
 '6/30/20',
 '7/1/20',
 '7/2/20',
 '7/3/20',
 '7/4/20',
 '7/5/20',
 '7/6/20',
 '7/7/20',
 '7/8/20',
 '7/9/20',
 '7/10/20',
 '7/11/20',
 '7/12/20',
 '7/13/20',
 '7/14/20',
 '7/15/20',
 '7/16/20',
 '7/17/20',
 '7/18/20',
 '7/19/20',
 '7/20/20',
 '7/21/20',
 '7/22/20',
 '7/23/20',
 '7/24/20',
 '7/25/20',
 '7/26/20',
 '7/27/20',
 '7/28/20',
 '7/29/20',
 '7/30/20',
 '7/31/20',
 '8/1/20',
 '8/2/20',
 '8/3/20',
 '8/4/20',
 '8/5/20',
 '8/6/20',
 '8/7/20',
 '8/8/20',
 '8/9/20',
 '8/10/20',
 '8/11/20',
 '8/12/20',
 '8/13/20',
 '8/14/20',
 '8/15/20',
 '8/16/20',
 '8/17/20',
 '8/18/20',
 '8/19/20',
 '8/20/20',
 '8/21/20',
 '8/22/20',
 '8/23/20',
 '8/24/20',
 '8/25/20',
 '8/26/20',
 '8/27/20',
 '8/28/20',
 '8/29/20',
 '8/30/20',
 '8/31/20',
 '9/1/20',
 '9/2/20',
 '9/3/20',
 '9/4/20',
 '9/5/20',
 '9/6/20',
 '9/7/20',
 '9/8/20',
 '9/9/20',
 '9/10/20',
 '9/11/20',
 '9/12/20',
 '9/13/20',
 '9/14/20',
 '9/15/20',
 '9/16/20',
 '9/17/20',
 '9/18/20',
 '9/19/20',
 '9/20/20',
 '9/21/20',
 '9/22/20',
 '9/23/20',
 '9/24/20',
 '9/25/20',
 '9/26/20',
 '9/27/20',
 '9/28/20',
 '9/29/20',
 '9/30/20',
 '10/1/20',
 '10/2/20',
 '10/3/20',
 '10/4/20',
 '10/5/20',
 '10/6/20',
 '10/7/20',
 '10/8/20',
 '10/9/20',
 '10/10/20',
 '10/11/20',
 '10/12/20',
 '10/13/20',
 '10/14/20',
 '10/15/20',
 '10/16/20',
 '10/17/20',
 '10/18/20',
 '10/19/20',
 '10/20/20',
 '10/21/20',
 '10/22/20',
 '10/23/20',
 '10/24/20',
 '10/25/20',
 '10/26/20',
 '10/27/20',
 '10/28/20',
 '10/29/20',
 '10/30/20',
 '10/31/20',
 '11/1/20',
 '11/2/20',
 '11/3/20',
 '11/4/20',
 '11/5/20',
 '11/6/20',
 '11/7/20',
 '11/8/20',
 '11/9/20',
 '11/10/20',
 '11/11/20',
 '11/12/20',
 '11/13/20',
 '11/14/20',
 '11/15/20',
 '11/16/20',
 '11/17/20',
 '11/18/20',
 '11/19/20',
 '11/20/20',
 '11/21/20',
 '11/22/20',
 '11/23/20',
 '11/24/20',
 '11/25/20',
 '11/26/20',
 '11/27/20',
 '11/28/20',
 '11/29/20',
 '11/30/20',
 '12/1/20',
 '12/2/20',
 '12/3/20',
 '12/4/20',
 '12/5/20',
 '12/6/20',
 '12/7/20',
 '12/8/20',
 '12/9/20',
 '12/10/20',
 '12/11/20',
 '12/12/20',
 '12/13/20',
 '12/14/20',
 '12/15/20',
 '12/16/20',
 '12/17/20',
 '12/18/20',
 '12/19/20',
 '12/20/20',
 '12/21/20',
 '12/22/20',
 '12/23/20',
 '12/24/20',
 '12/25/20',
 '12/26/20',
 '12/27/20',
 '12/28/20',
 '12/29/20',
 '12/30/20',
 '12/31/20',
 '1/1/21',
 '1/2/21',
 '1/3/21',
 '1/4/21',
 '1/5/21',
 '1/6/21',
 '1/7/21',
 '1/8/21',
 '1/9/21',
 '1/10/21',
 '1/11/21',
 '1/12/21',
 '1/13/21',
 '1/14/21',
 '1/15/21',
 '1/16/21',
 '1/17/21',
 '1/18/21',
 '1/19/21',
 '1/20/21',
 '1/21/21',
 '1/22/21',
 '1/23/21',
 '1/24/21',
 '1/25/21',
 '1/26/21',
 '1/27/21',
 '1/28/21',
 '1/29/21',
 '1/30/21',
 '1/31/21',
 '2/1/21',
 '2/2/21',
 '2/3/21',
 '2/4/21',
 '2/5/21',
 '2/6/21',
 '2/7/21',
 '2/8/21',
 '2/9/21',
 '2/10/21',
 '2/11/21',
 '2/12/21',
 '2/13/21',
 '2/14/21',
 '2/15/21',
 '2/16/21',
 '2/17/21',
 '2/18/21',
 '2/19/21',
 '2/20/21',
 '2/21/21',
 '2/22/21',
 '2/23/21',
 '2/24/21',
 '2/25/21',
 '2/26/21',
 '2/27/21',
 '2/28/21',
 '3/1/21',
 '3/2/21',
 '3/3/21',
 '3/4/21',
 '3/5/21',
 '3/6/21',
 '3/7/21',
 '3/8/21',
 '3/9/21',
 '3/10/21',
 '3/11/21',
 '3/12/21',
 '3/13/21',
 '3/14/21',
 '3/15/21',
 '3/16/21',
 '3/17/21',
 '3/18/21',
 '3/19/21',
 '3/20/21',
 '3/21/21',
 '3/22/21',
 '3/23/21',
 '3/24/21',
 '3/25/21',
 '3/26/21',
 '3/27/21',
 '3/28/21',
 '3/29/21',
 '3/30/21',
 '3/31/21',
 '4/1/21',
 '4/2/21',
 '4/3/21',
 '4/4/21',
 '4/5/21',
 '4/6/21',
 '4/7/21',
 '4/8/21',
 '4/9/21',
 '4/10/21',
 '4/11/21',
 '4/12/21',
 '4/13/21',
 '4/14/21',
 '4/15/21',
 '4/16/21',
 '4/17/21',
 '4/18/21',
 '4/19/21',
 '4/20/21',
 '4/21/21',
 '4/22/21',
 '4/23/21',
 '4/24/21',
 '4/25/21',
 '4/26/21',
 '4/27/21',
 '4/28/21',
 '4/29/21',
 '4/30/21',
 '5/1/21',
 '5/2/21',
 '5/3/21',
 '5/4/21',
 '5/5/21',
 '5/6/21',
 '5/7/21',
 '5/8/21',
 '5/9/21',
 '5/10/21',
 '5/11/21',
 '5/12/21',
 '5/13/21',
 '5/14/21',
 '5/15/21',
 '5/16/21',
 '5/17/21',
 '5/18/21',
 '5/19/21',
 '5/20/21',
 '5/21/21',
 '5/22/21',
 '5/23/21',
 '5/24/21',
 '5/25/21',
 '5/26/21',
 '5/27/21',
 '5/28/21',
 '5/29/21']

In [38]:
id_vars = confirmed_cases.iloc[:,:4].columns
id_vars

Index(['Province/State', 'Country/Region', 'Lat', 'Long'], dtype='object')

In [36]:
date_cols = confirmed_cases.iloc[:,4:].columns
date_cols

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '5/20/21', '5/21/21', '5/22/21', '5/23/21', '5/24/21', '5/25/21',
       '5/26/21', '5/27/21', '5/28/21', '5/29/21'],
      dtype='object', length=494)

In [37]:
confirmed_long = confirmed_cases.melt(
    id_vars = id_vars, 
    value_vars = date_cols, 
    var_name = "Date", 
    value_name='Confirmed'
)
confirmed_long

,Province/State,Country/Region,Lat,Long,Date,Confirmed
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
136339,NaN,Vietnam,14.058324,108.277199,5/29/21,6908
136340,NaN,West Bank and Gaza,31.952200,35.233200,5/29/21,307838
136341,NaN,Yemen,15.552727,48.516388,5/29/21,6731
136342,NaN,Zambia,-13.133897,27.849332,5/29/21,94751
136343,NaN,Zimbabwe,-19.015438,29.154857,5/29/21,38933

In [39]:
deaths_long = deaths.melt(
    id_vars = id_vars, 
    value_vars = date_cols, 
    var_name = "Date", 
    value_name='Deaths'
)
deaths_long

,Province/State,Country/Region,Lat,Long,Date,Deaths
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0.0
1,NaN,Albania,41.153300,20.168300,1/22/20,0.0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0.0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0.0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0.0
...,...,...,...,...,...,...
136339,NaN,Vietnam,14.058324,108.277199,5/29/21,47.0
136340,NaN,West Bank and Gaza,31.952200,35.233200,5/29/21,3492.0
136341,NaN,Yemen,15.552727,48.516388,5/29/21,1319.0
136342,NaN,Zambia,-13.133897,27.849332,5/29/21,1276.0
136343,NaN,Zimbabwe,-19.015438,29.154857,5/29/21,1594.0

In [40]:
recovered_long = recovered_cases.melt(
    id_vars = id_vars, 
    value_vars = date_cols, 
    var_name = "Date", 
    value_name='Recovered'
)
recovered_long

,Province/State,Country/Region,Lat,Long,Date,Recovered
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0
1,NaN,Albania,41.1533,20.1683,1/22/20,0
2,NaN,Algeria,28.0339,1.6596,1/22/20,0
3,NaN,Andorra,42.5063,1.5218,1/22/20,0
4,NaN,Angola,-11.2027,17.8739,1/22/20,0
...,...,...,...,...,...,...
128929,NaN,Vietnam,14.058324,108.277199,5/29/21,2896
128930,NaN,West Bank and Gaza,31.9522,35.2332,5/29/21,300524
128931,NaN,Yemen,15.552727,48.516388,5/29/21,3399
128932,NaN,Zambia,-13.133897,27.849332,5/29/21,91594
128933,NaN,Zimbabwe,-19.015438,29.154857,5/29/21,36578

In [41]:
# Structural Insights for Each DataFrame.....
confirmed_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136344 entries, 0 to 136343
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  42484 non-null   object
 1   Country/Region  136344 non-null  object
 2   Lat             135356 non-null  float64
 3   Long            135356 non-null  float64
 4   Date            136344 non-null  object
 5   Confirmed       136344 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 6.2+ MB

In [44]:
# Identifying the missing values
confirmed_long['Province/State'].isna().sum()

93860

In [45]:
confirmed_long['Province/State'].value_counts(dropna = False)

Province/State
NaN                         93860
Unknown                       494
Guadeloupe                    494
French Polynesia              494
French Guiana                 494
                            ...
Chongqing                     494
Beijing                       494
Anhui                         494
Yukon                         494
Turks and Caicos Islands      494
Name: count, Length: 87, dtype: int64

In [46]:
# Confirmed_long -> [Data Cleaning and Handling Missing Values]
confirmed_long['Province/State'] = confirmed_long['Province/State'].fillna('All Provinces')
confirmed_long['Lat'] = pd.to_numeric(confirmed_long['Lat'].fillna(0))
confirmed_long['Long'] = pd.to_numeric(confirmed_long['Long'].fillna(0))
confirmed_long['Date'] = pd.to_datetime(confirmed_long['Date'] , format = "%m/%d/%y" , errors = 'coerce')
confirmed_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136344 entries, 0 to 136343
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  136344 non-null  object
 1   Country/Region  136344 non-null  object
 2   Lat             136344 non-null  float64
 3   Long            136344 non-null  float64
 4   Date            136344 non-null  datetime64[ns]
 5   Confirmed       136344 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 6.2+ MB

In [47]:
confirmed_long.head()

  Province/State Country/Region       Lat       Long       Date  Confirmed
0  All Provinces    Afghanistan  33.93911  67.709953 2020-01-22          0
1  All Provinces        Albania  41.15330  20.168300 2020-01-22          0
2  All Provinces        Algeria  28.03390   1.659600 2020-01-22          0
3  All Provinces        Andorra  42.50630   1.521800 2020-01-22          0
4  All Provinces         Angola -11.20270  17.873900 2020-01-22          0

In [48]:
deaths_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136344 entries, 0 to 136343
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  42484 non-null   object
 1   Country/Region  136344 non-null  object
 2   Lat             135356 non-null  float64
 3   Long            135356 non-null  float64
 4   Date            136344 non-null  object
 5   Deaths          136343 non-null  float64
dtypes: float64(3), object(3)
memory usage: 6.2+ MB

In [50]:
# Deaths_long-> [Data Cleaning and Handling Missing Values]
deaths_long['Province/State'] = deaths_long['Province/State'].fillna('All Provinces')
deaths_long['Lat'] = pd.to_numeric(deaths_long['Lat'].fillna(0))
deaths_long['Long'] = pd.to_numeric(deaths_long['Long'].fillna(0))
deaths_long['Date'] = pd.to_datetime(deaths_long['Date'] , format = "%m/%d/%y" , errors = 'coerce')
deaths_long['Deaths'] = pd.to_numeric(deaths_long['Deaths'].fillna(0).astype('int64'))
deaths_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136344 entries, 0 to 136343
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  136344 non-null  object
 1   Country/Region  136344 non-null  object
 2   Lat             136344 non-null  float64
 3   Long            136344 non-null  float64
 4   Date            136344 non-null  datetime64[ns]
 5   Deaths          136344 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 6.2+ MB

In [51]:
deaths_long.head()

  Province/State Country/Region       Lat       Long       Date  Deaths
0  All Provinces    Afghanistan  33.93911  67.709953 2020-01-22       0
1  All Provinces        Albania  41.15330  20.168300 2020-01-22       0
2  All Provinces        Algeria  28.03390   1.659600 2020-01-22       0
3  All Provinces        Andorra  42.50630   1.521800 2020-01-22       0
4  All Provinces         Angola -11.20270  17.873900 2020-01-22       0

In [52]:
recovered_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128934 entries, 0 to 128933
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  34580 non-null   object
 1   Country/Region  128934 non-null  object
 2   Lat             128440 non-null  object
 3   Long            128440 non-null  object
 4   Date            128934 non-null  object
 5   Recovered       128933 non-null  object
dtypes: object(6)
memory usage: 5.9+ MB

In [53]:
# Recovered_Long -> [Data Cleaning and Handling Missing Values]
recovered_long['Province/State'] = recovered_long['Province/State'].fillna('All Provinces')
recovered_long['Lat'] = pd.to_numeric(recovered_long['Lat'].fillna(0))
recovered_long['Long'] = pd.to_numeric(recovered_long['Long'].fillna(0))
recovered_long['Date'] = pd.to_datetime(recovered_long['Date'] , format = "%m/%d/%y" , errors = 'coerce')
recovered_long['Recovered'] = pd.to_numeric(recovered_long['Recovered'].fillna(0).astype('int64'))
recovered_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128934 entries, 0 to 128933
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  128934 non-null  object
 1   Country/Region  128934 non-null  object
 2   Lat             128934 non-null  float64
 3   Long            128934 non-null  float64
 4   Date            128934 non-null  datetime64[ns]
 5   Recovered       128934 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 5.9+ MB

In [54]:
recovered_long.head()

  Province/State Country/Region       Lat       Long       Date  Recovered
0  All Provinces    Afghanistan  33.93911  67.709953 2020-01-22          0
1  All Provinces        Albania  41.15330  20.168300 2020-01-22          0
2  All Provinces        Algeria  28.03390   1.659600 2020-01-22          0
3  All Provinces        Andorra  42.50630   1.521800 2020-01-22          0
4  All Provinces         Angola -11.20270  17.873900 2020-01-22          0

In [55]:
type(confirmed_long)

pandas.core.frame.DataFrame

In [56]:
print(type(confirmed_long))

<class 'pandas.core.frame.DataFrame'>

In [59]:
# GroupBY + Aggregations [Feature Selection]
# cd stands for [Country + Date]
confirmed_cd = (
    confirmed_long.groupby(['Country/Region' , 'Date'])['Confirmed'].sum().reset_index()
)
confirmed_cd

      Country/Region       Date  Confirmed
0        Afghanistan 2020-01-22          0
1        Afghanistan 2020-01-23          0
2        Afghanistan 2020-01-24          0
3        Afghanistan 2020-01-25          0
4        Afghanistan 2020-01-26          0
...              ...        ...        ...
95337       Zimbabwe 2021-05-25      38706
95338       Zimbabwe 2021-05-26      38819
95339       Zimbabwe 2021-05-27      38854
95340       Zimbabwe 2021-05-28      38918
95341       Zimbabwe 2021-05-29      38933

[95342 rows x 3 columns]

In [61]:
confirmed_cd[confirmed_cd['Country/Region'] == 'India'].tail(50)

      Country/Region       Date  Confirmed
39470          India 2021-04-10   13358805
39471          India 2021-04-11   13527717
39472          India 2021-04-12   13689453
39473          India 2021-04-13   13873825
39474          India 2021-04-14   14074564
39475          India 2021-04-15   14291917
39476          India 2021-04-16   14526609
39477          India 2021-04-17   14788003
39478          India 2021-04-18   15061805
39479          India 2021-04-19   15320972
39480          India 2021-04-20   15616130
39481          India 2021-04-21   15930774
39482          India 2021-04-22   16263695
39483          India 2021-04-23   16610481
39484          India 2021-04-24   16960172
39485          India 2021-04-25   17313163
39486          India 2021-04-26   17636186
39487          India 2021-04-27   17997113
39488          India 2021-04-28   18376421
39489          India 2021-04-29   18762976
39490          India 2021-04-30   19164969
39491          India 2021-05-01   19557457
39492          India 2021-05-02   19925517
39493          India 2021-05-03   20282833
39494          India 2021-05-04   20664979
39495          India 2021-05-05   21077410
39496          India 2021-05-06   21491598
39497          India 2021-05-07   21892676
39498          India 2021-05-08   22296081
39499          India 2021-05-09   22662575
39500          India 2021-05-10   22992517
39501          India 2021-05-11   23340938
39502          India 2021-05-12   23703665
39503          India 2021-05-13   24046809
39504          India 2021-05-14   24372907
39505          India 2021-05-15   24684077
39506          India 2021-05-16   24965463
39507          India 2021-05-17   25228996
39508          India 2021-05-18   25496330
39509          India 2021-05-19   25772440
39510          India 2021-05-20   26031991
39511          India 2021-05-21   26289290
39512          India 2021-05-22   26530132
39513          India 2021-05-23   26752447
39514          India 2021-05-24   26948874
39515          India 2021-05-25   27157795
39516          India 2021-05-26   27369093
39517          India 2021-05-27   27555457
39518          India 2021-05-28   27729247
39519          India 2021-05-29   27894800

In [62]:
# GroupBY + Aggregations [Feature Selection]
# cd stands for [Country + Date]
deaths_cd = (
    deaths_long.groupby(['Country/Region' , 'Date'])['Deaths'].sum().reset_index()
)
deaths_cd

      Country/Region       Date  Deaths
0        Afghanistan 2020-01-22       0
1        Afghanistan 2020-01-23       0
2        Afghanistan 2020-01-24       0
3        Afghanistan 2020-01-25       0
4        Afghanistan 2020-01-26       0
...              ...        ...     ...
95337       Zimbabwe 2021-05-25    1587
95338       Zimbabwe 2021-05-26    1589
95339       Zimbabwe 2021-05-27    1592
95340       Zimbabwe 2021-05-28    1592
95341       Zimbabwe 2021-05-29    1594

[95342 rows x 3 columns]

In [63]:
# GroupBY + Aggregations [Feature Selection]
# cd stands for [Country + Date]
recovered_cd = (
    recovered_long.groupby(['Country/Region' , 'Date'])['Recovered'].sum().reset_index()
)
recovered_cd

      Country/Region       Date  Recovered
0        Afghanistan 2020-01-22          0
1        Afghanistan 2020-01-23          0
2        Afghanistan 2020-01-24          0
3        Afghanistan 2020-01-25          0
4        Afghanistan 2020-01-26          0
...              ...        ...        ...
95337       Zimbabwe 2021-05-25      36517
95338       Zimbabwe 2021-05-26      36531
95339       Zimbabwe 2021-05-27      36541
95340       Zimbabwe 2021-05-28      36563
95341       Zimbabwe 2021-05-29      36578

[95342 rows x 3 columns]

In [65]:
# pandas.merge
# pandas.merge(left, right, how='inner', on=None)
merged = (confirmed_cd
          .merge(deaths_cd , on = ['Country/Region','Date'], how = 'inner')
          .merge(recovered_cd , on = ['Country/Region','Date'], how = 'inner')
          .sort_values(['Country/Region','Date'])
)
merged

      Country/Region       Date  Confirmed  Deaths  Recovered
0        Afghanistan 2020-01-22          0       0          0
1        Afghanistan 2020-01-23          0       0          0
2        Afghanistan 2020-01-24          0       0          0
3        Afghanistan 2020-01-25          0       0          0
4        Afghanistan 2020-01-26          0       0          0
...              ...        ...        ...     ...        ...
95337       Zimbabwe 2021-05-25      38706    1587      36517
95338       Zimbabwe 2021-05-26      38819    1589      36531
95339       Zimbabwe 2021-05-27      38854    1592      36541
95340       Zimbabwe 2021-05-28      38918    1592      36563
95341       Zimbabwe 2021-05-29      38933    1594      36578

[95342 rows x 5 columns]

In [66]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95342 entries, 0 to 95341
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Region  95342 non-null  object
 1   Date            95342 non-null  datetime64[ns]
 2   Confirmed       95342 non-null  int64
 3   Deaths          95342 non-null  int64
 4   Recovered       95342 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 3.6+ MB

In [67]:
# 2.2 Generate Plots of Confirmed Cases over time for Top Countries.....
import pandas as pd
import matplotlib.pyplot as plt

latest_dates = merged.groupby('Country/Region')['Date'].max()
latest_dates

Country/Region
Afghanistan          2021-05-29
Albania              2021-05-29
Algeria              2021-05-29
Andorra              2021-05-29
Angola               2021-05-29
                        ...
Vietnam              2021-05-29
West Bank and Gaza   2021-05-29
Yemen                2021-05-29
Zambia               2021-05-29
Zimbabwe             2021-05-29
Name: Date, Length: 193, dtype: datetime64[ns]

In [76]:
# New DataFrame
latest_totals = merged.copy() # Shallow Copy
latest_totals = latest_totals[latest_totals['Date'] == '2021-05-29']
latest_totals

           Country/Region       Date  Confirmed  Deaths  Recovered
493           Afghanistan 2021-05-29      70111    2899      57281
987               Albania 2021-05-29     132297    2449     129215
1481              Algeria 2021-05-29     128456    3460      89419
1975              Andorra 2021-05-29      13693     127      13416
2469               Angola 2021-05-29      34180     757      27646
...                   ...        ...        ...     ...        ...
93365             Vietnam 2021-05-29       6908      47       2896
93859  West Bank and Gaza 2021-05-29     307838    3492     300524
94353               Yemen 2021-05-29       6731    1319       3399
94847              Zambia 2021-05-29      94751    1276      91594
95341            Zimbabwe 2021-05-29      38933    1594      36578

[193 rows x 5 columns]

In [79]:
latest_totals = latest_totals.set_index('Country/Region')['Confirmed']
latest_totals

Country/Region
Afghanistan            70111
Albania               132297
Algeria               128456
Andorra                13693
Angola                 34180
                       ...
Vietnam                 6908
West Bank and Gaza    307838
Yemen                   6731
Zambia                 94751
Zimbabwe               38933
Name: Confirmed, Length: 193, dtype: int64

In [80]:
top_5_countries = latest_totals.nlargest(5)
top_5_countries

Country/Region
US        33251939
India     27894800
Brazil    16471600
France     5719877
Turkey     5235978
Name: Confirmed, dtype: int64

In [81]:
top_7_countries = latest_totals.nlargest(7)
top_7_countries

Country/Region
US                33251939
India             27894800
Brazil            16471600
France             5719877
Turkey             5235978
Russia             4995613
United Kingdom     4496823
Name: Confirmed, dtype: int64