# Install
conda install numpy
OR 
pip install numpy

In [3]:
!pip3 install numpy

Requirement already satisfied: numpy in c:\users\krish\.anaconda\new.anaconda\lib\site-packages (1.26.4)

In [4]:
import numpy as np
dir(np)

['ALLOW_THREADS',
 'BUFSIZE',
 'CLIP',
 'DataSource',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'WRAP',
 '_CopyMode',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__deprecated_attrs__',
 '__dir__',
 '__doc__',
 '__expired_functions__',
 '__file__',
 '__former_attrs__',
 '__future_scalars__',
 '__getattr__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_builtins',
 '_distributor_init',
 '_financial_names',
 '_get_promotion_state',
 '_globals',
 '_int_extended_msg',
 '_mat',
 '_no_nep50_warning',
 '_pyinstaller_hooks_dir',
 '_pytesttester',
 '_set_promotion_state',
 '_specific_msg',
 '_typing',
 '_using_numpy2_behavior',
 '_utils',
 'abs',
 'absolute',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_shapes',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex128',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'dtypes',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exceptions',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'expm1x',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'from_dlpack',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mask_indices',
 'mat',
 'matmul',
 'matrix',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'numarray',
 'number',
 'obj2sctype',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'show_runtime',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'vsplit',
 'vstack',
 'where',
 'who',
 'zeros',
 'zeros_like']

In [5]:
np.__version__

'1.26.4'

In [7]:
print(np.__doc__)

NumPy
=====

Provides
  1. An array object of arbitrary homogeneous items
  2. Fast mathematical operations over arrays
  3. Linear Algebra, Fourier Transforms, Random Number Generation

How to use the documentation
----------------------------
Documentation is available in two forms: docstrings provided
with the code, and a loose standing reference guide, available from
`the NumPy homepage <https://numpy.org>`_.

We recommend exploring the docstrings using
`IPython <https://ipython.org>`_, an advanced Python shell with
TAB-completion and introspection capabilities.  See below for further
instructions.

The docstring examples assume that `numpy` has been imported as ``np``::

  >>> import numpy as np

Code snippets are indicated by three greater-than signs::

  >>> x = 42
  >>> x = x + 1

Use the built-in ``help`` function to view a function's docstring::

  >>> help(np.sort)
  ... # doctest: +SKIP

For some objects, ``np.info(obj)`` may provide additional help.  This is
particularly true if you see the line "Help on ufunc object:" at the top
of the help() page.  Ufuncs are implemented in C, not Python, for speed.
The native Python help() does not know how to view their help, but our
np.info() function does.

To search for documents containing a keyword, do::

  >>> np.lookfor('keyword')
  ... # doctest: +SKIP

General-purpose documents like a glossary and help on the basic concepts
of numpy are available under the ``doc`` sub-module::

  >>> from numpy import doc
  >>> help(doc)
  ... # doctest: +SKIP

Available subpackages
---------------------
lib
    Basic functions used by several sub-packages.
random
    Core Random Tools
linalg
    Core Linear Algebra Tools
fft
    Core FFT routines
polynomial
    Polynomial tools
testing
    NumPy testing tools
distutils
    Enhancements to distutils with support for
    Fortran compilers support and more  (for Python <= 3.11).

Utilities
---------
test
    Run numpy unittests
show_config
    Show numpy build configuration
matlib
    Make everything matrices.
__version__
    NumPy version string

Viewing documentation using IPython
-----------------------------------

Start IPython and import `numpy` usually under the alias ``np``: `import
numpy as np`.  Then, directly past or use the ``%cpaste`` magic to paste
examples into the shell.  To see which functions are available in `numpy`,
type ``np.<TAB>`` (where ``<TAB>`` refers to the TAB key), or use
``np.*cos*?<ENTER>`` (where ``<ENTER>`` refers to the ENTER key) to narrow
down the list.  To view the docstring for a function, use
``np.cos?<ENTER>`` (to view the docstring) and ``np.cos??<ENTER>`` (to view
the source code).

Copies vs. in-place operation
-----------------------------
Most of the functions in `numpy` return a copy of the array argument
(e.g., `np.sort`).  In-place versions of these functions are often
available as array methods, i.e. ``x = np.array([1,2,3]); x.sort()``.
Exceptions to this rule are documented.

In [8]:
# num = np.array(<Iterable>)
num = np.array([11,22,33,44,55,66,77,88,99])
num

array([11, 22, 33, 44, 55, 66, 77, 88, 99])

In [9]:
print(num)

[11 22 33 44 55 66 77 88 99]

In [10]:
# Indexation in numpy : start with 0
num[0]

11

In [11]:
num[6]# 77

77

In [12]:
num[-1] # 99

99

In [13]:
arr_from_list = np.array([11,22,33,44,55,66,77,88,99])
arr_from_tuple = np.array((11,22,33,44,55,66,77,88,99))
print(arr_from_list)
print(arr_from_tuple)

[11 22 33 44 55 66 77 88 99]
[11 22 33 44 55 66 77 88 99]

# Commom Mistake 
arr_from_tuple = np.array(11,22,33,44,55,66,77,88,99)
print(arr_from_tuple)
# TypeError: array() takes from 1 to 2 positional arguments but 9 were given

In [15]:
np_arr = np.array(11) 
np_arr

array(11)

In [16]:
print(np_arr)

11

In [17]:
type(arr_from_list)

numpy.ndarray

In [18]:
# ndarray -> N Dimensional Array
print(type(arr_from_list)) # class <numpy.ndarray>

<class 'numpy.ndarray'>

In [19]:
# Properties [ndim]
# print("Hello World" , end = " ") -> end -> attribute
arr_from_list.ndim

1

In [20]:
# np_arr # 11
np_arr.ndim # 0

0

In [21]:
# 1D Array 
# Numpy -> An array object of arbitrary homogeneous items
arr_1d = np.array([11,121.9,True,'k','Coding',11+5j,99]) # Mixed Type [Upcasting]
print(arr_1d)

['11' '121.9' 'True' 'k' 'Coding' '(11+5j)' '99']

In [22]:
type(arr_1d)

numpy.ndarray

In [23]:
arr_1d.dtype # property data type

dtype('<U64')

In [24]:
arr_1d.ndim

1

In [25]:
# 2D Array [2 Dimensional] [row * col] n*m (5,3)
# Numpy -> An array object of arbitrary homogeneous items
arr_2d = np.array([
    [11,22,33],
    ['a','b','c'],
    [True,False,True],
    ['learn','python','programming'],
    [9.99,11.11,12.99]
]) # Mixed Type [Heterogenous] 
print(arr_2d)

[['11' '22' '33']
 ['a' 'b' 'c']
 ['True' 'False' 'True']
 ['learn' 'python' 'programming']
 ['9.99' '11.11' '12.99']]

In [26]:
type(arr_2d)

numpy.ndarray

In [27]:
arr_2d.ndim # property

2

In [30]:
# 3D [3 Dimensional] [Depth,row,col] (d*r*c) = Total Number of Elements
# 3 Depth , 3 Rows , 3 Cols = 27
arr_3d = np.array([
    [[1,2,3],
    [4,5,6],
    [7,8,9]],

    [[1.1,2.1,3.1],
    [4.1,5.1,6.1],
    [7.1,8.1,9.1]],

    [[False,True,True],
    [True,False,True],
    [False,True,False]],
]) # 'upcasting' -> 'float'
arr_3d

array([[[1. , 2. , 3. ],
        [4. , 5. , 6. ],
        [7. , 8. , 9. ]],

       [[1.1, 2.1, 3.1],
        [4.1, 5.1, 6.1],
        [7.1, 8.1, 9.1]],

       [[0. , 1. , 1. ],
        [1. , 0. , 1. ],
        [0. , 1. , 0. ]]])

In [31]:
type(arr_3d)

numpy.ndarray

In [32]:
arr_3d.ndim # n- dimension [3D]

3

In [33]:
# 27 => 3*3*3
# 1D -> 3D 
arr_1d = np.array([1,2,3,4,5,6,7,8,9,'a','b','c','d','e','f','g','h','i',9,8,7,6,5,4,3,2,1])
arr_1d

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd',
       'e', 'f', 'g', 'h', 'i', '9', '8', '7', '6', '5', '4', '3', '2',
       '1'], dtype='<U11')

In [34]:
# 3D Shape [3,3,3] -> depth-> 3 , row -> 3 , cols -> 3
arr_1d.reshape(3,3,3)

array([[['1', '2', '3'],
        ['4', '5', '6'],
        ['7', '8', '9']],

       [['a', 'b', 'c'],
        ['d', 'e', 'f'],
        ['g', 'h', 'i']],

       [['9', '8', '7'],
        ['6', '5', '4'],
        ['3', '2', '1']]], dtype='<U11')

In [35]:
arr_1d = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
arr_1d

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [36]:
# 1D -> 2D
# 4*4 , 8*2, 2*8
arr_1d.reshape(4,4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

arr_1d.reshape(4,3) # 12 Error
ValueError: cannot reshape array of size 16 into shape (4,3)

In [38]:
arr_1d.reshape(8,2)

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12],
       [13, 14],
       [15, 16]])

In [39]:
arr_1d.reshape(2,8)

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16]])

In [40]:
# 3D -> 2*4*2 , 2*2*4, 1*4*4
arr_1d.reshape(2,4,2)

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12],
        [13, 14],
        [15, 16]]])

In [41]:
arr_1d.reshape(2,2,4)

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]]])

In [43]:
# 4D -> 2*2*2*2 # 3D[depth,rows,cols]
arr_4d = arr_1d.reshape(2,2,2,2) # 4D -> 2 depth of 3D
arr_4d

array([[[[ 1,  2],
         [ 3,  4]],

        [[ 5,  6],
         [ 7,  8]]],


       [[[ 9, 10],
         [11, 12]],

        [[13, 14],
         [15, 16]]]])

In [44]:
arr_4d.ndim # property

4

In [2]:
import numpy as np
# Specifying the Data Types [Upcasting]
nested_list = np.array([
    [11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,99.99],
]) # upcast -> float
print(nested_list)

[[11.   22.  ]
 [33.   44.  ]
 [55.   66.  ]
 [77.   88.  ]
 [99.   99.99]]

In [3]:
nested_list.dtype

dtype('float64')

In [4]:
nested_list = np.array([
    [11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,121],
]) # dtype attribute -> float
float_arr = np.array(nested_list , dtype = float)
float_arr

array([[ 11.,  22.],
       [ 33.,  44.],
       [ 55.,  66.],
       [ 77.,  88.],
       [ 99., 121.]])

In [5]:
# upcast ['str'] Vs upcast['float']
nested_list = np.array([
    [11,22],
    [33,44],
    [55,66],
    [77,88],
    [99.99,'121'],
]) # upcast['121'] us winning
float_arr = np.array(nested_list , dtype = float) # external force
float_arr

array([[ 11.  ,  22.  ],
       [ 33.  ,  44.  ],
       [ 55.  ,  66.  ],
       [ 77.  ,  88.  ],
       [ 99.99, 121.  ]])

In [6]:
nested_list

array([['11', '22'],
       ['33', '44'],
       ['55', '66'],
       ['77', '88'],
       ['99.99', '121']], dtype='<U32')

# upcast ['str'] Vs upcast['float']
nested_list = np.array([
    [11,22],
    [33,44],
    [55,66],
    [77,88],
    [99.99,'k'], # ValueError: could not convert string to float: 'k'
]) # upcast['121'] us winning
float_arr = np.array(nested_list , dtype = float) # Error 'k' won't typecast into float
float_arr

In [8]:
nested_list

array([['11', '22'],
       ['33', '44'],
       ['55', '66'],
       ['77', '88'],
       ['99.99', 'k']], dtype='<U32')

In [9]:
# upcast ['int'] Vs upcast['bool']
nested_list = np.array([
    [11,22],
    [33,44],
    [55,66],
    [77,88],
    [True,False],
]) # upcast [int]
float_arr = np.array(nested_list , dtype = float) # external force
float_arr

array([[11., 22.],
       [33., 44.],
       [55., 66.],
       [77., 88.],
       [ 1.,  0.]])

In [10]:
nested_list

array([[11, 22],
       [33, 44],
       [55, 66],
       [77, 88],
       [ 1,  0]])

In [11]:
nested_list.dtype

dtype('int32')

In [12]:
nested_list.ndim # 2

2

In [13]:
nested_list.shape

(5, 2)

In [14]:
# size -> no. of elements within the n dimensional array
nested_list.size

10

In [15]:
arr_1d = np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
print(arr_1d)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]

In [16]:
arr_1d.ndim

1

In [17]:
arr_1d.size

16

In [18]:
arr_1d.shape

(16,)

In [19]:
arr_4d = arr_1d.reshape(2,2,2,2)
arr_4d

array([[[[ 1,  2],
         [ 3,  4]],

        [[ 5,  6],
         [ 7,  8]]],


       [[[ 9, 10],
         [11, 12]],

        [[13, 14],
         [15, 16]]]])

In [20]:
arr_4d.ndim

4

In [21]:
arr_4d.shape

(2, 2, 2, 2)

In [22]:
arr_4d.dtype

dtype('int32')

In [23]:
arr_4d.size

16

In [26]:
# itemsize() -> ndarray.itemsize attribute -> Memory Size of each elements (in Bytes)
# Homogenous Numpy Array
arr_int = np.array([1,2,3,4,5,6,7,8,9,11,15,21,77,99] , dtype = int)
print(arr_int.itemsize, "bytes")

4 bytes

In [27]:
arr_float = np.array([1,2,3,4,5,6,7,8,9,11,15,21,77,99] , dtype = float)
print(arr_float)
print(arr_float.itemsize, "bytes")

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 11. 15. 21. 77. 99.]
8 bytes

In [28]:
arr_str = np.array(['Coding','Python','Programming','Numpy','Array'] , dtype = str)
print(arr_str)
print(arr_str.itemsize , "bytes")

['Coding' 'Python' 'Programming' 'Numpy' 'Array']
44 bytes

In [29]:
arr_str = np.array(['Coding','Python','Java','Array'] , dtype = str)
print(arr_str)
print(arr_str.itemsize , "bytes") # 6 * 4 bytes ['each char'] = 24

['Coding' 'Python' 'Java' 'Array']
24 bytes

In [30]:
# ndarray.data # 'Memory Location' -> memory View
arr = np.array([11,22,33,44,55,66,77])
print("Data Buffer: " , arr.data) # Memory Address
print("Type of Buffer" , type(arr.data)) # 'Memory View'

Data Buffer:  <memory at 0x000002434073B700>
Type of Buffer <class 'memoryview'>

In [31]:
# Indexing , slicing , Operations on numpy array
arr_1d = np.array([11,22,33,44,55])
print(arr_1d[2]) # 33
print(arr_1d[-2]) # 44
print(arr_1d[-5]) # 11
# print(arr_1d[5]) # Index Error: Out of Range
print(arr_1d[0]) # 11

33
44
11
11

In [33]:
# Shape of 3D Array (2,3,4) -> 2(depth),3(rows),4(cols)
arr_3d = np.array([
    [[11,22,33,44],
     [22,44,66,88],
     [11,33,55,77],],
    
    [[66,77,88,99],
     [11,55,77,99],
     [22,44,66,88],]
])
# indexing[depth,row,col]
print(arr_3d[-1,2,3]) # 88
print(arr_3d[-2,-3,-4]) # 11
# print(arr_3d[0,3,2]) # Error
# print(arr_3d[-2,0,4]) # Error
print(arr_3d[1,2,-3]) # 44
print(arr_3d[0,-1,-1]) # 77
print(arr_3d[-2,1,-4]) # 22
print(arr_3d[0,-3,3]) # 44

88
11
44
77
22
44

In [34]:
# Slicing[Start = 0 , Stop = length [Exclusive], Step = 1 [default]]
arr_1d = np.array([11,22,33,44,55,66,77,88,99])
print(arr_1d[-3:]) # [77,88,99]
print(arr_1d[-3::-1]) # [77,66...11]
print(arr_1d[-3:9:-1]) # []
print(arr_1d[-3:-6:-1]) # [77,66,55]
print(arr_1d[-3:0:-1]) # [77,66....22]
print(arr_1d[5:9:2]) # [66,88]
print(arr_1d[5:4:2]) # []
print(arr_1d[5:4:-2]) # [66]
print(arr_1d[8:0:-2]) # [99,77,55,33]
print(arr_1d[-4::-2]) # [66,44,22]
print(arr_1d[3:8:-3]) # []
print(arr_1d[5:11:2]) # [66,88]

[77 88 99]
[77 66 55 44 33 22 11]
[]
[77 66 55]
[77 66 55 44 33 22]
[66 88]
[]
[66]
[99 77 55 33]
[66 44 22]
[]
[66 88]

In [35]:
# Slicing 2D [Start,Stop,Step]-> arr_2d [row_slicing , col_slicing] (4,5) 
arr_2d = np.array([
    [1,2,3,4,5],
    [1,3,5,7,9],
    [2,4,6,8,0],
    [5,4,3,2,1],
])
print(arr_2d[1:3, 2:4]) # [[5 7] [6  8]]

[[5 7]
 [6 8]]

In [36]:
print(arr_2d[-3::1, 3::-1]) #

[[7 5 3 1]
 [8 6 4 2]
 [2 3 4 5]]

In [37]:
arr_2d = np.array([
    [1,2,3,4,5],
    [1,3,5,7,9],
    [2,4,6,8,0],
    [5,4,3,2,1],
])
print(arr_2d[3::-2 , 1:4:3]) # [[4][3]]

[[4]
 [3]]

In [38]:
arr_2d = np.array([
    [1,2,3,4,5],
    [1,3,5,7,9],
    [2,4,6,8,0],
    [5,4,3,2,1],
])
print(arr_2d[2:5 , 2:5:-2]) # []

[]

In [39]:
arr_2d = np.array([
    [1,2,3,4,5],
    [1,3,5,7,9],
    [2,4,6,8,0],
    [5,4,3,2,1],
])
print(arr_2d[2:5 , 2:5:2]) # [[6 0] [3 1]]

[[6 0]
 [3 1]]

In [40]:
arr_2d = np.array([
    [1,2,3,4,5],
    [1,3,5,7,9],
    [2,4,6,8,0],
    [5,4,3,2,1],
])
print(arr_2d[: , ::-2])

[[5 3 1]
 [9 5 1]
 [0 6 2]
 [1 3 5]]

In [41]:
arr_2d = np.array([
    [1,2,3,4,5],
    [1,3,5,7,9],
    [2,4,6,8,0],
    [5,4,3,2,1],
])
print(arr_2d[::-1 , ::-1]) # row in reverse , and col in reverse
# row in reverse
# [5,4,3,2,1]
# [2,4,6,8,0]
# [1,3,5,7,9]
# [1,2,3,4,5]
# col reverse wrt to row in reverse [right to left]
# [1,2,3,4,5]
# [0,8,6,4,2]
# [9,7,5,3,1]
# [5,4,3,2,1]

[[1 2 3 4 5]
 [0 8 6 4 2]
 [9 7 5 3 1]
 [5 4 3 2 1]]

In [42]:
# slicing in 3D Array [depth , row , col]
arr_3d = np.array([
    [[11,22,33,44],
     [22,44,66,88],
     [11,33,55,77],],
    
    [[66,77,88,99],
     [11,55,77,99],
     [22,44,66,88],]
])
arr_3d[:,:,::-1] # Both depth including all rows but cols reversed

array([[[44, 33, 22, 11],
        [88, 66, 44, 22],
        [77, 55, 33, 11]],

       [[99, 88, 77, 66],
        [99, 77, 55, 11],
        [88, 66, 44, 22]]])

In [43]:
arr_3d = np.array([
    [[11,22,33,44],
     [22,44,66,88],
     [11,33,55,77],],
    
    [[66,77,88,99],
     [11,55,77,99],
     [22,44,66,88],]
])
arr_3d[1::2, 0:3:2, ::-3]

array([[[99, 66],
        [88, 22]]])

In [44]:
arr_3d = np.array([
    [[11,22,33,44],
     [22,44,66,88],
     [11,33,55,77],],
    
    [[66,77,88,99],
     [11,55,77,99],
     [22,44,66,88],]
])
print(arr_3d[-2,2,0]) # 11
arr_3d[-2: , -1: , 0:3:2] # last row of both depth

11

array([[[11, 55]],

       [[22, 66]]])

In [45]:
# SELECT * FROM TABLENAME WHERE = <Apply Filter>
# Masking -> Uses a boolean array of the same shape to filter the original array
arr_1d = np.array([11,22,33,44,55,66,77,88,99])
mask_arr = np.array([True,True,False,False,True,False,True,False,True])
print(arr_1d[mask_arr]) # Filtering on the numpy array

[11 22 55 77 99]

In [46]:
arr_1d.shape

(9,)

In [47]:
mask_arr.shape

(9,)

In [48]:
arr_1d = np.array([11,22,33,44,55,66,77,88,99])
mask_arr = np.array([True,True,False,False,True,False,True])
print(arr_1d.shape)
print(mask_arr.shape)

(9,)
(7,)

print(arr_1d[mask_arr]) # Error
# IndexError: boolean index did not match indexed array along dimension 0; 
# dimension is 9 but corresponding boolean dimension is 7

In [51]:
# arr_2d [Masking]
arr_2d = np.array([
    [1,2,3,4,5],
    [1,3,5,7,9],
    [2,4,6,8,0],
    [5,4,3,2,1]
])
mask_2d = np.array([
    [True,True,False,False,True],
    [True,False,True,True,True],
    [True,False,False,False,False],
    [True,False,False,True,True]
])
# Final Result -> 1D [Flatten Up]
arr_2d[mask_2d]

array([1, 2, 5, 1, 5, 7, 9, 2, 5, 2, 1])

In [52]:
arr_3d = np.array([
    [[11,22,33,44],
     [22,44,66,88],
     [11,33,55,77],],
    
    [[66,77,88,99],
     [11,55,77,99],
     [22,44,66,88],]
])
mask_3d = np.array([
    [[True,True,False,False],
     [True,False,False,False],
     [True,False,True,True],],
    
    [[False,True,False,True],
     [True,True,True,True],
     [False,False,False,False],]
])
arr_3d[mask_3d] # flatten up

array([11, 22, 22, 11, 55, 77, 77, 99, 11, 55, 77, 99])

In [53]:
# Ellipsis [...] -> Used Only Once in a slicing -> 3D Matrix
# 3D [2,5,2]
arr_3d = np.array([
    [[11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,110],],
    
    [[1,2],
    [3,4],
    [5,6],
    [7,8],
    [9,10],]
])
arr_3d[...] # arr_3d[:,:,:]

array([[[ 11,  22],
        [ 33,  44],
        [ 55,  66],
        [ 77,  88],
        [ 99, 110]],

       [[  1,   2],
        [  3,   4],
        [  5,   6],
        [  7,   8],
        [  9,  10]]])

In [54]:
# Ellipsis [...] -> Used Only Once in a slicing -> 3D Matrix
# 3D [2,5,2]
arr_3d = np.array([
    [[11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,110],],
    
    [[1,2],
    [3,4],
    [5,6],
    [7,8],
    [9,10],]
])
arr_3d[...,1] # (depth,rows,cols)

array([[ 22,  44,  66,  88, 110],
       [  2,   4,   6,   8,  10]])

In [55]:
arr_3d[:,:,1] # (depth,rows,cols)

array([[ 22,  44,  66,  88, 110],
       [  2,   4,   6,   8,  10]])

In [57]:
arr_3d.shape

(2, 5, 2)

In [58]:
arr_3d = np.array([
    [[11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,110],],
    
    [[1,2],
    [3,4],
    [5,6],
    [7,8],
    [9,10],]
])
arr_3d[:,0,...] # (depth,rows,cols)

array([[11, 22],
       [ 1,  2]])

In [59]:
arr_3d[:,0,:] # (depth,rows,cols)

array([[11, 22],
       [ 1,  2]])

In [60]:
arr_3d = np.array([
    [[11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,110],],
    
    [[1,2],
    [3,4],
    [5,6],
    [7,8],
    [9,10],]
])
arr_3d[...,-1] # (depth,rows,cols)

array([[ 22,  44,  66,  88, 110],
       [  2,   4,   6,   8,  10]])

In [61]:
arr_3d[:,:,-1] # (depth,rows,cols)

array([[ 22,  44,  66,  88, 110],
       [  2,   4,   6,   8,  10]])

In [62]:
arr_3d = np.array([
    [[11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,110],],
    
    [[1,2],
    [3,4],
    [5,6],
    [7,8],
    [9,10],]
])
arr_3d[0,...] # (depth,rows,cols)

array([[ 11,  22],
       [ 33,  44],
       [ 55,  66],
       [ 77,  88],
       [ 99, 110]])

In [63]:
arr_3d[0,:,:] # (depth,rows,cols)

array([[ 11,  22],
       [ 33,  44],
       [ 55,  66],
       [ 77,  88],
       [ 99, 110]])

In [65]:
# Operations on Array
a = np.array([11,22,33,44,55,66,77,88,99])
b = np.array([7,9,11,17,21,29,41,77,91])

print(a.shape)
print(b.shape)

(9,)
(9,)

In [66]:
# Addition
print("Numpy Array Addition: ")
a+b

Numpy Array Addition:

array([ 18,  31,  44,  61,  76,  95, 118, 165, 190])

In [67]:
# Subtractions
print("Numpy Array Subtraction: ")
a-b

Numpy Array Subtraction:

array([ 4, 13, 22, 27, 34, 37, 36, 11,  8])

In [68]:
# Multiplications
print("Numpy Array Multiplication: ")
a*b

Numpy Array Multiplication:

array([  77,  198,  363,  748, 1155, 1914, 3157, 6776, 9009])

In [69]:
# Divisions
print("Numpy Array Divisions: ")
a/b

Numpy Array Divisions:

array([1.57142857, 2.44444444, 3.        , 2.58823529, 2.61904762,
       2.27586207, 1.87804878, 1.14285714, 1.08791209])

In [70]:
# Floor Divisions
print("Numpy Array Floor Division: ")
a//b

Numpy Array Floor Division:

array([1, 2, 3, 2, 2, 2, 1, 1, 1])

In [71]:
# Modulus 
print("Numpy Array Modulus: ")
a%b

Numpy Array Modulus:

array([ 4,  4,  0, 10, 13,  8, 36, 11,  8])

In [72]:
# Exponentiations 
print("Numpy Array Exponent: ")
a ** 2

Numpy Array Exponent:

array([ 121,  484, 1089, 1936, 3025, 4356, 5929, 7744, 9801])

In [73]:
# Exponentiations 
print("Numpy Array Exponent: ")
b ** 2

Numpy Array Exponent:

array([  49,   81,  121,  289,  441,  841, 1681, 5929, 8281])

In [74]:
# Operations on Array [Unequal shape] -> Won't perform the operations
a = np.array([11,22,33,44,55,66,77,88,99])
b = np.array([7,9,11,17,21,29,41])

print(a.shape)
print(b.shape)

(9,)
(7,)

# Addition
print("Numpy Array Addition: ")
a+b
ValueError: operands could not be broadcast together with shapes (9,) (7,)

In [76]:
# # Operations on 2D Array 
A = np.array([
    [11,22],
    [33,44],
    [55,66],
    [77,88],
    [99,110]
])
B = np.array([
    [1,2],
    [3,4],
    [5,6],
    [7,8],
    [9,10]
])
print(A.shape)
print(B.shape)

(5, 2)
(5, 2)

In [78]:
A+B

array([[ 12,  24],
       [ 36,  48],
       [ 60,  72],
       [ 84,  96],
       [108, 120]])

In [79]:
A-B

array([[ 10,  20],
       [ 30,  40],
       [ 50,  60],
       [ 70,  80],
       [ 90, 100]])

In [80]:
# Transposing an Array : Converting rows into coloumns and vice-versa. [Square Matrix]
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
print("Original Array: \n", arr_2d)

Original Array:
 [[11 22 33 44 55]
 [99 88 77 66 55]
 [11 33 55 77 99]
 [22 44 66 88 10]
 [11 15 17 19 21]]

In [81]:
print("Transposed Array: \n", arr_2d.transpose())

Transposed Array:
 [[11 99 11 22 11]
 [22 88 33 44 15]
 [33 77 55 66 17]
 [44 66 77 88 19]
 [55 55 99 10 21]]

In [82]:
print("Transposed Array: \n", arr_2d.T)

Transposed Array:
 [[11 99 11 22 11]
 [22 88 33 44 15]
 [33 77 55 66 17]
 [44 66 77 88 19]
 [55 55 99 10 21]]

# Sorting An Array:
##### Sorting means arranging an elements in ascending (default) or descending order

In [1]:
import numpy as np
arr_1d = np.array([77,11,22,55,33,44,99,66,88])
print(arr_1d)
print(np.sort(arr_1d))

[77 11 22 55 33 44 99 66 88]
[11 22 33 44 55 66 77 88 99]

In [2]:
# Descending Order using slicing [::-1]
print(np.sort(arr_1d)[::-1])

[99 88 77 66 55 44 33 22 11]

In [3]:
# Axis = 0 [Horizontal Axis][Rows] & Axis = 1 [Vertical Axis][Cols]
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.sort(arr_2d , axis = 0)

array([[11, 15, 17, 19, 10],
       [11, 22, 33, 44, 21],
       [11, 33, 55, 66, 55],
       [22, 44, 66, 77, 55],
       [99, 88, 77, 88, 99]])

In [4]:
# axis = 1 [Vertical Axis] [Col]
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.sort(arr_2d , axis = 1)

array([[11, 22, 33, 44, 55],
       [55, 66, 77, 88, 99],
       [11, 33, 55, 77, 99],
       [10, 22, 44, 66, 88],
       [11, 15, 17, 19, 21]])

In [5]:
# argsort [Indexing Sort]
arr_1d = np.array([55,11,44,33,22])
pos_arr = np.argsort(arr_1d)
print(arr_1d)
print(pos_arr)

[55 11 44 33 22]
[1 4 3 2 0]

In [9]:
# Indexing 
arr_1d[1] # 11

11

In [10]:
arr_1d[4] # 22

22

In [11]:
arr_1d[3] # 33

33

In [6]:
# Returns the indices that would sort an array. [argsort]
arr_1d[pos_arr]

array([11, 22, 33, 44, 55])

In [7]:
# argsort [Indexing Sort] [Descending]
arr_1d = np.array([55,11,44,33,22])
pos_arr = np.argsort(arr_1d)[::-1]
print(arr_1d)
print(pos_arr)

[55 11 44 33 22]
[0 2 3 4 1]

In [8]:
arr_1d[pos_arr] # Descending

array([55, 44, 33, 22, 11])

In [12]:
# argsort -> 2D Matrix
# axis = 1 [Vertical] [Col]
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
print(arr_2d)
print(np.argsort(arr_2d , axis = 1))

[[11 22 33 44 55]
 [99 88 77 66 55]
 [11 33 55 77 99]
 [22 44 66 88 10]
 [11 15 17 19 21]]
[[0 1 2 3 4]
 [4 3 2 1 0]
 [0 1 2 3 4]
 [4 0 1 2 3]
 [0 1 2 3 4]]

In [13]:
# argsort -> 2D Matrix
# axis = 0 [Horizontal] [Row]
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
print(arr_2d)
print(np.argsort(arr_2d , axis = 0))

[[11 22 33 44 55]
 [99 88 77 66 55]
 [11 33 55 77 99]
 [22 44 66 88 10]
 [11 15 17 19 21]]
[[0 4 4 4 3]
 [2 0 0 0 4]
 [4 2 2 1 0]
 [3 3 3 2 1]
 [1 1 1 3 2]]

In [16]:
# Concatenating an Array: It means joining the array either row wise or column wise
X = np.array([11,22,33,44,55])
Y = np.array([66,77,88,99])
Z = np.array([1,2,3,4,5,6,7,8,9])
print(np.concatenate((X,Y,Z)))

[11 22 33 44 55 66 77 88 99  1  2  3  4  5  6  7  8  9]

In [17]:
print(np.concatenate((Y,X,Z)))

[66 77 88 99 11 22 33 44 55  1  2  3  4  5  6  7  8  9]

In [18]:
print(np.concatenate((Z,X,Y)))

[ 1  2  3  4  5  6  7  8  9 11 22 33 44 55 66 77 88 99]

In [19]:
# Concatenating on 2D Matrix
arr_2dA = np.array([
    [11,22,33],
    [44,55,66],
    [77,88,99],
]) # shape(3,3)

arr_2dB = np.array([
    [11,22],
    [44,55],
    [77,88],
]) # shape(3,2)

arr_2dC = np.array([
    [11,22,33],
    [44,55,66],
]) # shape(2,3)

In [22]:
print(np.concatenate((arr_2dA , arr_2dB) , axis = 1)) # Vertically Append [Col-wise]

[[11 22 33 11 22]
 [44 55 66 44 55]
 [77 88 99 77 88]]

print(np.concatenate((arr_2dA , arr_2dC) , axis = 1)) # Vertically Append [Col-wise]
ValueError: all the input array dimensions except for the concatenation axis must match exactly, 
but along dimension 0, the array at index 0 has size 3 and the array at index 1 has size 2

In [24]:
print(np.concatenate((arr_2dA , arr_2dC) , axis = 0)) # Horizontal Append [Row-wise]

[[11 22 33]
 [44 55 66]
 [77 88 99]
 [11 22 33]
 [44 55 66]]

print(np.concatenate((arr_2dA , arr_2dB) , axis = 0)) # Horizontal Append [Row-wise]
ValueError: all the input array dimensions except for the concatenation axis must match exactly, 
but along dimension 1, the array at index 0 has size 3 and the array at index 1 has size 2

In [26]:
# arange(start,stop,step) 
for i in range(1,11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [27]:
# arange(start,stop,step) 
# Reshape(shape)
arr = np.arange(2,21,2) # [2,4,6...20]
arr

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [29]:
# 10 elements -> 2D Matrix [2*5] [5*2]
arr_2d = arr.reshape(2,5)
arr_2d

array([[ 2,  4,  6,  8, 10],
       [12, 14, 16, 18, 20]])

In [30]:
# 10 elements -> 2D Matrix [2*5] [5*2]
arr_2d = arr.reshape(5,2)
arr_2d

array([[ 2,  4],
       [ 6,  8],
       [10, 12],
       [14, 16],
       [18, 20]])

In [31]:
arr = np.arange(1,17,1) # [1,2,3,4....16]
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [33]:
# 16 elements -> 2D,3D,4D
arr_2d = arr.reshape(4,4)
arr_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [34]:
arr_2d = arr.reshape(8,2)
arr_2d

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12],
       [13, 14],
       [15, 16]])

In [35]:
arr_2d = arr.reshape(2,8)
arr_2d

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16]])

In [37]:
arr_3d = arr_2d.reshape(2,4,2)
arr_3d

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12],
        [13, 14],
        [15, 16]]])

In [38]:
arr_3d = arr_2d.reshape(2,2,4)
arr_3d

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]]])

In [39]:
arr_3d = arr_2d.reshape(4,2,2)
arr_3d

array([[[ 1,  2],
        [ 3,  4]],

       [[ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12]],

       [[13, 14],
        [15, 16]]])

In [40]:
arr_4d = arr_3d.reshape(2,2,2,2)
arr_4d

array([[[[ 1,  2],
         [ 3,  4]],

        [[ 5,  6],
         [ 7,  8]]],


       [[[ 9, 10],
         [11, 12]],

        [[13, 14],
         [15, 16]]]])

In [41]:
arr_4d = arr_2d.reshape(2,2,2,2)
arr_4d

array([[[[ 1,  2],
         [ 3,  4]],

        [[ 5,  6],
         [ 7,  8]]],


       [[[ 9, 10],
         [11, 12]],

        [[13, 14],
         [15, 16]]]])

In [43]:
arr_4d = arr.reshape(2,2,2,2)
arr_4d

array([[[[ 1,  2],
         [ 3,  4]],

        [[ 5,  6],
         [ 7,  8]]],


       [[[ 9, 10],
         [11, 12]],

        [[13, 14],
         [15, 16]]]])

In [44]:
# Flattening an array: n-dimensional to 1D Array
flatten_arr = arr_4d.reshape(-1)
flatten_arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [45]:
# Flattening an array: n-dimensional to 1D Array
flatten_arr = arr_2d.reshape(-1)
flatten_arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [46]:
flatten_arr = arr_3d.reshape(-1)
flatten_arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [47]:
# Splitting an Array
arr = np.arange(2,21,2) # 10 elements [2,4,6...20]
arr

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [48]:
split_arr = np.split(arr , 5)
print(split_arr)

[array([2, 4]), array([6, 8]), array([10, 12]), array([14, 16]), array([18, 20])]

In [49]:
split_arr

[array([2, 4]),
 array([6, 8]),
 array([10, 12]),
 array([14, 16]),
 array([18, 20])]

split_arr = np.split(arr , 3) # ValueError: array split does not result in an equal division
print(split_arr)

In [51]:
# Splitting an Array
arr = np.arange(1,16,1) # 15 elements [1,2,3,4...15]
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [53]:
print(arr)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

In [52]:
split_arr = np.split(arr , 3) 
print(split_arr)

[array([1, 2, 3, 4, 5]), array([ 6,  7,  8,  9, 10]), array([11, 12, 13, 14, 15])]

In [54]:
for data in split_arr:
    print(data)

[1 2 3 4 5]
[ 6  7  8  9 10]
[11 12 13 14 15]

In [56]:
# axis = 0 [Horizontal axis] [rows]
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
split_arr = np.split(arr_2d, 5 , axis = 0)
split_arr

[array([[11, 22, 33, 44, 55]]),
 array([[99, 88, 77, 66, 55]]),
 array([[11, 33, 55, 77, 99]]),
 array([[22, 44, 66, 88, 10]]),
 array([[11, 15, 17, 19, 21]])]

In [57]:
for data in split_arr:
    print(data)

[[11 22 33 44 55]]
[[99 88 77 66 55]]
[[11 33 55 77 99]]
[[22 44 66 88 10]]
[[11 15 17 19 21]]

In [59]:
print(type(split_arr))

<class 'list'>

In [60]:
# axis = 1 [Vertical axis] [cols]
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
split_arr = np.split(arr_2d, 5 , axis = 1)
split_arr

[array([[11],
        [99],
        [11],
        [22],
        [11]]),
 array([[22],
        [88],
        [33],
        [44],
        [15]]),
 array([[33],
        [77],
        [55],
        [66],
        [17]]),
 array([[44],
        [66],
        [77],
        [88],
        [19]]),
 array([[55],
        [55],
        [99],
        [10],
        [21]])]

In [61]:
for data in split_arr:
    print(data)

[[11]
 [99]
 [11]
 [22]
 [11]]
[[22]
 [88]
 [33]
 [44]
 [15]]
[[33]
 [77]
 [55]
 [66]
 [17]]
[[44]
 [66]
 [77]
 [88]
 [19]]
[[55]
 [55]
 [99]
 [10]
 [21]]

In [62]:
# Statistical Operations on Array
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.mean(arr_2d)

45.52

In [63]:
# axis = 0 [horizontal Axis] [rows]
np.mean(arr_2d , axis = 0)

array([30.8, 40.4, 49.6, 58.8, 48. ])

In [64]:
(11+99+11+22+11)/5

30.8

In [66]:
(22+88+33+44+15)/5

40.4

In [67]:
# axis = 1 [Vertical Axis] [cols]
np.mean(arr_2d , axis = 1)

array([33. , 77. , 55. , 46. , 16.6])

In [68]:
(11+22+33+44+55)/5

33.0

In [69]:
# Median
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.median(arr_2d)

44.0

In [70]:
# axis = 0 [horizontal Axis] [rows]
np.median(arr_2d , axis = 0)

array([11., 33., 55., 66., 55.])

In [71]:
# axis = 1 [Vertical Axis] [cols]
np.median(arr_2d , axis = 1)

array([33., 77., 55., 44., 17.])

In [72]:
# standard deviation
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.std(arr_2d)

29.48236082812908

In [73]:
# axis = 0 [horizontal Axis] [rows]
np.std(arr_2d , axis = 0)

array([34.36509857, 25.75732905, 21.85040045, 24.65278889, 31.21538082])

In [74]:
# axis = 1 [Vertical Axis] [cols]
np.std(arr_2d , axis = 1)

array([15.55634919, 15.55634919, 31.11269837, 28.42534081,  3.44093011])

In [75]:
# Min / Max -> Return Smallest and the largest values respectively.
# Min
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.min(arr_2d) # 10

10

In [76]:
# axis = 0 [horizontal Axis] [rows]
np.min(arr_2d , axis = 0)

array([11, 15, 17, 19, 10])

In [77]:
# axis = 1 [Vertical Axis] [cols]
np.min(arr_2d , axis = 1)

array([11, 55, 11, 10, 11])

In [79]:
# Max
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.max(arr_2d) # 99

99

In [81]:
# axis = 0 [horizontal Axis] [rows]
np.max(arr_2d , axis = 0)

array([99, 88, 77, 88, 99])

In [82]:
# axis = 1 [Vertical Axis] [cols]
np.max(arr_2d , axis = 1)

array([55, 99, 99, 88, 21])

In [83]:
# Sum -> Calculating the total of each elements within the range
arr_2d = np.array([
    [11,22,33,44,55],
    [99,88,77,66,55],
    [11,33,55,77,99],
    [22,44,66,88,10],
    [11,15,17,19,21]
])
np.sum(arr_2d)

1138

In [84]:
# axis = 0 [horizontal Axis] [rows]
np.sum(arr_2d , axis = 0)

array([154, 202, 248, 294, 240])

In [85]:
# axis = 1 [Vertical Axis] [cols]
np.sum(arr_2d , axis = 1)

array([165, 385, 275, 230,  83])

In [86]:
# Other ways to Create Numpy Array.
np.zeros(11) # np.zeros(shape) 
# 1D array filled with zeros 0. <float>

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [87]:
# Return a new array of given shape and type, filled with zeros.
np.zeros(9, dtype = int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0])

In [88]:
# 2D Matrix
np.zeros((7,2) , dtype = int)

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0]])

In [89]:
# 3D Matrix
np.zeros((2,3,2)) # default dtype - float

array([[[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]]])

In [90]:
# 4D Matrix
np.zeros((2,2,2,2), dtype = bool) # 0 in bool -> False

array([[[[False, False],
         [False, False]],

        [[False, False],
         [False, False]]],


       [[[False, False],
         [False, False]],

        [[False, False],
         [False, False]]]])

In [91]:
# np.ones(shape) -> filled with 1.
# 3D Matrix
np.ones((2,3,4) , dtype = int)

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]])

In [92]:
# 3D Matrix
np.ones((2,3,4) , dtype = bool) # 1 in bool -> True

array([[[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]],

       [[ True,  True,  True,  True],
        [ True,  True,  True,  True],
        [ True,  True,  True,  True]]])

In [93]:
# np.full(shape, fill_value)
# return a new array of given shape and type, filled with `fill_value`
np.full(11, 9)

array([9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9])

In [94]:
# 2D Matrix
np.full((4,5), 11.1)

array([[11.1, 11.1, 11.1, 11.1, 11.1],
       [11.1, 11.1, 11.1, 11.1, 11.1],
       [11.1, 11.1, 11.1, 11.1, 11.1],
       [11.1, 11.1, 11.1, 11.1, 11.1]])

In [95]:
# 3D Matrix
np.full((2,4,3), 11+9j)

array([[[11.+9.j, 11.+9.j, 11.+9.j],
        [11.+9.j, 11.+9.j, 11.+9.j],
        [11.+9.j, 11.+9.j, 11.+9.j],
        [11.+9.j, 11.+9.j, 11.+9.j]],

       [[11.+9.j, 11.+9.j, 11.+9.j],
        [11.+9.j, 11.+9.j, 11.+9.j],
        [11.+9.j, 11.+9.j, 11.+9.j],
        [11.+9.j, 11.+9.j, 11.+9.j]]])

In [96]:
# 3D Matrix
np.full((2,4,3), 'abc')

array([[['abc', 'abc', 'abc'],
        ['abc', 'abc', 'abc'],
        ['abc', 'abc', 'abc'],
        ['abc', 'abc', 'abc']],

       [['abc', 'abc', 'abc'],
        ['abc', 'abc', 'abc'],
        ['abc', 'abc', 'abc'],
        ['abc', 'abc', 'abc']]], dtype='<U3')

In [97]:
# 3D Matrix
np.full((2,4,3), 'Python')

array([[['Python', 'Python', 'Python'],
        ['Python', 'Python', 'Python'],
        ['Python', 'Python', 'Python'],
        ['Python', 'Python', 'Python']],

       [['Python', 'Python', 'Python'],
        ['Python', 'Python', 'Python'],
        ['Python', 'Python', 'Python'],
        ['Python', 'Python', 'Python']]], dtype='<U6')

In [98]:
# Identity Matrix -> having digonal elements filled with 1 and other non-diagonal are filled with 0.
# np.identity() -> square matrix 
# np.eye() -> Rectangular/Square Matrix, k-factor
# 3*3 Matrix
np.eye(3, dtype=int)

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [100]:
# 3*3 Matrix
np.eye(3, dtype=bool)

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [102]:
# Rectangular Matrix
# m * n Matrix
np.eye(4,7, dtype=float)

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.]])

In [103]:
# Rectangular Matrix with k-factor
# m * n Matrix
np.eye(4,7,k=1,dtype=float)

array([[0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.]])

In [104]:
# Rectangular Matrix with k-factor
# m * n Matrix
np.eye(4,7,k=2,dtype=float)

array([[0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.]])

In [105]:
# Rectangular Matrix with k-factor
# m * n Matrix
np.eye(4,7,k=-1,dtype=float)

array([[0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.]])

In [106]:
# Rectangular Matrix with k-factor
# m * n Matrix
np.eye(4,7,k=-2,dtype=float)

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.]])

In [107]:
# Square Matrix
np.eye(7, k = 0)

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.]])

In [108]:
# Square Matrix
np.eye(7, k = 1)

array([[0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0.]])

In [109]:
# Square Matrix
np.eye(7, k = 4)

array([[0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

In [110]:
# Square Matrix
np.eye(7, k = -5)

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.]])

In [111]:
# Square Matrix 
np.identity(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [112]:
# Return the identity array.
# The identity array is a square array with ones on the main diagonal.
np.identity(7)

array([[1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1.]])

# Rectangular Matrix is not allowed 
np.identity(7,2) # TypeError: Cannot interpret '2' as a data type

np.identity(7,k=-3) # TypeError: identity() got an unexpected keyword argument 'k'

In [116]:
# np.arange(start , stop, step)
np.arange(1,11,2) # odd numpy array [1,3,..9]

array([1, 3, 5, 7, 9])

In [117]:
np.arange(2,21,2) # Even Numpy Array [2,4...20]

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [118]:
np.arange(1,15,-1) # []

array([], dtype=int32)

In [119]:
np.arange(15,0,-2) # [15,13,11...1]

array([15, 13, 11,  9,  7,  5,  3,  1])

In [120]:
# np.random -> shape()
dir(np.random)

['BitGenerator',
 'Generator',
 'MT19937',
 'PCG64',
 'PCG64DXSM',
 'Philox',
 'RandomState',
 'SFC64',
 'SeedSequence',
 '__RandomState_ctor',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_bounded_integers',
 '_common',
 '_generator',
 '_mt19937',
 '_pcg64',
 '_philox',
 '_pickle',
 '_sfc64',
 'beta',
 'binomial',
 'bit_generator',
 'bytes',
 'chisquare',
 'choice',
 'default_rng',
 'dirichlet',
 'exponential',
 'f',
 'gamma',
 'geometric',
 'get_bit_generator',
 'get_state',
 'gumbel',
 'hypergeometric',
 'laplace',
 'logistic',
 'lognormal',
 'logseries',
 'mtrand',
 'multinomial',
 'multivariate_normal',
 'negative_binomial',
 'noncentral_chisquare',
 'noncentral_f',
 'normal',
 'pareto',
 'permutation',
 'poisson',
 'power',
 'rand',
 'randint',
 'randn',
 'random',
 'random_integers',
 'random_sample',
 'ranf',
 'rayleigh',
 'sample',
 'seed',
 'set_bit_generator',
 'set_state',
 'shuffle',
 'standard_cauchy',
 'standard_exponential',
 'standard_gamma',
 'standard_normal',
 'standard_t',
 'test',
 'triangular',
 'uniform',
 'vonmises',
 'wald',
 'weibull',
 'zipf']

In [121]:
# 1D Matrix
# np.random.random(shape) -> [0,1) -> Range
np.random.random(11)

array([0.3749287 , 0.9242952 , 0.1686759 , 0.77277538, 0.59295769,
       0.9331255 , 0.39123287, 0.42077007, 0.03007149, 0.62073985,
       0.76482758])

In [122]:
np.random.random(11).round(2)

array([0.5 , 0.17, 0.71, 0.98, 0.15, 0.32, 0.34, 0.21, 0.23, 0.89, 0.48])

In [123]:
# 2D Matrix 
np.random.random((5,3)).round(2)

array([[0.81, 0.37, 0.8 ],
       [0.67, 0.12, 0.81],
       [0.63, 0.  , 0.78],
       [0.84, 0.81, 0.82],
       [0.18, 0.08, 0.15]])

In [124]:
# 3D Matrix
# Return random integers from `low` (inclusive) to `high` (exclusive)
np.random.randint(100,1000,(2,4,3)) # [100,1000)

array([[[429, 831, 887],
        [999, 494, 432],
        [205, 428, 500],
        [506, 132, 677]],

       [[770, 827, 593],
        [105, 838, 954],
        [902, 767, 463],
        [882, 481, 275]]])

In [139]:
# linspace(start,stop,number of elements) # Evenly spaced data
np.linspace(1,10,10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [126]:
np.linspace(1,10,20)

array([ 1.        ,  1.47368421,  1.94736842,  2.42105263,  2.89473684,
        3.36842105,  3.84210526,  4.31578947,  4.78947368,  5.26315789,
        5.73684211,  6.21052632,  6.68421053,  7.15789474,  7.63157895,
        8.10526316,  8.57894737,  9.05263158,  9.52631579, 10.        ])

In [127]:
1.94736842 - 1.47368421

0.47368421000000005

In [128]:
1.94736842 + 0.47368421

2.42105263

In [129]:
np.linspace(1,10,19)

array([ 1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5,  5. ,  5.5,  6. ,
        6.5,  7. ,  7.5,  8. ,  8.5,  9. ,  9.5, 10. ])

In [132]:
np.linspace(1,100,51)

array([  1.  ,   2.98,   4.96,   6.94,   8.92,  10.9 ,  12.88,  14.86,
        16.84,  18.82,  20.8 ,  22.78,  24.76,  26.74,  28.72,  30.7 ,
        32.68,  34.66,  36.64,  38.62,  40.6 ,  42.58,  44.56,  46.54,
        48.52,  50.5 ,  52.48,  54.46,  56.44,  58.42,  60.4 ,  62.38,
        64.36,  66.34,  68.32,  70.3 ,  72.28,  74.26,  76.24,  78.22,
        80.2 ,  82.18,  84.16,  86.14,  88.12,  90.1 ,  92.08,  94.06,
        96.04,  98.02, 100.  ])

In [1]:
# Series (data , Index) [By Default indexing starts from 0]
import numpy as np
import pandas as pd
data = [11,22,33,44,55,66,77,88,99]
series = pd.Series(data)
series

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [2]:
data = [11,22,33,44,55,66,77,88,99]
label = ['a','b','c','d','e','f','g','h','i']
series = pd.Series(data,label) # Positional Argument
# series = pd.Series(data,index = label) # KeyWord Argument
series

a    11
b    22
c    33
d    44
e    55
f    66
g    77
h    88
i    99
dtype: int64

In [3]:
# indexing starts with 1 
data = [11,22,33,44,55,66,77,88,99]
label = range(1,10) # [1,2...9] 
series = pd.Series(data,label) # Positional Argument
# series = pd.Series(data,index = label) # KeyWord Argument
series

1    11
2    22
3    33
4    44
5    55
6    66
7    77
8    88
9    99
dtype: int64

In [4]:
# Dictionary {Key-Value} -> Series(Index - Data)
_employee_dict = {
    'emp_id' : 'emp101',
    'name' : 'Shyam Sundar',
    'age' : 27,
    'gender' : 'M',
    'salary' : '$10,00,000',
    'designation' : 'Senior Analyst',
    'email' : 'shyam.sundar@gmail.com',
    'state' : 'Andhra Pradesh',
    'country' : 'India'
}
series = pd.Series(_employee_dict)
series

emp_id                         emp101
name                     Shyam Sundar
age                                27
gender                              M
salary                     $10,00,000
designation            Senior Analyst
email          shyam.sundar@gmail.com
state                  Andhra Pradesh
country                         India
dtype: object

In [5]:
type(series)

pandas.core.series.Series

In [6]:
print(type(series))

<class 'pandas.core.series.Series'>

In [7]:
# How to Access an elements from a Series.
# .iloc[Positional Based Indexing][Non-Inclusive] [1,10)
# .loc [Labelled Based Indexing][Inclusive] [1,10]
data = [11,22,33,44,55,66,77,88,99]
series = pd.Series(data)
series

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

print(series[-1]) # -ve indexing is not allowed 
# KeyError: -1

In [10]:
print(series.iloc[-1]) # 99 # only .iloc can perform -ve indexing
print(series[6]) # +ve indexing are allowed # 77
print(series.loc[0]) # 11
print(series.iloc[-5]) # 55
# print(series.loc[-5]) # Error # KeyError: -5
print(series.loc[4]) # 55

99
77
11
55
55

In [11]:
data = [11,22,33,44,55,66,77,88,99]
label = ['a','b','c','d','e','f','g','h','i']
series = pd.Series(data,label) # Positional Argument
print(series)
# print(series[0]) # KeyError
print(series['a']) # 11
print(series.iloc[-5]) # 55
print(series.iloc[7]) # 88
# print(series.loc[7]) # KeyError
print(series.loc['i']) # 99

a    11
b    22
c    33
d    44
e    55
f    66
g    77
h    88
i    99
dtype: int64
11
55
88
99

In [12]:
# Slicing
data = [11,22,33,44,55,66,77,88,99]
label = ['a','b','c','d','e','f','g','h','i']
series = pd.Series(data,label) # Positional Argument
print(series)
print("\n Labelled Based Slicing using .loc")
print(series.loc['a':'e']) # [11,22,33,44,55]
print("\n Positional Based Slicing using .iloc")
print(series.iloc[0:5]) # [11,22,33,44,55]

a    11
b    22
c    33
d    44
e    55
f    66
g    77
h    88
i    99
dtype: int64

 Labelled Based Slicing using .loc
a    11
b    22
c    33
d    44
e    55
dtype: int64

 Positional Based Slicing using .iloc
a    11
b    22
c    33
d    44
e    55
dtype: int64

In [13]:
# Dictionary {Key-Value} -> Series(Index - Data)
_employee_dict = {
    'emp_id' : 'emp101',
    'name' : 'Shyam Sundar',
    'age' : 27,
    'gender' : 'M',
    'salary' : '$10,00,000',
    'designation' : 'Senior Analyst',
    'email' : 'shyam.sundar@gmail.com',
    'state' : 'Andhra Pradesh',
    'country' : 'India'
}
series = pd.Series(_employee_dict)
print(series)
# Normal Indexing 
print(series['email']) # 'shyam.sundar@gmail.com'
# print(series[4]) # KeyError
print(series.iloc[4]) # '$10,00,000'

emp_id                         emp101
name                     Shyam Sundar
age                                27
gender                              M
salary                     $10,00,000
designation            Senior Analyst
email          shyam.sundar@gmail.com
state                  Andhra Pradesh
country                         India
dtype: object
shyam.sundar@gmail.com
$10,00,000

In [14]:
# Using .loc [Labelled Based Indexing]
print(series.loc['state']) # 'Andhra Pradesh'
print(series.loc['name' : 'email']) # slicing[Inclusive]

Andhra Pradesh
name                     Shyam Sundar
age                                27
gender                              M
salary                     $10,00,000
designation            Senior Analyst
email          shyam.sundar@gmail.com
dtype: object

print(series.loc['name' : 'postalcode']) # slicing[Inclusive]
# KeyError: 'postalcode'

In [16]:
# .loc[Calling Multiple Columns]
print(series.loc[['name','email','designation','salary','state']])

name                     Shyam Sundar
email          shyam.sundar@gmail.com
designation            Senior Analyst
salary                     $10,00,000
state                  Andhra Pradesh
dtype: object

In [17]:
data = [11,22,33,44,55,66,77,88,99]
series = pd.Series(data)
series

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [18]:
series.iloc[0:4] # [11-44]

0    11
1    22
2    33
3    44
dtype: int64

In [19]:
series.iloc[0:8:3] # [11,44,77]

0    11
3    44
6    77
dtype: int64

In [20]:
series.loc[0] # 11

11

In [21]:
series.loc[0:4] # [11 to 55] [Inclusive]

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [22]:
data = [11,22,33,44,55,66,77,88,99]
label = ['a','b','c','d','e','f','g','h','i']
series = pd.Series(data,label) # Positional Argument
print(series)

a    11
b    22
c    33
d    44
e    55
f    66
g    77
h    88
i    99
dtype: int64

In [23]:
series.iloc[0:4] # [11-44]

a    11
b    22
c    33
d    44
dtype: int64

In [24]:
series.loc['a':'e'] # [11-55]

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [29]:
# Attributes of Series
car_list = np.array(['Taigun','Thar','Magnite','Brezza',
                    'Harrier','Slavia','City','Fortuner','Creta'])
brand_list = np.array(['VW','Mahindra','Nissan','Suzuki',
                    'Tata','Skoda','Honda','Toyota','Hyundai'])
car_model = pd.Series(
    car_list,
    index = brand_list, # keyword-argument
    name = 'Car Model '
)
car_model

VW            Taigun
Mahindra        Thar
Nissan       Magnite
Suzuki        Brezza
Tata         Harrier
Skoda         Slavia
Honda           City
Toyota      Fortuner
Hyundai        Creta
Name: Car Model , dtype: object

In [27]:
car_model.name

'Car Model '

In [28]:
car_model.index

Index(['VW', 'Mahindra', 'Nissan', 'Suzuki', 'Tata', 'Skoda', 'Honda',
       'Toyota', 'Hyundai'],
      dtype='object')

In [30]:
car_model.values

array(['Taigun', 'Thar', 'Magnite', 'Brezza', 'Harrier', 'Slavia', 'City',
       'Fortuner', 'Creta'], dtype=object)

In [31]:
car_model.dtypes

dtype('O')

In [32]:
car_model.shape

(9,)

In [33]:
car_model.size

9

In [34]:
car_model.empty # True/False [False-> as it holds data in it]

False

In [35]:
# hasnans -> has NaNs [Not a Number] 
car_model.hasnans # False [No Missing Value]

False

In [37]:
# SELECT <DISTINCT> NAME FROM TABLENAME -> Unique
car_model.is_unique # True

True

In [38]:
# ndim [Numpy N-Dimensional Array]
car_model.ndim # 1 [Series]

1

In [39]:
# Basic Mathematical Operations
series = pd.Series([7,9,11,15,17,21,29,55,77,99])
print(series+11)

0     18
1     20
2     22
3     26
4     28
5     32
6     40
7     66
8     88
9    110
dtype: int64

In [40]:
series = pd.Series([7,9,11,15,17,21,29,55,77,99])
print(series**2)

0      49
1      81
2     121
3     225
4     289
5     441
6     841
7    3025
8    5929
9    9801
dtype: int64

In [41]:
series = pd.Series([7,9,11,15,17,21,29,55,77,99])
print(series * 10)

0     70
1     90
2    110
3    150
4    170
5    210
6    290
7    550
8    770
9    990
dtype: int64

In [42]:
series = pd.Series([7,9,11,15,17,21,29,55,77,99])
print(series // 10)

0    0
1    0
2    1
3    1
4    1
5    2
6    2
7    5
8    7
9    9
dtype: int64

In [44]:
# Attributes of Series
car_list = np.array(['Taigun','Thar','Magnite','Brezza','City','Thar',
                    'Harrier','Slavia','City','Fortuner','Creta'])
car_model = pd.Series(
    car_list,
    name = 'Car Model '
)
car_model

0       Taigun
1         Thar
2      Magnite
3       Brezza
4         City
5         Thar
6      Harrier
7       Slavia
8         City
9     Fortuner
10       Creta
Name: Car Model , dtype: object

In [45]:
car_model.is_unique # False

False

In [46]:
# Students_Data -> Name as Index , and Marks as Value
name = pd.Series(['Shyam','Swinki','Rajat','Vaibhav','Deepak','Harisha','Pragya','Aryan',
                 'Shahzain','Kajal','Umang','Shubham'])
marks = np.array([95,99,91,89,85,91,77,95,97,92,81,90])
stud_series = pd.Series(marks,name)
stud_series

Shyam       95
Swinki      99
Rajat       91
Vaibhav     89
Deepak      85
Harisha     91
Pragya      77
Aryan       95
Shahzain    97
Kajal       92
Umang       81
Shubham     90
dtype: int32

In [47]:
stud_series.index

Index(['Shyam', 'Swinki', 'Rajat', 'Vaibhav', 'Deepak', 'Harisha', 'Pragya',
       'Aryan', 'Shahzain', 'Kajal', 'Umang', 'Shubham'],
      dtype='object')

In [48]:
stud_series.values

array([95, 99, 91, 89, 85, 91, 77, 95, 97, 92, 81, 90])

In [49]:
# Indexing .iloc Vs loc
stud_series['Shubham'] # case-sensitive

90

In [50]:
# stud_series[7] # KeyError
stud_series.loc['Swinki']

99

In [51]:
stud_series.iloc[-3]

92

In [52]:
stud_series.loc[['Shyam','Rajat','Deepak']]

Shyam     95
Rajat     91
Deepak    85
dtype: int32

In [53]:
# Limit -> Order By ['Sorting'] ['SQL']
# .head() -> preview of the Series/DataFrame [by default 5 rows returns]
stud_series.head() # First 5 values from the Series

Shyam      95
Swinki     99
Rajat      91
Vaibhav    89
Deepak     85
dtype: int32

In [54]:
# .tail() -> preview of the Series/DataFrame [by default 5 rows returns]
stud_series.tail() # Last 5 values from the series

Aryan       95
Shahzain    97
Kajal       92
Umang       81
Shubham     90
dtype: int32

In [55]:
stud_series.head(7) # First 7 values from the Series

Shyam      95
Swinki     99
Rajat      91
Vaibhav    89
Deepak     85
Harisha    91
Pragya     77
dtype: int32

In [56]:
stud_series.tail(9) # Last 9 values from the Series

Vaibhav     89
Deepak      85
Harisha     91
Pragya      77
Aryan       95
Shahzain    97
Kajal       92
Umang       81
Shubham     90
dtype: int32

In [57]:
stud_series.values

array([95, 99, 91, 89, 85, 91, 77, 95, 97, 92, 81, 90])

In [58]:
stud_series.values.dtype

dtype('int32')

In [59]:
# Data Profiling [Statistical Analysis]
stud_series.describe()

count    12.000000
mean     90.166667
std       6.478402
min      77.000000
25%      88.000000
50%      91.000000
75%      95.000000
max      99.000000
dtype: float64

In [60]:
car_model.describe()

count       11
unique       9
top       Thar
freq         2
Name: Car Model , dtype: object

In [61]:
# Frequency - Mode
car_model.value_counts()

Car Model
Thar        2
City        2
Taigun      1
Magnite     1
Brezza      1
Harrier     1
Slavia      1
Fortuner    1
Creta       1
Name: count, dtype: int64

In [62]:
# Sorting -> Ascending To Descending
stud_series.sort_values()

Pragya      77
Umang       81
Deepak      85
Vaibhav     89
Shubham     90
Rajat       91
Harisha     91
Kajal       92
Shyam       95
Aryan       95
Shahzain    97
Swinki      99
dtype: int32

In [63]:
# Sorting -> High to Low []
# Sort a Series in ascending or descending order by some criterion.
stud_series.sort_values(ascending = False) # Desc to Asc

Swinki      99
Shahzain    97
Shyam       95
Aryan       95
Kajal       92
Rajat       91
Harisha     91
Shubham     90
Vaibhav     89
Deepak      85
Umang       81
Pragya      77
dtype: int32

In [64]:
stud_series # Orginal Table as the above changes are Temporary

Shyam       95
Swinki      99
Rajat       91
Vaibhav     89
Deepak      85
Harisha     91
Pragya      77
Aryan       95
Shahzain    97
Kajal       92
Umang       81
Shubham     90
dtype: int32

In [65]:
# sort_index() # Object [Albhatically Sort -> 'ASCII'] 'A'->'Z'
stud_series.sort_index()

Aryan       95
Deepak      85
Harisha     91
Kajal       92
Pragya      77
Rajat       91
Shahzain    97
Shubham     90
Shyam       95
Swinki      99
Umang       81
Vaibhav     89
dtype: int32

In [66]:
# sort_index() # Object [Albhatically Sort -> 'ASCII'] 'Z'->'A'
stud_series.sort_index(ascending = False) # reversed

Vaibhav     89
Umang       81
Swinki      99
Shyam       95
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Harisha     91
Deepak      85
Aryan       95
dtype: int32

In [67]:
stud_series # Orginal Table as the above changes are Temporary

Shyam       95
Swinki      99
Rajat       91
Vaibhav     89
Deepak      85
Harisha     91
Pragya      77
Aryan       95
Shahzain    97
Kajal       92
Umang       81
Shubham     90
dtype: int32

In [68]:
stud_series.index

Index(['Shyam', 'Swinki', 'Rajat', 'Vaibhav', 'Deepak', 'Harisha', 'Pragya',
       'Aryan', 'Shahzain', 'Kajal', 'Umang', 'Shubham'],
      dtype='object')

In [69]:
stud_series.values

array([95, 99, 91, 89, 85, 91, 77, 95, 97, 92, 81, 90])

0-9 > A to Z > a to z, in Ascending Order
0-9 < A to Z < a to z, in Descending Order

In [70]:
# Permanent Changes
# Marks High to Low 
stud_series = stud_series.sort_values(ascending = False)
stud_series

Swinki      99
Shahzain    97
Shyam       95
Aryan       95
Kajal       92
Rajat       91
Harisha     91
Shubham     90
Vaibhav     89
Deepak      85
Umang       81
Pragya      77
dtype: int32

In [71]:
stud_series.index

Index(['Swinki', 'Shahzain', 'Shyam', 'Aryan', 'Kajal', 'Rajat', 'Harisha',
       'Shubham', 'Vaibhav', 'Deepak', 'Umang', 'Pragya'],
      dtype='object')

In [72]:
stud_series.values

array([99, 97, 95, 95, 92, 91, 91, 90, 89, 85, 81, 77])

In [73]:
# Permanent Changes
stud_series.sort_index(ascending = False , inplace = True) # 'Z' to 'A'
stud_series

Vaibhav     89
Umang       81
Swinki      99
Shyam       95
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Harisha     91
Deepak      85
Aryan       95
dtype: int32

In [74]:
stud_series.index

Index(['Vaibhav', 'Umang', 'Swinki', 'Shyam', 'Shubham', 'Shahzain', 'Rajat',
       'Pragya', 'Kajal', 'Harisha', 'Deepak', 'Aryan'],
      dtype='object')

In [75]:
stud_series.values

array([89, 81, 99, 95, 90, 97, 91, 77, 92, 91, 85, 95])

In [76]:
# 'Dropping an elements' from a Series
stud_series.drop('Umang') # Temporary Drop

Vaibhav     89
Swinki      99
Shyam       95
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Harisha     91
Deepak      85
Aryan       95
dtype: int32

In [77]:
stud_series # Changes won't reflected on my original Series

Vaibhav     89
Umang       81
Swinki      99
Shyam       95
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Harisha     91
Deepak      85
Aryan       95
dtype: int32

In [78]:
# Permanent Drop -> inplace = True
stud_series.drop('Umang' , inplace = True)
stud_series

Vaibhav     89
Swinki      99
Shyam       95
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Harisha     91
Deepak      85
Aryan       95
dtype: int32

# If you are dropping a person from stud_series that doesn't exist.
stud_series.drop('Chirag' , inplace = True)
stud_series # KeyError: "['Chirag'] not found in axis"

In [80]:
# L.H.S = R.H.S [Permanent Drop]
stud_series = stud_series.drop('Harisha')
stud_series

Vaibhav     89
Swinki      99
Shyam       95
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Deepak      85
Aryan       95
dtype: int32

In [81]:
# .replace() -> String Manipulation
stud_series.replace(95,98,inplace = True)
stud_series

Vaibhav     89
Swinki      99
Shyam       98
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Deepak      85
Aryan       98
dtype: int32

In [83]:
# .tolist()
stud_series.index.tolist()

['Vaibhav',
 'Swinki',
 'Shyam',
 'Shubham',
 'Shahzain',
 'Rajat',
 'Pragya',
 'Kajal',
 'Deepak',
 'Aryan']

In [84]:
type(stud_series.index.tolist())

list

In [85]:
stud_series[stud_series.index == 'Aryan']

Aryan    98
dtype: int32

In [86]:
stud_series[stud_series.index == 'Aryan'].replace(98,95)

Aryan    95
dtype: int32

stud_series[stud_series.index == 'Aryan'].replace(98,95,inplace = True)

In [87]:
stud_series[stud_series.index == 'Aryan'] = stud_series[stud_series.index == 'Aryan'].replace(98,95)
stud_series

Vaibhav     89
Swinki      99
Shyam       98
Shubham     90
Shahzain    97
Rajat       91
Pragya      77
Kajal       92
Deepak      85
Aryan       95
dtype: int32

stud_series = stud_series[stud_series.index == 'Aryan'].replace(98,95)
stud_series # Aryan in Stud_series

In [88]:
# isnull / isna() / notnull()
stud_series.isnull() # False represent no null value present

Vaibhav     False
Swinki      False
Shyam       False
Shubham     False
Shahzain    False
Rajat       False
Pragya      False
Kajal       False
Deepak      False
Aryan       False
dtype: bool

In [89]:
stud_series.isna()

Vaibhav     False
Swinki      False
Shyam       False
Shubham     False
Shahzain    False
Rajat       False
Pragya      False
Kajal       False
Deepak      False
Aryan       False
dtype: bool

In [90]:
stud_series.notnull() # True

Vaibhav     True
Swinki      True
Shyam       True
Shubham     True
Shahzain    True
Rajat       True
Pragya      True
Kajal       True
Deepak      True
Aryan       True
dtype: bool

In [91]:
stud_series.notnull().sum() # 10

10

In [92]:
stud_series.isna().sum() # False [0] -> 0

0

In [96]:
# Mathematical Operations on 2 Different Series
label1 = ['a','b','c','d','e']
label2 =  ['p','q','a','d','c']
seriesA = pd.Series([11,22,33,44,55] , index = label1)
seriesB = pd.Series([5,15,-9,-21,0] , index = label2)
print("\n SeriesA:")
print(seriesA)
print("\n SeriesB:")
print(seriesB)

 SeriesA:
a    11
b    22
c    33
d    44
e    55
dtype: int64

 SeriesB:
p     5
q    15
a    -9
d   -21
c     0
dtype: int64

In [97]:
print(seriesA.shape)
print(seriesB.shape)

(5,)
(5,)

In [98]:
resultSeries = seriesA + seriesB
resultSeries

a     2.0
b     NaN
c    33.0
d    23.0
e     NaN
p     NaN
q     NaN
dtype: float64

In [99]:
resultSeries.isna()

a    False
b     True
c    False
d    False
e     True
p     True
q     True
dtype: bool

In [100]:
resultSeries.isna().sum() # Count of Missing Values

4

In [102]:
resultSeries.notnull() # Boolean Return [True for Non-NullValue]

a     True
b    False
c     True
d     True
e    False
p    False
q    False
dtype: bool

In [104]:
resultSeries.notnull().sum() # Count of Non-Null Values

3

In [106]:
# Cleaning -> Handling a Missing Values
# Impact Analysis [.drop] Vs Imputing[.fill]
resultSeries.dropna() # Temporary Changes

a     2.0
c    33.0
d    23.0
dtype: float64

In [107]:
resultSeries

a     2.0
b     NaN
c    33.0
d    23.0
e     NaN
p     NaN
q     NaN
dtype: float64

In [108]:
resultSeries.fillna(0)

a     2.0
b     0.0
c    33.0
d    23.0
e     0.0
p     0.0
q     0.0
dtype: float64

In [109]:
resultSeries

a     2.0
b     NaN
c    33.0
d    23.0
e     NaN
p     NaN
q     NaN
dtype: float64

In [110]:
resultSeries.fillna(0, inplace = True)
resultSeries

a     2.0
b     0.0
c    33.0
d    23.0
e     0.0
p     0.0
q     0.0
dtype: float64

In [111]:
# Mathematical Operations on 2 Different Series
label1 = ['a','b','c','d','e']
label2 =  ['p','q','a','d','c']
seriesA = pd.Series([11,22,33,44,55] , index = label1)
seriesB = pd.Series([5,15,-9,-21,0] , index = label2)
print("\n SeriesA:")
print(seriesA)
print("\n SeriesB:")
print(seriesB)

 SeriesA:
a    11
b    22
c    33
d    44
e    55
dtype: int64

 SeriesB:
p     5
q    15
a    -9
d   -21
c     0
dtype: int64

In [112]:
resultSeries = seriesA * seriesB
resultSeries

a    -99.0
b      NaN
c      0.0
d   -924.0
e      NaN
p      NaN
q      NaN
dtype: float64

In [113]:
resultSeries.dropna(inplace = True)
resultSeries # Permanent Changes

a    -99.0
c      0.0
d   -924.0
dtype: float64